title = "Page not found (404)"
url = "/404"
layout = "master"
==
<div class="jumbotron" style="padding: 100px 0px; margin-bottom: 0px;">
    <div class="container">
        <h1>Page not found</h1>
        <p>We're sorry, but the page you requested cannot be found.</p>
    </div>
</div>