title = "About Us"
url = "/about-us"
layout = "master"
==
{% put styles %}
    <link href="{{ [
        'assets/css/about.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-about" class="main">
  <section id="about">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 hidden-xs">
          <img src="{{ 'assets/images/about/map.jpg'|theme }}" alt="">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <h1>About Us</h1>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>IG Premium Sdn Bhd was incorporated in 1998. Previously known as Sokowest Marketing, it started from a humble beginning with only two staff that focused in selling soft and plush toys as the main inventory of the company. After having a much more better footing in the market, Sokowest Marketing evolved into IG Premium and started offering an extensive selection of premium and corporate gifts. These gifts range from various categories which includes bags, stationaries, household products and various others that can be personalized for a much personal touch. Checkout our product page to find out our full offering of products and services. </p>
              
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>IG Premium has experienced exponential growth, where our clientele base has moved beyond Malaysia into different countries such as Singapore, Brunei and Thailand. To keep up with the demand, we have upgraded our capacity into a larger distributor and importer. </p>
              <p>From the first ever outlet we had in Malacca in 1998, IG Premium has slowly but surely made it’s way in expanding it’s business to serve our customer base much efficiently. In 2003, we’ve opened the second branch office in Sunway Mas Commercial Centre (PJ), marking our first step in growing the business bigger. And in 2012, our third branch office was established in One Puchong (Puchong). </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 visible-xs">
          <img src="{{ 'assets/images/about/map.jpg'|theme }}" alt="">
        </div>

      </div>
    </div>
  </section>

  <section id="about-cont">
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-sm-12 col-md-12">
          <img src="{{ 'assets/images/about/warehouse_1.jpg'|theme }}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 left">
          <p>In 2017, IG Premium have once again taken another step further to be able to offer various products for our clients by launching our own new in-house brands, in order to fulfill a few market gaps. We have produced three new brands focusing on different segments of type of gifts. CLYMER™, a line of exclusive bags made from imported nylon, TOPO™, a line of brand that encompasses bags and souvenirs made out of felt material, which consist of various types of wool and synthetic fibers, and PHYLEX™, a line of exclusive metal pen.</p>
          <p>To be able to meet our daily demands that come from different countries, we have a huge warehouse (the size of 7 football fields!) to accommodate in storing products, manufactured by 30 market-leading manufacturers. These manufacturers come from countries such as China, India, Indonesia and Vietnam, and we’ve worked hand in hand to provide the best products and services to our clients. We’ve also have worked and established a strong working relationship with small to medium-sized resellers and agents that offer services to further add value for our clients. </p>

          <p>With an extensive background in the market, we can ensure top notch services, wider selection of great and quality finish products and competitive and fair prices that will meet your demands and ensure satisfaction.</p>
        </div>
      </div>
      <div class="row visible-xs">
        <div class="col-xs-12">
          <img src="{{ 'assets/images/about/warehouse_1.jpg'|theme }}" alt="">
          <img src="{{ 'assets/images/about/warehouse_2.jpg'|theme }}" alt="">
        </div>
      </div>
      <div class="row hidden-xs">
        <div class="col-sm-12 col-md-12">
          <img src="{{ 'assets/images/about/warehouse_2.jpg'|theme }}" alt="">
        </div>
      </div>
      {# <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <p>Over the years, we as a direct importer / wholesaler have also developed a strong relationship with small to medium-sized (SME) valued added resellers and agents.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <p>With a strong foundation since our establishment, we can ensure that our services, products and prices will meet to your demands and satisfactions.</p>
        </div>
      </div> #}
    </div>
  </section>

  <section id="mission-vision">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-4 vision">
          <h2>Vision & Mission</h2>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 mission">
          <p>Leading and maintaining a long-term growth in the gifts and premiums industry.</p>
          <ul class="text-left">
            <li>TO <strong>EXCEL</strong> in providing proactive and reactive services.</li>
            <li>TO constantly <strong>IMPROVE</strong> and provide innovative and quality products.</li>
            <li>TO <strong>EXPAND</strong> our marketing platform through CRM (Customer Relationship Management) that fits clients’ needs and wants.</li>
            <li>TO provide <strong>UNITY</strong> and <strong>TEAMWORK</strong> among team members.</li>
            <li>TO achieve <strong>COMPETITIVE ADVANTAGE</strong> in the gifts and premiums industry.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="why-choose-us">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h2>Why Choose Us?</h2>
          <p>IG Premium has been in the market for a long time and we’ve seen how the market demand evolved over the years, thus giving us an insight on how we’ll be able to satisfy our customer’s needs. Some of the reasons why you should choose IG Premium are: </p>
          <ul>
            <li>We have a wide range of products that caters to different market segment. </li>
            <li>Our large warehouse ensures all the products you’re looking for are always in stock.</li>
            <li>30 market-leading manufactures supplying our inventory, giving you a better assurance on the quality of our products. </li>
            <li>We have in-house production team which overlooks printing services and product installation. </li>
            <li>Our customer service team is world class, providing our clients with a line of communication to seek out after sales services.</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Kg1XL6oH-i8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>