title = "Catalogue"
url = "/catalogue"
layout = "master"

[catalogues]
==
{% put styles %}
  <link href="{{ [
    'assets/css/products.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-categories">
  <div class="main-container container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ url('/') }}">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="{{ url('catalogue') }}">Catalogue</a>
      </li>
    </ul>

    <div class="row">
      {% partial "site/sidebar"
        hideFilter = "true"
      %}

      <!--Middle Part Start-->
      <div id="content" class="col-md-9 col-sm-8">
        <div class="products-category">
          {# <div class="category-derc">
            <div class="row">
              <div class="col-sm-12">
                {% component 'homeBanner' %}
              </div>
            </div>
          </div> #}

          <div class="module menu-category titleLine">
            <h3 class="modtitle">Catalogues</h3>
          </div>
          <!--changed listings-->
          <div class="catalogues-list row grid">
            {% if active_catalogues|length <= 0 %}
              <div class="col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h6>Currently we have no any catalogues yet. But you can check out our categories.</h6>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4 text-right">
                    <a href="{{ url('categories') }}" class="btn btn-default">View Categories</a>
                  </div>
                </div>
              </div>
            {% else %}
              {% for catalogue in active_catalogues %}
                {% if catalogue.catalogue_file and catalogue.thumb %}
                  <div class="col-xs-12 col-sm-6 col-md-4 catalogue-layout">
                    <div class="catalogue-item">
                      <a href="{{ catalogue.catalogue_file|media }}" download="" target="_blank">
                        <img src="{{ catalogue.thumb.getPath() }}" alt="{{ catalogue.title }}">
                        <h3>{{ catalogue.title }}</h3>
                        {% if catalogue.description %}
                          <p class="desc">{{ catalogue.description }}</p>
                        {% endif %}
                        {% if catalogue.start_date and catalogue.end_date %}
                          {% if catalogue.start_date == catalogue.end_date %}
                            <p class="date">{{ catalogue.start_date|date('j M Y') }}</p>
                          {% else %}
                            <p class="date">{{ catalogue.start_date|date('j M Y') }} - {{ catalogue.end_date|date('j M Y') }}</p>
                          {% endif %}
                        {% elseif catalogue.start_date %}
                          <p class="date">From {{ catalogue.start_date|date('j M Y') }}</p>
                        {% elseif catalogue.end_date %}
                          <p class="date">Ends at{{ catalogue.end_date|date('j M Y') }}</p>
                        {% endif %}
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>

          {% if ended_catalogues|length > 0 %}
            <div class="module menu-category archived-catalogues titleLine">
              <h3 class="modtitle">Archived Catalogues</h3>
            </div>
            <!--changed listings-->
            <div class="catalogues-list row grid">
              {% for catalogue in ended_catalogues %}
                {% if catalogue.file and catalogue.thumb %}
                  <div class="col-xs-12 col-sm-6 col-md-4 catalogue-layout">
                    <div class="catalogue-item">
                      <a href="{{ catalogue.file.getPath() }}" target="_blank">
                        <img src="{{ catalogue.thumb.getPath() }}" alt="{{ catalogue.title }}">
                        <h3>{{ catalogue.title }}</h3>
                        {% if catalogue.description %}
                          <p class="desc">{{ catalogue.description }}</p>
                        {% endif %}
                        {% if catalogue.start_date and catalogue.end_date %}
                          {% if catalogue.start_date == catalogue.end_date %}
                            <p class="date">{{ catalogue.start_date|date('j M Y') }}</p>
                          {% else %}
                            <p class="date">{{ catalogue.start_date|date('j M Y') }} - {{ catalogue.end_date|date('j M Y') }}</p>
                          {% endif %}
                        {% elseif catalogue.start_date %}
                          <p class="date">From {{ catalogue.start_date|date('j M Y') }}</p>
                        {% elseif catalogue.end_date %}
                          <p class="date">Ends at{{ catalogue.end_date|date('j M Y') }}</p>
                        {% endif %}
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          <!--// End Changed listings-->
        </div>
      </div>
    </div>
    <!--Middle Part End-->
  </div>
  <!-- //Main Container -->
</main>

{% put scripts %}
<script>
    $(document).ready(function(){
        $('.products-category .catalogues-list .catalogue-layout').matchHeight({
            byRow: false,
            property: 'height',
        });
    });
</script>
{% endput %}
