title = "Categories"
url = "/categories"
layout = "master"

[categoriesList]
==
{% put styles %}
  <link href="{{ [
    'assets/css/products.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-categories">
  <div class="main-container container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ url('/') }}">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="{{ url('categories') }}">Categories</a>
      </li>
    </ul>

    <div class="row">
      {% partial "site/sidebar" hideFilter=true %}

      <!--Middle Part Start-->
      <div id="content" class="col-md-9 col-sm-8">
        <div class="products-category">
          {# <div class="category-derc">
            <div class="row">
              <div class="col-sm-12">
                {% component 'homeBanner' %}
              </div>
            </div>
          </div> #}
          <!--changed listings-->
          <div class="categories-list row grid">
            {% for category in categories %}
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="category-item">
                  <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia') }}">
                    <img src="{{ category.thumb.getPath()|resize(400, 225) }}" alt="">
                    <div class="bg-overlay"></div>
                    <h4>{{ category.title }}</h4>
                  </a>
                </div>
              </div>
            {% endfor %}

          </div>
          <!--// End Changed listings-->
        </div>
      </div>
    </div>
    <!--Middle Part End-->
  </div>
  <!-- //Main Container -->
</main>
