title = "Contact Us"
url = "/contact-us"
layout = "master"

[branchList]
==
{% put styles %}
    <link href="{{ [
        'assets/css/contact.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-contact" class="main">
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <h1>Contact Us</h1>
          <p>Should you have further enquiries, please do not hesitate to contact or feedback us. You can also send your enquiries by filling up the below form.</p>
          <p>Your valuable enquiries and feedbacks are important to us so that we can improve to further enhance our services and products for you.</p>
          <p>We will get back to you as soon as possible.</p>

          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="company" name="company" placeholder="Company (Optional)">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="contact_no" name="contact_no" placeholder="Contact No.">
            </div>
            <div class="form-group">
              <textarea type="text" class="form-control" id="message" name="message" placeholder="Message"></textarea>
            </div>

            <button type="submit" class="btn btn-default btn-submit">Submit</button>
          </form>
          
          <section id="emails-list">
            <p><b>(Order)</b> Please send your enquiries on your orders or place your order to <a href="mailto:ask_us@igpremium.com.my">ask_us@igpremium.com.my</a> .</p>
            
            <p><b>(Feedbacks / Suggestions)</b> Please send your feedbacks / suggestions to <a href="mailto:feedback@igpremium.com.my">feedback@igpremium.com.my</a> if you want us to further improve ourselves. We would be pleased to receive it. Thanks.</p>
          </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5">
          
          <section id="locations">
            <h2>IG Premium Sdn. Bhd. <small>737413-T</small></h2>

            {% component 'branchList' %}

            <div class="operation-hour">
              <h4>Our Working Hours (UTC +08:00)</h4>
              {% if company_info.operation_hour  %}
                {{ company_info.operation_hour|raw }}
              {% else %}
                <p>Monday - Friday: 9AM - 6PM</p>
                <p>Saturday: 9AM - 1PM</p>
              {% endif %}
            </div>
          </section>

        </div>
      </div>
    </div>
  </section>
</main>