title = "Gallery"
url = "/gallery"
layout = "master"

[gallery]
==
{% put styles %}
    <link href="{{ [
        'assets/css/gallery.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-gallery" class="main">
  <section class="gallery">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Gallery</h1>
          <div class="grid">
            {% for image in gallery.images %}
              <img src="{{ image.getPath() }}" alt="">
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% put scripts %}
<script src="{{ [
    'assets/vendor/imagesloaded/imagesloaded.pkgd.js',
    'assets/javascript/gallery.js',
]|theme }}"></script>
{% endput %}