title = "Home"
url = "/"
layout = "master"

[homeBanner]

[homeProductsListing]

[homePolicies]
==
{% put styles %}
  <link href="{{ [
    'assets/css/home.css',
  ]|theme }}" rel="stylesheet">
{% endput %}


<main id="page-home">
  <!-- Block slideshow  -->
  {% component 'homeBanner' %}
  <!-- //Block slideshow  -->

  <!-- Main Container  -->
  <div class="main-container ">
    <div class="container">
      <div class="row">

        {% component 'homePolicies' %}

        <div id="content" class="clearfix">
          <div class="col-xs-12 clearfix">
            <div class="module tab-slider titleLine">

              <div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
                <div class="loadeding"></div>
                <div class="ltabs-wrap">
                  <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0"
                    data-lg="1" data-md="1" data-sm="1" data-xs="1" data-margin="0">
                    <!--Begin Tabs-->
                    <div class="ltabs-tabs-wrap tabs-wrap__Line">
                      <span class="ltabs-tab-selected">Popular </span>
                      <span class="ltabs-tab-arrow">▼</span>
                      <div class="item-sub-cat  item-sub-cat__divided">
                        <ul class="ltabs-tabs cf">
                          <li class="ltabs-tab tab-sel" data-active-content="#popular-products">
                            <span class="ltabs-tab-label">Popular </span>
                          </li>
                          <li class="ltabs-tab" data-active-content="#cheapest-products">
                            <span class="ltabs-tab-label">Lowest Price </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- End Tabs-->
                  </div>
                  <div class="ltabs-items-container">
                    <!--Begin Items-->
                    <div id="popular-products" class="ltabs-items ltabs-items-selected products-list grid">
                      <div class="row products-slider">
                        {% for product in popular_products %}
                          <div class="col-md-12 col-sm-12">
                            <div class="ltabs-item product-layout">
                              {% partial 'placeholder::partial/_product_card'
                                product = product
                                matchHeight = "popular-products"
                              %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <!--Begin Items-->
                    <div id="cheapest-products" class="ltabs-items products-list grid">
                      <div class="row products-slider">
                        {% for product in cheapest_products %}
                          <div class="col-md-12 col-sm-12">
                            <div class="ltabs-item product-layout">
                              {% partial 'placeholder::partial/_product_card'
                                product = product
                                matchHeight = "cheap-products"
                              %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!--End Items-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //Main Container -->

  {% component 'ourTestimonials' %}
  
  <!-- Block Spotlight2  -->
  <section class="so-spotlight2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="module tab-slider titleLine">
            <h3 class="modtitle">Featured Categories</h3>
            <div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
              <div class="loadeding"></div>
              <div class="ltabs-wrap">
                <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0"
                  data-lg="4" data-md="3" data-sm="2" data-xs="1" data-margin="30">
                  <!--Begin Tabs-->
                  <div class="ltabs-tabs-wrap">
                    <span class="ltabs-tab-selected">Popular </span>
                    <span class="ltabs-tab-arrow">▼</span>
                    <div class="item-sub-cat item-sub-cat__right">
                      <ul class="ltabs-tabs cf">
                        {% for featured_category in featured_categories %}
                          <li class="ltabs-tab{{ loop.index == 1 ? ' tab-sel' : '' }}" data-active-content="#{{ featured_category.slug }}-products">
                            <span class="ltabs-tab-label">{{ featured_category.title }} </span>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <!-- End Tabs-->
                </div>
                <div class="ltabs-items-container">
                  {% for featured_category in featured_categories %}
                    <!--Begin Items-->
                    <div id="{{ featured_category.slug }}-products" class="ltabs-items products-list grid{{ loop.index == 1 ? ' ltabs-items-selected': '' }}">
                      <div class="row products-slider">
                        {% for product in featured_category.active_products %}
                          <div class="col-md-12 col-sm-12">
                            <div class="ltabs-item product-layout">
                              {% partial 'placeholder::partial/_product_card'
                                product = product
                                matchHeight = "popular-products"
                              %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}

                </div>
                <!--End Items-->


              </div>

            </div>

          </div>

          <div class="module titleLine module--5x">
            <h3 class="modtitle">Categories</h3>
            <div class="categories-list modcontent clearfix">
              <div class="row">
                {% for category in categories %}
                  {% if loop.index < 12 %}
                    <div class="col-xs-6 col-sm-4 col-md-3" data-mh="categories">
                      <div class="category-item">
                        <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia') }}">
                          <img src="{{ category.thumb.getPath()|resize(400, 225) }}" alt="">
                          <div class="bg-overlay"></div>
                          <h4>{{ category.title }}</h4>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
                <div class="col-xs-6 col-sm-4 col-md-3" data-mh="categories">
                  <div class="more-categories category-item">
                    <a class="btn btn-default" href="{{ url('categories') }}">
                      <h4>
                        More Categories
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </section>
  <!-- //Block Spotlight2  -->

  <script type="text/javascript">
    <!--
    var $typeheader = 'header-home1';
    //-->
  </script>
</main>

{% put scripts %}
<script src="{{ [
  'assets/vendor/jquery-match-height/jquery.matchHeight-min.js',
]|theme }}"></script>
{% endput %}