title = "Our Services"
url = "/our-services"
layout = "master"
is_hidden = 0

[ourServices]

[ourPartners]
==
{% put styles %}
    <link href="{{ 'assets/vendor/slick/slick.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/services.css'|theme }}" rel="stylesheet">
{% endput %}


<main id="page-services" class="main">

  <section id="services">
    <div class="container">
      <div class="row text-center section-header">
        <div class="col-sm-12 col-md-12">
          <h1>Our Services</h1>
          <p>We provide all kinds of printing services at an affordable price to suit your marketing needs on the products which you purchased with us.</p>
        </div>
      </div>
      <div class="row">
        {% for service in services %}
          <div class="col-xs-12 col-sm-6 col-md-4 card-service" data-match-height="card-service">
            <div class="thumbnail" style="background-image: url({{ service.featured_image.getPath() }})"></div>
            <h2 class="card-title">{{ service.title }}</h2>
            <div class="card-desc">
              {{ service.description|raw }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% if partners|length > 0 %}
    <section id="partners">
      <div class="container">
        <div class="row text-center section-header">
          <div class="col-sm-12 col-md-12">
            <h1>Our Partners</h1>
            <p>Lorem ipsum</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="partners-list">
              {% for partner in partners %}
                <div class="partner-logo">
                  <img src="{{ partner.logo.getPath() }}" alt="{{ partner.name }}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

</main>

{% put scripts %}
<script src="{{ 'assets/vendor/slick/slick.js'|theme }}"></script>
<script src="{{ 'assets/javascript/services.js'|theme }}"></script>
{% endput %}