title = "Terms"
url = "/terms"
layout = "master"

[branchList]
==
{% put styles %}
    <link href="{{ [
        'assets/css/terms.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-terms" class="main">
  <section id="terms-and-conditions">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Terms & Conditions</h2>
          <h3>1. GENERAL</h3>
          <p>Thank you for taking your time to shop at IG Premium’s website. This page forms the Terms and Conditions in accordance with which we supply Products (each a “Product”) listed on our websites www.igpremium.com.my (the “Site”) to you (the Terms and Conditions). Please take some time off to read these Terms and Conditions before ordering any products from the site. By ordering any of our products, you agreed to be bounded by these Terms and Conditions. </p>

          <p>IG PREMIUM SDN BHD reserves the right to modify and change the Terms and Conditions at any time. You should visit our page regularly to take note of any changes we have made to our Terms and Conditions.</p>
        </div>
      </div>
      <hr>
    </div>
  </section>


  <section id="privacy-policy">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Privacy Policy</h2>
          <h3>Consent Authorisation Under Personal Data Protection Act 2010 (“PDPA Act”)</h3>
          <p>Pursuant to the PDPA Act, you hereby give your(s) consent to IG PREMIUM SDN BHD, a registered (nature of business) company under the PDPA Act to process your(s) company and personal data.</p>

          <p>The Personal Data Protection Act 2010 (the “Act”), which regulates the processing of personal data in commercial transactions, applies to IG PREMIUM SDN BHD and its affiliates ("Company”, “we", “us”, “our”). For the purpose of this Privacy Policy (“Policy”), the terms “personal data” and “processing” shall have the same meaning as prescribed in the Act. </p>

          <p>We may collect your personal data when you register an account with us or communicate with us either through our website at www.igpremium.com.my or other sites, platforms or websites operated by us (“Website”) or contacting our customer service. This Policy describes how we handle and process your personal data for our services on our websites and its related sites, services and tools (the "Website"). </p>

          <p>By accepting this Policy and the Terms and Conditions or upon registration, you expressly consent to us processing your personal data in accordance with this Policy.</p>
        </div>
      </div>
      <hr>
    </div>
  </section>


  <section id="price-and-payments">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Price & Payment</h2>
          <p>Whilst we make the best efforts to ensure that all details, descriptions and prices which appear on this site are accurate, there may be instances where errors may occur. If we discover an error in the price of any products which you have ordered, we will inform you as soon as possible and give you the option of reconfirming your order at the correct price or cancelling it. If we are unable to contact you, we will treat the order as cancelled. If you cancel your order before we have shipped it to you, and you have already paid for your order, you will receive a full refund via cash value paid on the invoice.</p>

          <h4>Are the prices already inclusive of GST?</h4>
          <p>Where applicable, prices are inclusive of Goods and Services Tax (GST) and reflected in Malaysian Ringgit (MYR). Delivery costs will be charged in addition where applicable; such additional charges are clearly displayed and included in the “Final” Total.</p>

          <p>We are under no obligation to fulfill your order if the price listed on the website is incorrect (even after your order has been acknowledged by us).</p>

          <h4>How to Make Payment ?</h4>
          <ol>
            <li>
              <h5>Online Banking</h5>
              <p>IG PREMIUM supports ipay88 Payment Gateway which has 14 years ratio of far below industry threshold of proven fraud prevention systems and monitoring to ensure that all of your transactions are safeguarded. You will have a peace of mind whenever you shop at our site. iPay88 accepts a comprehensive of Online Payments options such as:</p>
              <div class="text-center">
                <img style="max-width: 100%; margin-bottom: 30px;" src="{{ 'assets/images/all-payment-methods.jpg'|theme }}" alt="">
              </div>
            </li>
            <li>
              <h5>Cash Deposit Machine (CDM) / ATM / Instant Transfer (Local Bank within Malaysia)</h5>
              <p>
              Bank Name : Maybank Berhad<br>
              Payable to : IG PREMIUM SDN BHD<br>
              Account No. : 5540-6232-7120
              </p>
              <p>Once payment has been made, kindly email your bank-in payment (either screenshot or scanned copy) slip details to us at accounts@igpremium.com.my.</p>

              <p>In the same email, kindly include the following details:</p>
              <ol>
                <li>Order ID (eg : abc1234)</li>
                <li>Mode of Payment (eg : CDM / MBB IBG / MBB Instant Transfers / Bank Counters and others)</li>
                <li>Bank in Amount (eg : RM12.34)</li>
              </ol>
            </li>
          </ol>

        </div>
      </div>
      <hr>
    </div>
  </section>


  <section id="registration">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Registration</h2>
          <p>To place an order, you must first register with us by creating an account on the site. Information submitted must be accurate, complete, not misleading, true and kept up-to-date to ensure smooth transaction and delivery processes.</p>

          <p>You shall not misuse the site by creating multiple users. By using this site and providing information as a registered user, you are in agreement with our privacy policy. We are not responsible for the breach of our privacy statement or other contents on websites outside of the IG PREMIUM SDN BHD domain name.</p>

          <p>All personal data shall be provided by you voluntarily unless where it is indicated as mandatory. If you fail to supply us the compulsory personal data, we may refuse to process your personal data for any of the purposes and/or result in us being unable to provide you with the services and/or products requested. Failure to provide accurate and truthful personal data may result in our inability to serve you effectively.</p>
        </div>
      </div>
      <hr>
    </div>
  </section>


  <section id="shipping-and-delivery">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Shipping & Delivery</h2>
          <h4>Where can you send the items?</h4>
          <ul>
            <li>Currently, we can only send orders to street addresses in Malaysia and unable to ship to any international address.</li>
            <li>We do not deliver to a PO Box address, military and protected areas. Delivery charges for failed attempted delivery to such restricted areas will be borne by you. </li>
            <li>We are currently only able to deliver to one delivery address per order. If you’d like to deliver to multiple addresses, please place a separate order for each unique address.</li>
          </ul>

          <h4>What is the Shipping cost? <small>(Not applicable for dealers / distributors)</small></h4>
          <table class="table table-responsive table-bordered table-striped" border="1" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td><p align="center"><strong>Weight</strong></p></td>
                <td><p align="center"><strong>Peninsular Malaysia</strong></p></td>
                <td><p align="center"><strong>East Malaysia (Sarawak)</strong></p></td>
                <td><p align="center"><strong>East Malaysia (Sabah)</strong></p></td>
              </tr>
              <tr>
                <td><strong>First 4.000kg</strong></td>
                <td><p align="center">RM 5.00</p><p align="center">FREE for Purchase Above RM 500</p></td>
                <td><p align="center">RM 12.00</p><p align="center">FREE for Purchase Above RM 500</p></td>
                <td><p align="center">RM 15.00</p><p align="center">FREE for Purchase Above RM 500</p></td>
              </tr>
              <tr>
                <td><strong>Add 1.000kg</strong></td>
                <td><p align="center">RM1.00</p><p align="center">FREE for Purchase Above RM 500</p></td>
                <td><p align="center">RM6.00</p><p align="center">FREE for Purchase Above RM 500</p></td>
                <td><p align="center">RM6.00</p><p align="center">FFiREE for Purchase Above RM 500</p></td>
              </tr>
            </tbody>
          </table>


          <h4>Do you provide Free Delivery? <small>(Not applicable for dealers / distributors)</small></h4>
          <p>Yes, we do provide free delivery if your purchase is more than RM500.00/=.</p>

          <h4>When will I receive my purchased items?</h4>
          <h6>DELIVERY TIME (NORMAL CIRCUMSTANCES)</h6>
          <table class="table table-responsive table-bordered table-striped" border="1" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td><strong>Area</strong></td>
                <td><strong>Delivery Duration (Working Days)&nbsp;</strong></td>
              </tr>
              <tr>
                <td>Peninsular Malaysia</td>
                <td>1 - 3 Working Days</td>
              </tr>
              <tr>
                <td>East Malaysia (Sarawak / Sabah)</td>
                <td>3 - 5 Working Days</td>
              </tr>
            </tbody>
          </table>
          <p>*** Working days – not inclusive of Saturday, Sunday, and Public Holidays</p>

          <p>We strive to deliver your purchased products in the shortest time possible. All orders are in process as soon as the transaction is confirmed. All orders will be dispatched and delivered out by our appointed courier service, Monday – Friday, excluding weekends and public holidays.</p>

          <p>If delivery is delayed through your unreasonable refusal to accept delivery or if you do not (within two weeks of our first attempt to deliver the product to you) accept delivery of the product from the carrier, we (without affecting any other right or remedy available to us) would charge you for any fee and other costs reasonably incurred by us.</p>

          <h4>Under what circumstances my purchased items will be delayed?</h4>
          <ul>
            <li>Payment yet to receive or cleared</li>
            <li>Ordered not received</li>
            <li>Courier service delays </li>
            <li>Emergency situations </li>
            <li>Items out of stocks</li>
            <li>Promotional Periods / Festive Period</li>
          </ul>
          <p>However, fear not. The above are just special circumstances which might happen but not a common occurrence. We will make sure your purchased items are shipped out from our warehouse as soon as possible.</p>

          <h4>How to track my purchased items status?</h4>
          <p>After you have successfully placed in your order, our Customer Service team will conduct a verification process and update you as soon as possible by email. They will provide you the tracking number (Together with the tracking URL Link). </p>

          <p>Should you have any enquiries, you can also email us at ask_us@igpremium.com.my.</p>

          <h4>Is delivery timing the same during sales / promotional period / festive seasons ?</h4>
          <p>During peak sale/promotional periods, we may not be able to fulfill next day delivery due to heavy surges in online orders – you will be advised of items delivery issues when placing your order.</p>

          <h6>DELIVERY TIME (SPECIAL CIRCUMSTANCES)</h6>

          <table class="table table-responsive table-bordered table-striped" border="1" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td><strong>Area</strong></td>
                <td><strong>Delivery Duration (Working Days)&nbsp;</strong></td>
              </tr>
              <tr>
                <td>Peninsular Malaysia</td>
                <td>3 - 5 Working Days</td>
              </tr>
              <tr>
                <td>East Malaysia (Sarawak / Sabah)</td>
                <td>5 - 7 Working Days</td>
              </tr>
            </tbody>
          </table>
          <p>*** Working days – not inclusive of Saturday, Sunday, and Public Holidays</p>

          <p>It is advised to place your order 2 weeks in advance during festive periods such as Hari Raya, Chinese New Year, Deepavali, Christmas, etc.</p>
        </div>
      </div>
      <hr>
    </div>
  </section>

  

  <section id="return-and-exchange-policy">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Returns & Exchange Policy</h2>
          <p>We want you to absolutely love your IG PREMIUM purchase. However, things might not always work out as how we want (Ranging from delivery channels, packaging, and etc). To ensure customer satisfactions, we do provide returns and exchange for defective items within a 14 days period (2 weeks) from the time of receipt from the carrier.</p>

          <p>We allow return of products that are damaged during transits or due to faulty manufacturing. In such cases, the damaged products have to be returned first, before we deliver out another new one for replacement. The returned goods / products will be checked together with its Invoice. Before returning, the goods should be under good condition (original condition) when it is returned, and its packaging should also be in its original shipping condition as received. </p>

          <h4>How do I return the items back to you?</h4>
          <p>Please email us the details requested as below (Return Slip) on your purchase for return and exchange assistance :</p>
          <ul>
            <li>Name : (IG PREMIUM Account Username)</li>
            <li>Registered Email :</li>
            <li>Address :</li>
            <li>Contact No : Mobile / Telephone</li>
            <li>Order No :</li>
            <li>Product Name :</li>
            <li>Consignment Note No :</li>
            <li>Receive Date :</li>
            <li>Return Date :</li>
            <li>Reason : (For feedback purposes. It would also help to provide us with photos of the damaged/defective items)</li>
          </ul>

          <p>Once you have filled up the details, kindly email it to feedback@igpremium.com.my and our Customer Service team will contact you regarding the next course of action. Should you have further enquiries or doubts, you can also contact us at :</p>
          <table class="table table-responsive table-bordered table-striped" border="1" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td><p align="center"><strong>Working Hours</strong></p></td>
                <td><p align="center"><strong>Email</strong></p></td>
                <td><p align="center"><strong>Contact No</strong></p></td>
              </tr>
              <tr>
                <td>Monday – Friday : 9am – 6pm
                  <br>Saturday : 9am – 1pm
                  <br><em>(UTC +08:00) Malaysia Time.&nbsp;</em>
                </td>
                <td><a href="mailto:feedback@igpremium.com.my">feedback@igpremium.com.my</a>
                </td>
                <td>06-3377 733 / 016 – 886 7967</td>
              </tr>
            </tbody>
          </table>
          <p>We would be glad to help you and we hope that you have a wonderful experience shopping with us. </p>

          <h4>Who bears the returning cost items?</h4>
          <p>IG Premium reserves all rights to inspect the condition of the item(s) before processing any returns or exchanges. Customer shall bear the shipping and handling charges of returning any rejected return or exchange request item(s). In the event that a returned product is not damaged after inspection by our QC Personnel, transportation fees to redeliver the item are to be borne solely by the customer. IG PREMIUM SDN BHD will also not be responsible if your shipment is lost during the return transits.</p>

          <h4>What will I get back after I return the items?</h4>
          <p>We will either refund back the payment to your bank account (within 1-14 working days after received your items) or will provide you a pro-rated refund.</p>

          <p>Should there be any dispute on the refund amount for any return or exchange, refund will be based on cash value paid on the invoice or pro-rated refund.</p>

          <p>Our returns and exchanges policies do not cover damage resulting from unique, accidental, or wear and tear. It also does not cover products used in a manner or for a purpose not reasonably contemplated by igpremium.com.my. </p>

          <p>IG Premium makes no warranty in respect of any product, expressed or implied. IG Premium’s decisions on returns and exchanges are final.</p>

        </div>
      </div>
    </div>
  </section>
</main>