{% for outlet in outlets %}
  <div class="card-branch">
    <div class="card-info">
      <h3>{{ outlet.title }}</h3>
      {{ outlet.address|raw }}
    </div>
    <div class="card-map">
      <iframe src="{{ outlet.location_link }}" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
{% endfor %}