
<h1>Addresses</h1>

<div class="row addresses">
  <div class="col-sm-12 col-md-12">
    {% if shipping_addresses|length <= 0 and billing_addresses|length <= 0 %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10">
          <h6>There is no address stored. However, if you made any purchases, the shipping address and billing address will be stored and you can manage them in this section.</h6>
        </div>
        {# <div class="col-xs-12 col-sm-5 col-md-4 text-right">
            <a href="{{ url('categories') }}" class="btn btn-default">View Categories</a>
        </div> #}
      </div>
    {% else %}
      {% if shipping_addresses|length > 0 %}
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10">
            <h2>Shipping Address</h2>
          </div>
        </div>
        <table class="table table-responsive table-striped table-address">
          <thead>
            <tr>
              <th>#</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for address in shipping_addresses %}
              <tr data-address="{{ address.id }}">
                <td><strong>{{ loop.index }}.</strong></td>
                <td>
                  <h5>
                    <strong>{{ address.name }}</strong>
                    {% if address.company %}<br>{{ address.company }},{% endif %}
                    <br>{{ address.address_1 }},
                    {% if address.address_2 %}<br>{{ address.address_2 }},{% endif %}
                    <br>{{ address.postcode }} {{ address.state.name }}, {{ address.country.name }}.
                  </h5>
                </td>
                <td class="action-list text-right">
                  <a class="btn btn-default" href="{{ url('my-account/addresses/edit/' ~ address.id) }}" style="margin-bottom: 5px; padding-right: 9px;">
                    <i class="fa fa-edit"></i>
                  </a>
                  <form data-request="onRemoveAddress">
                    <input type="hidden" name="address_id" value="{{ address.id }}">
                    <button type="submit" class="btn btn-default btn-remove" data-toggle="tooltip" title="Remove address">
                      <i class="fa fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      {% if billing_addresses|length > 0 %}
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10">
            <h2>Billing Address</h2>
          </div>
        </div>
        <table class="table table-responsive table-striped table-address">
          <thead>
            <tr>
              <th>#</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for address in billing_addresses %}
              <tr data-address="{{ address.id }}">
                <td><strong>{{ loop.index }}.</strong></td>
                <td>
                  <h5>
                    <strong>{{ address.name }}</strong>
                    {% if address.company %}<br>{{ address.company }},{% endif %}
                    <br>{{ address.address_1 }},
                    {% if address.address_2 %}<br>{{ address.address_2 }},{% endif %}
                    <br>{{ address.postcode }} {{ address.state.name }}, {{ address.country.name }}.
                  </h5>
                </td>
                <td class="action-list text-right">
                  <a class="btn btn-default" href="{{ url('my-account/addresses/edit/' ~ address.id) }}" style="margin-bottom: 5px; padding-right: 9px;">
                    <i class="fa fa-edit"></i>
                  </a>
                  <form data-request="onRemoveAddress">
                    <input type="hidden" name="address_id" value="{{ address.id }}">
                    <button type="submit" class="btn btn-default btn-remove" data-toggle="tooltip" title="Remove address">
                      <i class="fa fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
  </div>
</div>

{% put scripts %}
<script type="text/javascript">
  $(function () {
    $('form').on('ajaxSuccess', function(event, context, data) {
      if (context.handler == 'onRemoveAddress'){
        if(data.status == "success"){
          swal({
            title: "Removed!",
            text: "Address has been deleted.",
            type: "success",
          });
          $('tr[data-address="' + data.results.id + '"]').remove();

          if ($('.table-address > tbody > tr').length <= 0){
            location.reload();
          }
        }
      }
    });
  });
</script>
{% endput %}