{% if cart_items|length > 0 %}
  <table class="table table-striped">
    <tbody>
      {% for item in cart_items %}
        <tr data-hash="{{ item.hexhash }}">
          <td class="text-left">
            <img src="{{ item.itemstocks[0].option.displayImage }}" alt="">
          </td>
          <td class="text-left">
            <a class="cart_product_name" href="{{ url('product/' ~ item.product.slug) }}">{{ item.product.title }}</a>
            x<span class="orderitem-quantity">{{ item.quantity }}</span> = <span class="orderitem-amount">{{ item.currency.unit }}{{ (item.quantity * item.unit_price)|number_format(2, '.', ',') }}</span>
          </td>
          <td class="text-right">
            <a href="#" class="btn btn-default btn-remove" data-hash="{{ item.hexhash }}">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No item in your cart yet. Add something to your cart now!</p>
{% endif %}