{% if products.total > 0 %}
  <div class="pagination">
    {% if products.total == 0 %}
      {% set totalPage = 1 %}
    {% else %}
      {% set totalPage = ( products.total / products.perPage )|round(0, 'ceil') %}
    {% endif %}

    {% set part = ((products.currentPage - 1) / 5)|round(0, 'floor') %}
    {% set totalPart = ((totalPage - 1) / 5)|round(0, 'floor') %}

    {% if products.currentPage != 1 %}
      <a href="{{ products.url(1) }}">FIRST</a>
    {% endif %}

    {% if products.currentPage > 1 %}
      {# <a href="{{ products.url( (part - 1)* 5 + 5 ) }}">PREV</a> #}
      <a href="{{ products.url( products.currentPage - 1 ) }}">PREV</a>
    {% endif %}

    {% for i in 1..totalPage %}
      {% if ((i - 1) / 5)|round(0, 'floor') == part %}
        <a href="{{ products.url( i ) }}"{{ (products.currentPage == i) ? ' class="active"' : '' }}>{{ i }}</a>
      {% endif %}
    {% endfor %}

    {% if part < totalPart %}
      <a href="{{ products.url((part + 1) * 5 + 1) }}">
        <i class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></i>
      </a>
    {% endif %}

    {% if products.hasMorePages %}
      <a href="{{ products.nextPageUrl }}">NEXT</a>
    {% endif %}

    {% if products.currentPage != totalPage %}
      <a href="{{ products.url(products.lastPage) }}">LAST</a>
    {% endif %}
  </div>
{% endif %}