<div class="product-options">
    <h4>Option</h4>
    {% set default_selected = "" %}
    {% for option in product.options %}
        {% if option.default_selected %}
            {% if default_selected == "" %}
                {% set default_selected = option %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="option-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {% if default_selected == "" %}
          {{ product.options }}
        {% else %}
          {{ default_selected.title }}
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="option-dropdown">
        {% for option in product.options %}
            <li>
                <a 
                  href="#" 
                  class="selection-card {% if default_selected == '' %}{% if loop.index == 1 %}selected{% endif %}{% else %}{% if option.id == default_selected.id %}selected{% endif %}{% endif %}"
                  data-qty="1" 
                  data-option-id="{{ option.id }}" 
                  data-id="{{ product.id }}" 
                  data-rrp="{{ option.rrp }}" 
                  data-price="{{ option.finalPrice.price }}" >
                    {{ option.title }} - {{ option.finalPrice.currency }}{{ option.finalPrice.price }}
                </a>
            </li>
        {% endfor %}
      </ul>
    </div>

    <input type="hidden" id="product-id" name="product-id" value="{{ product.id }}" />
    <input type="hidden" id="option-id" name="option-id" value="{% if default_selected == '' %}{{ product.options[0].id }}{% else %}{{ default_selected.id }}{% endif %}"/>
    <input type="hidden" name="count"  value="1" />

</div>

{% put scripts %}
<script>
    $(function(){
        events.subscribe('option.selected', function ($el) {
            $("#product-id").val($el.attr('data-id'));
            $("#option-id").val($el.attr('data-option-id'));

            var rrp = parseFloat($el.attr('data-rrp')) * 1;
            rrp = rrp.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            $("#before_discount").html(rrp.toString());

            var subtotal = parseFloat($el.attr('data-price')) * 1;
            subtotal = subtotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            $("#product_price").html(subtotal.toString());

            $(".thumb-slick-"+$el.attr('data-id')).trigger('click');
        });

        $(".selection-card.selected").trigger('click');
    });
</script>
{% endput %}