<div class="product-item-container">
  <div class="left-block">
    <div class="product-image-container second_img" data-mh="{{ matchHeight }}">
      <img src="{{ product.displayImage|resize(350, 450) }}" alt="{{ product.title }}" class="img-responsive">
      {# {% if product.defaultOption %} #}
        {# <img src="{{ product.displayImage|resize(350, 450) }}" alt="{{ product.title }}" class="img_0 img-responsive"> #}
      {# {% else %} #}
        <img src="{{ product.displayImage|resize(350, 450) }}" alt="{{ product.title }}" class="img_0 img-responsive">
      {# {% endif %} #}
    </div>
    {# {% if product.smartsaleslabel %}
      <span class="label label-new">{{ product.smartsaleslabel }}</span>
    {% endif %} #}
    {% if product.isInSale and not is_agent %}
      <span class="label label-sale">SALE</span>
    {% endif %}
    {% if product.isInSale and not is_agent %}
      {% if product.saleDiscount > 0 %}
        <span class="label label-new">-{{ product.saleDiscount }}%</span>
      {% endif %}
    {% endif %}

    {% if product.isInSale and not is_agent %}
      <!--countdown box-->
      {% if product.sale_end %}
        <div class="countdown_box">
          <div class="countdown_inner">
            <div class="title">This limited offer ends</div>

            <div class="countdown_timer" data-sale-end="{{ product.sale_end }}"></div>
          </div>
        </div>
      {% endif %}
      <!--end countdown box-->
    {% endif %}

    <!--full quick view block-->
    <a class="quickview" href="{{ url('product/' ~ product.slug) }}"> View</a>
    <!--end full quick view block-->
  </div>
  <div class="right-block">
    <div class="caption">
      <h4>
        <a href="{{ url('product/' ~ product.slug) }}">{{ product.title }}</a>
      </h4>

      <div class="price">
        {% if product.displayPrice %}
          {% if product.displayPrice.price <= 0 %}
            {% if not product.hasStock %}
              <span class="price-new">Out of Stock</span>
            {% else %}
              <span class="price-new">Not Available</span>
            {% endif %}
          {% else %}
            {% if product.available and product.hasStock %}
              <span class="price-new">{{ product.displayPrice.currency }}{{ product.displayPrice.price|number_format(2,".",",") }}</span>
              {% if product.isInSale and not is_agent %}
                {% if product.displayPrice.rrp != product.displayPrice.price %}
                <span class="price-old">{{ product.displayPrice.currency }}{{ product.displayPrice.rrp }}</span>
                {% endif %}
              {% endif %}
              {# {% if product.displayPrice.rrp > 0 %}
                <span class="price-old">{{ product.displayPrice.currency }}{{ product.displayPrice.rrp }}</span>
              {% endif %} #}
            {% elseif product.available and not product.hasStock %}
              <span class="price-new">Out of Stock</span>
            {% else %}
              <span class="price-new">Not Available</span>
            {% endif %}
          {% endif %}
        {% else %}
          <span class="price-new">Not Available</span>
        {% endif %}
      </div>
    </div>

    <div class="button-group">
      <a class="addToCart" href="{{ url('/product/' ~ product.slug) }}">
        <i class="fa fa-eye"></i>
        <span class="">View<span class="hidden-xs"> Product</span></span>
      </a>

      <form data-request="onAddToWishlist">
        <input type="hidden" name="product-hash" value="{{ product.hexhash }}">
        <button class="wishlist btn-add-to-wishlist" type="button" data-toggle="tooltip" title="Add to Wishlist">
          <i class="fa fa-heart"></i>
        </button>
      </form>
    </div>
  </div>
  <!-- right block -->
</div>