{% set lowestPrice = product.getLowestPrice() %}
{% set highestPrice = product.getHighestPrice() %}

<div class="product-pricing">
  {% if lowestPrice.price == highestPrice.price %}
    <h3>{{ lowestPrice.currency ~ lowestPrice.price }}</h3>
  {% else %}
    <h3>{{ lowestPrice.currency ~ lowestPrice.price }} - {{ highestPrice.currency ~ highestPrice.price }}</h3>
  {% endif %}
</div>