{% set results = __SELF__.results %}

{% for result in results %}
  <div class="product-layout col-md-3 col-sm-4 col-xs-6">
    {% partial 'placeholder::partial/_product_card'
      product = result.model
    %}
  </div>

  {# {% if loop.index % 2 == 1 %}
    <div class="clearfix visible-xs-block"></div>
  {% elseif loop.last %}
  {% else %}
    <div class="clearfix visible-sm-block"></div>
    <div class="clearfix visible-xs-block"></div>
  {% endif %} #}
{% else %}
    {% partial __SELF__ ~ '::no-results.htm' %}
{% endfor %}

{# <div class="row">
{% partial __SELF__ ~ '::pagination.htm' results = results %}
</div> #}