{% if results.total > 0 %}
  <div class="col-sm-12 col-md-12">
      <div class="pagination">

        {% if results.total == 0 %}
          {% set totalPage = 1 %}
        {% else %}
          {% set totalPage = ( results.total / results.perPage )|round(0, 'ceil') %}
        {% endif %}

        {% set part = ((results.currentPage - 1) / 5)|round(0, 'floor') %}
        {% set totalPart = ((totalPage - 1) / 5)|round(0, 'floor') %}

        {% if results.currentPage != 1 %}
          <a href="{{ results.url(1) }}">FIRST</a>
        {% endif %}

        {% if results.currentPage > 1 %}
          <a href="{{ results.url( results.currentPage - 1 ) }}">PREV</a>
        {% endif %}

        {% for i in 1..totalPage %}
          {% if ((i - 1) / 5)|round(0, 'floor') == part %}
            <a href="{{ results.url( i ) }}"{{ (results.currentPage == i) ? ' class="active"' : '' }}>{{ i }}</a>
          {% endif %}
        {% endfor %}

        {% if part < totalPart %}
          <a href="{{ results.url((part + 1) * 5 + 1) }}">
            <i class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></i>
          </a>
        {% endif %}

        {% if results.hasMorePages %}
          <a href="{{ results.nextPageUrl }}">NEXT</a>
        {% endif %}

        {% if results.currentPage != totalPage %}
          <a href="{{ results.url(results.lastPage) }}">LAST</a>
        {% endif %}
      </div>
  </div>
{% endif %}