<div class="col-xs-12 col-sm-2 col-md-4 col-lg-3">
    <div class="ss-result">
        {% if result.thumb %}
            {% partial __SELF__ ~ '::thumbnail' result = result %}
        {% endif %}
        <div class="ss-result__content">
            {% partial __SELF__ ~ '::content' result = result %}
        </div>
        <hr/>
    </div>
</div>
