subject = "Order Confirmation ({{ order.orderstatus.title }}) - {{ order.invoice_no }} - IG Premium"
description = "Order Confirmation"
layout="blank"
==

Dear {{ user.name }},

Thank you for shopping at IG Premium! Here's your order confirmation. 

Order Information:-

Order ID: {{ order.invoice_no }}
Amount: {{ calculated.currency.unit }}{{ calculated.grand.total }}
Status: {{ order.orderstatus.title }}
Estimated Arrival: 2-5 working days
Gateway: iPay88
{% if order.courier %}Courier: {{ order.courier }}{% endif %}
Created: {{ order.updated_at }}

We strive to deliver your purchased products in the shortest time possible. All orders are in process as soon as the transaction is confirmed. All orders will be dispatched and delivered out by our appointed courier service, Monday – Friday, excluding weekends and public holidays. Depending on your location and selected shipping method, you should receive your parcel within 2-5 working days after payment is confirmed.

Please do not hesitate to email us support@igpremium.com.my or contact us at 016-6622 453. if you have any queries! When contacting us about this order, please include your Order ID ({{ order.invoice_no }}).

Tracking No.:
{{ order.tracking_no }}

You may track the progress of your parcel with GDEX at: http://www.gdexpress.com/malaysia/e-tracking

Thanks for choosing IG Premium!


Best Regards,
IG Premium

For Customer Service, Call (+60) 6-3377 733 / 23 (M-F 9:00am-6:00pm)
Email: support@igpremium.com.my
Web: www.igpremium.com.my


Disclaimer:
Any person receiving this email and any attachment(s) contained, shall treat the information as confidential and not misuse, copy, disclose, distribute or retain the information in any way that amounts to a breach of confidentiality. If you are not the intended recipient, please delete all copies of this email from your computer system.


Copyright &copy; 2017 IG Premium Sdn Bhd. All rights reserved.

This is an automated email, please do not reply. Replies to this message are routed to an unmonitored mailbox.
==
<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">

      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="center" valign="top">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <img src="{{ message.embed('themes/demo/assets/images/logo.png') }}" width="150" height="" style="margin:0; padding:0; border:none; display:block;" border="0" alt="" /> 
                </td>
              </tr>
              <tr>
                <td height="10" style="font-size:10px; line-height:10px; border-bottom: 1px solid #f2f2f2;">&nbsp;</td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
              </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <p style="font-size: 15px; margin-bottom: 15px;">Dear <strong>{{ user.name }}</strong>,</p>

                  <p style="font-size: 15px; margin-bottom: 15px;">Thank you for shopping at IG Premium! Here's your order confirmation. </p>

                </td>
              </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <h1 style="font-size: 18px; font-weight: 600; margin-bottom: 0px;">Order Information</h1>
                </td>
              </tr>
              <tr>
                <td height="5" style="font-size:5px; line-height:5px; border-bottom: 1px solid #f2f2f2;">&nbsp;</td>
              </tr>
              <tr>
                <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                    <tr>
                      <td width="300" class="mobile" align="left" valign="top">
                        Order ID:
                      </td>
                      <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                      <td width="300" class="mobile" align="left" valign="top">
                        {{ order.invoice_no }}
                      </td>
                    </tr>
                    <tr>
                      <td width="300" class="mobile" align="left" valign="top">
                        Amount:
                      </td>
                      <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                      <td width="300" class="mobile" align="left" valign="top">
                        {{ calculated.currency.unit }}{{ calculated.grand.total }}
                      </td>
                    </tr>
                    <tr>
                      <td width="300" class="mobile" align="left" valign="top">
                        Status:
                      </td>
                      <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                      <td width="300" class="mobile" align="left" valign="top">
                        {{ order.orderstatus.title }}
                      </td>
                    </tr>
                    <tr>
                      <td width="300" class="mobile" align="left" valign="top">
                        Estimated Arrival:
                      </td>
                      <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                      <td width="300" class="mobile" align="left" valign="top">
                        2-5 working days
                      </td>
                    </tr>
                    <tr>
                      <td width="300" class="mobile" align="left" valign="top">
                        Gateway:
                      </td>
                      <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                      <td width="300" class="mobile" align="left" valign="top">
                        iPay88
                      </td>
                    </tr>
                    {% if order.courier %}
                    <tr>
                      <td width="300" class="mobile" align="left" valign="top">
                        Courier:
                      </td>
                      <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                      <td width="300" class="mobile" align="left" valign="top">
                        {{ order.courier }}
                      </td>
                    </tr>
                    {% endif %}
                    <tr>
                      <td width="300" class="mobile" align="left" valign="top">
                        Created:
                      </td>
                      <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                      <td width="300" class="mobile" align="left" valign="top">
                        {{ order.updated_at|date('d.m.Y h:i A', 'Asia/Kuala_Lumpur') }}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
              </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <p style="font-size: 15px; margin-bottom: 15px;">We strive to deliver your purchased products in the shortest time possible. All orders are in process as soon as the transaction is confirmed. All orders will be dispatched and delivered out by our appointed courier service, Monday – Friday, excluding weekends and public holidays. Depending on your location and selected shipping method, you should receive your parcel within 2-5 working days after payment is confirmed.</p>

                  <p style="font-size: 15px; margin-bottom: 15px;">Please do not hesitate to email us <a href="mailto:support@igpremium.com.my" target="_blank" style="color:#66cccc; text-decoration:underline;">support@igpremium.com.my</a> or contact us at <a href="tel:+6016-6622 453" target="_blank" style="color:#66cccc; text-decoration:underline;">016-6622 453</a>. If you have any queries! When contacting us about this order, please include your <strong>Order ID ({{ order.invoice_no }})</strong>.</p>

                  {% if order.courier and order.tracking_no %}
                    <p style="font-size: 15px; text-align: center; margin-bottom: 0px;">Tracking No.:</p>

                    <p style="font-size: 24px; font-weight: 600; text-align: center; color: #BE00FF; margin-bottom: 10px;">{{ order.tracking_no }}</p>

                    <p style="font-size: 13px; margin-bottom: 30px; text-align: center;">You may track the progress of your parcel with GDEX at <a href="http://www.gdexpress.com/malaysia/e-tracking" target="_blank" style="color:#66cccc; text-decoration:underline;">www.gdexpress.com/malaysia/e-tracking</a>.
                  {% endif %}

                  <p style="font-size: 15px; margin-bottom: 15px;">Thanks for choosing IG Premium!</p>

                  <p style="font-size: 15px; line-height: 1.4; margin-bottom: 15px;">
                  <br>Best Regards,
                  <br><strong><span style="color: #24303e; font-style: italic; font-size: 18px;">IG Premium</strong></p>

                  <p style="font-size: 13px; line-height: 1.3;">
                  For Customer Service, Call (+60) 6-3377 733 / 23 (M-F 9:00am-6:00pm)
                  <br>Email: <a href="mailto:support@igpremium.com.my" target="_blank" style="color:#66cccc; text-decoration:underline;">support@igpremium.com.my</a>
                  <br>Web: <a href="https://www.igpremium.com.my" target="_blank" style="color:#66cccc; text-decoration:underline;">www.igpremium.com.my</a></p>

                  <p style="font-size: 12px; line-height: 1.2; margin-bottom: 15px;">
                  <br>Disclaimer:
                  <br>Any person receiving this email and any attachment(s) contained, shall treat the information as confidential and not misuse, copy, disclose, distribute or retain the information in any way that amounts to a breach of confidentiality. If you are not the intended recipient, please delete all copies of this email from your computer system.</p>
                </td>
              </tr>
              <tr>
                <td height="10" style="font-size:10px; line-height:10px; border-bottom: 1px solid #f2f2f2;">&nbsp;</td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
              </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <p style="color: #999; font-size: 13px; text-align: center; margin-bottom: 10px;">Copyright &copy; 2017 IG Premium Sdn Bhd. All rights reserved.</p>
                  <p style="color: #999; font-size: 12px; line-height: 1; text-align: center;">This is an automated email, please do not reply. Replies to this message are routed to an unmonitored mailbox.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
  </tr>
</table>