description = "Master Layout"

[bag]

[session]
security = "all"

[placeholder]

[announcementMarquee]

[companyInfo]

[categoriesList]

[currencyExchange]

[proSearchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "products/search.htm"
==
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ this.page.title }} - IG Premium | Largest Corporate Premium Gift Supplier Malaysia</title>
    <meta name="title" content="{{ this.page.meta_title }}">
    {% if this.page.meta_description %}
      <meta name="description" content="{{ this.page.meta_description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.png'|theme }}">

    <!-- Facebook -->
    <meta property="og:title" content="{{ this.page.meta_title }}">
    {% if this.page.meta_description %}
      <meta property="og:description" content="{{ this.page.meta_description }}">
    {% endif %}
    <meta property="og:site_name" content="IG Premium">
    <meta property="og:url" content="{{ ''| page }}">
    <meta property="og:image" content="{{ (this.page.og_image) ? this.page.og_image : 'assets/images/logo.jpg'|theme }}">
    <meta property="og:type" content="website">
    {# <meta property="fb:app_id" content="1938655749751180"> #}

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Poppins:300,600,700" rel="stylesheet">
    <link href="{{ [
      'assets/vendor/bootstrap/css/bootstrap.min.css',
      'assets/vendor/font-awesome/css/font-awesome.min.css',
      'assets/vendor/flag-icon-css/css/flag-icon.min.css',
      'assets/vendor/sweetalert/sweetalert.css',
      'assets/vendor/datetimepicker/bootstrap-datetimepicker.min.css',
      'assets/vendor/owl-carousel/owl.carousel.css',
      'assets/vendor/owl-carousel/owl.theme.default.min.css',
      'assets/vendor/themecss/lib.css',
      'assets/vendor/jquery-ui/jquery-ui.min.css',
      'assets/vendor/themecss/so_megamenu.css',
      'assets/vendor/themecss/so-categories.css',
      'assets/vendor/themecss/so-listing-tabs.css',
      'assets/vendor/themecss/header6.css',
      'assets/vendor/themecss/footer3.css',
      'assets/vendor/themecss/home6.css'
    ]|theme }}" rel="stylesheet">
    <link href="{{ [
      'assets/css/main.css',
      'assets/vendor/themecss/responsive.css',
    ]|theme }}" rel="stylesheet">

    {% styles %}
    <!-- Nav -->
  </head>
  <body class="common-home res layout-home6">
    {% component 'bag' %}

    <div id="wrapper" class="wrapper-full banners-effect-7">

      {% component 'announcementMarquee' %}

      <!-- Header Container  -->
      <header id="header" class="variantleft type_6">

        <!-- Header Top -->
        <div class="header-top compact-hidden">
          <div class="container">
            <div class="row pos-r">
              <div class="header-top-left form-inline col-sm-5 col-xs-12 compact-hidden">
                <div class="form-group currencies-block">
                  <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="icon icon-credit "></span> {{ userCurrency.unit }}
                    <span class="fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu btn-xs">
                    {% for currency in currenciesList %}
                      <li{% if currency.id == userCurrency.id %} class="active"{% endif %}>
                        <a href="#" data-currency="{{ currency.id }}">
                          <i class="flag-icon flag-icon-squared flag-icon-{{ currency.country_code|lower }}" aria-hidden="true"></i>
                          <p>{{ currency.unit }}</p>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="header-top-right text-right col-sm-7 col-xs-12 compact-hidden">
                <ul class="top-link list-inline">
                  {% if user %}
                  <li class="top-link-item">
                    <span class="user-name">{{ user.name }} ,</span>
                  </li>
                  <li class="top-link-item wishlist hidden-xs">
                    <a href="{{ url('my-account/wishlist') }}" class="top-link-wishlist" title="Wishlist">
                      <i class="fa fa-heart"></i> <span>My Wishlist</span></a>
                  </li>
                  <li class="top-link-item checkout">
                    <a href="{{ url('cart') }}" class="top-link-checkout" title="Checkout">
                      <i class="fa fa-check-square-o"></i> <span>Checkout</span></a>
                  </li>
                  <li class="top-link-item account" id="my_account">
                    <a href="{{ url('/my-account/profile') }}" title="My Account" class="btn btn-xs dropdown-toggle">
                      <i class="fa fa-user"></i> <span class="invi-xs">My Account</span><span class="show-xs">Account</span></a>
                  </li>
                  <li class="top-link-item logout">
                    <a href="#" title="Logout" class="btn btn-xs dropdown-toggle" data-request="onLogout" data-request-data="redirect: '/'">
                      <i class="fa fa-sign-out"></i> <span>Logout</span></a>
                  </li>
                  {% else %}
                  <li class="signin">
                    <a href="{{ url('auth/login') }}" class="top-link-checkout" style="display: inline-block;" title="Login">
                      <i class="fa fa-user"></i> Login </a>
                    |
                    <a href="{{ url('auth/signup') }}" class="top-link-checkout" style="display: inline-block;" title="Sign up">
                      Sign up </a>
                  </li>
                  {% endif %}
                </ul>

                {# <h5 class="tabBlockTitle visible-xs">More
                  <a class="expander " href="#TabBlock-1">
                    <i class="fa fa-angle-down"></i>
                  </a>
                </h5>
                <div class="tabBlock" id="TabBlock-1">
                  <ul class="top-link list-inline">
                    {% if user %}
                    <li class="wishlist">
                      <a href="{{ url('my-account/wishlist') }}" class="top-link-wishlist" title="Wishlist">
                        <i class="fa fa-heart"></i> My Wishlist</a>
                    </li>
                    <li class="checkout">
                      <a href="{{ url('cart') }}" class="top-link-checkout" title="Checkout">
                        <i class="fa fa-check-square-o"></i> Checkout</a>
                    </li>
                    <li class="account" id="my_account">
                      <a href="{{ url('/my-account/profile') }}" title="My Account" class="btn btn-xs dropdown-toggle">
                        <i class="fa fa-user"></i> My Account </a>
                    </li>
                    <li class="logout">
                      <a href="#" title="Logout" class="btn btn-xs dropdown-toggle" data-request="onLogout" data-request-data="redirect: '/'">
                        <i class="fa fa-sign-out"></i> Logout </a>
                    </li>
                    {% else %}
                    <li class="signin">
                      <a href="{{ url('auth/login') }}" class="top-link-checkout" style="display: inline-block;" title="Login">
                        <i class="fa fa-user"></i> Login </a>
                      |
                      <a href="{{ url('auth/signup') }}" class="top-link-checkout" style="display: inline-block;" title="Sign up">
                        Sign up </a>
                    </li>
                    {% endif %}
                  </ul>
                </div> #}
              </div>
            </div>
          </div>
        </div>
        <!-- //Header Top -->

        <!-- Header center -->
        <div class="header-center">
          <div class="container">
            <div class="row">
              <!-- Logo -->
              <div class="navbar-logo col-md-2 col-sm-12 col-xs-3">
                <a href="{{ url('/') }}">
                  <img src="{{ 'assets/images/logo.png'|theme }}" alt="IG Premium Logo">
                </a>
              </div>
              <!-- //end Logo -->

              <!-- Search -->
              
              <div id="sosearchpro" class="col-md-6 col-sm-7 col-xs-9 search-pro">
                {% component 'proSearchInput' %}
                {# <form method="GET" action="{{ url('search') }}">
                  <div id="search0" class="search input-group">
                    <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Enter keywords to search..." name="q">
                    <span class="input-group-btn">
                      <button type="submit" class="button-search btn btn-primary" name="submit_search">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                  <input type="hidden" name="route" value="product/search">
                </form> #}
              </div>
              <!-- //Search -->

              <!-- Main Menu -->
              <div class="phone-contact col-md-2  hidden-md hidden-sm hidden-xs">
                <img src="{{ 'assets/vendor/image/theme/home6/icon-phone.png'|theme }}" alt="">
                <div class="inner-info">
                  <strong>Call us Now:</strong>
                  <br>
                  <span>
                    <a href="tel:{{ (company_info.primary_contact) ? company_info.primary_contact : '+606-3377733' }}">{{ (company_info.display_contact) ? company_info.display_contact : '+06-3377 733 / 23' }}</a>
                  </span>
                </div>
              </div>
              <!-- //Main Menu -->

              <!-- Shopping Cart -->
              <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs shopping_cart pull-right">
                <!--cart-->
                <div class="btn-group btn-shopping-cart">
                  <a data-loading-text="Loading..." class="top_cart dropdown-toggle" data-toggle="dropdown">
                    <div class="shopcart">
                      <span class="cart-handle fa fa-shopping-cart pull-left"></span>
                      <span class="title">Shopping Cart</span>
                      <p class="text-shopping-cart cart-total-full"><span class="cart-count">{{ cart_count }}</span> item(s)</p>
                    </div>
                  </a>

                  <ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">
                    <li class="cart-lists">
                      {% partial 'placeholder::partial/_cart_list'
                        cart_items = cart_items
                      %}
                    </li>
                    <li>
                      <div>
                        <p class="text-right">
                          <a class="btn btn-mega btn-block btn-primary checkout-cart" href="{{ url('cart') }}">
                            <i class="fa fa-share"></i>Checkout</a>
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <!--//cart-->
              </div>
              <!-- //Shopping Cart -->
            </div>

          </div>
        </div>
        <!-- //Header center -->

        <!-- Header Bottom -->
        <div class="header-bottom">
          <div class="container">
            <div class="row">
              <!-- Sidebar menu -->
              <div class="sidebar-menu col-md-3 col-sm-6 col-xs-6 hidden-xs">
                <div class="responsive so-megamenu ">
                  <div class="so-vertical-menu no-gutter compact-hidden">
                    <nav class="navbar-default">
                      <div class="container-megamenu vertical">
                        <div id="menuHeading">
                          <div class="megamenuToogle-wrapper">
                            <div class="megamenuToogle-pattern">
                              <div class="container">
                                <div>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                All Categories
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="navbar-header">
                          <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle fa fa-list-alt">

                          </button>
                          All Categories
                        </div>
                        <div class="vertical-wrapper" style="display: none;">
                          <span id="remove-verticalmenu" class="fa fa-times"></span>
                          <div class="megamenu-pattern">
                            <div class="container">
                              <ul class="megamenu">
                                {% for category in categories %}
                                  <li class="item-vertical style1{% if category.subcategories|length > 0 %} with-sub-menu hover{% endif %}"{% if loop.index > 10 %} style="display: none;"{% endif %}>
                                    <p class="close-menu"></p>
                                    <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia') }}" class="clearfix">
                                      {# <img src="{{ 'assets/vendor/image/theme/icons/9.png'|theme }}" alt="icon"> #}
                                      <span>{{ category.title }}</span>
                                      {% if category.subcategories|length > 0 %}<b class="caret"></b>{% endif %}
                                    </a>
                                    {% if category.subcategories|length > 0 %}
                                    <div class="sub-menu" data-subwidth="30" style="width: 270px; display: none; right: 0px;">
                                      <div class="content" style="display: none;">
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <div class="row">
                                              <div class="col-md-12 hover-menu">
                                                <div class="menu">
                                                  <ul>
                                                    {% for subcategory in category.subcategories %}
                                                    <li>
                                                      <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia' ~ '/' ~ subcategory.slug) }}" class="main-menu">{{ subcategory.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    {% endif %}
                                  </li>
                                {% endfor %}

                                <li class="loadmore">
                                  <i class="fa fa-plus-square-o"></i>
                                  <span class="more-view">More Categories</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>

              </div>

              <div class="visible-xs col-xs-6 shopping_cart pull-right">
                <!--cart-->
                <div class="btn-group btn-shopping-cart">
                  <a data-loading-text="Loading..." class="top_cart dropdown-toggle" data-toggle="dropdown">
                    <div class="shopcart">
                      <span class="cart-handle fa fa-shopping-cart pull-left"></span>
                      <span class="title">Shopping Cart</span>
                      <p class="text-shopping-cart cart-total-full"><span class="cart-count">{{ cart_count }}</span> item(s)</p>
                    </div>
                  </a>

                  <ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">
                    <li class="cart-lists">
                      {% if cart_items|length > 0 %}
                        <table class="table table-striped">
                          <tbody>
                            {% for item in cart_items %}
                              <tr data-hash="{{ item.hexhash }}">
                                <td class="text-left">
                                  <a class="cart_product_name" href="{{ url('product/' ~ item.stock.product.slug) }}">{{ item.stock.product.title }}</a>
                                </td>
                                <td class="text-center"> x<span class="orderitem-quantity">{{ item.quantity }}</span> </td>
                                <td class="text-center"> <span class="orderitem-amount">{{ item.currency.unit }}{{ (item.quantity * item.unit_price)|number_format(2, '.', ',') }}</span> </td>
                                <td class="text-right">
                                  <a href="#" class="btn btn-default btn-remove" data-hash="{{ item.hexhash }}">
                                    <i class="fa fa-times"></i>
                                  </a>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      {% else %}
                        <p>No item in your cart yet. Add something to your cart now!</p>
                      {% endif %}
                    </li>
                    <li>
                      <div>
                        <p class="text-right">
                          <a class="btn btn-mega btn-block btn-primary checkout-cart" href="{{ url('cart') }}">
                            <i class="fa fa-share"></i>Checkout</a>
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <!--//cart-->
              </div>
              <!-- //Shopping Cart -->

              <!-- Main menu -->
              <div class="megamenu-hori col-md-9 col-sm-6 col-xs-6 ">
                <div class="responsive so-megamenu ">
                  <nav class="navbar-default">
                    <div class=" container-megamenu  horizontal">
                      <div class="navbar-header">
                        <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                          <i class="fa fa-bars"></i>
                          Menu
                        </button>
                      </div>

                      <div class="megamenu-wrapper">
                        <span id="remove-megamenu" class="fa fa-times"></span>
                        <div class="megamenu-pattern">
                          <div class="container">
                            <ul class="megamenu " data-transition="slide" data-animationtime="250">
                              {% if hasHotDeals and not is_agent %}
                                <li class="{% if 'hot-deals' in ''|page %}active {% endif %}with-sub-menu">
                                  <p class="close-menu"></p>
                                  <a href="{{ url('hot-deals') }}" class="clearfix">
                                    <strong>Hot Deals</strong>
                                    <img class="label-hot" src="{{ 'assets/vendor/image/theme/icons/hot-icon.png'|theme }}" alt="icon items">
                                  </a>
                                </li>
                              {% endif %}
                              <li class="{% if 'new-arrivals' in ''|page %}active {% endif %}with-sub-menu hover">
                                <p class="close-menu"></p>
                                <a href="{{ url('new-arrivals') }}" class="clearfix">
                                  <strong>New Arrivals</strong>
                                  <img class="label-hot" src="{{ 'assets/vendor/image/theme/icons/hot-icon.png'|theme }}" alt="icon items">
                                </a>
                              </li>
                              <li class="{% if 'products' in ''|page or 'categories' in ''|page %}active {% endif %}with-sub-menu hover">
                                <p class="close-menu"></p>
                                <a href="{{ url('categories') }}" class="clearfix">
                                  <strong>Categories</strong>
                                  <span class="label"></span>
                                  <b class="caret"></b>
                                </a>
                                <div class="sub-menu" style="width: 100%; display: none;">
                                  <div class="content">
                                    <div class="row">
                                      {% for category in categories %}
                                        {% if category.subcategories|length > 0 %}
                                        <div class="col-md-3">
                                          <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia') }}" class="title-submenu">{{ category.title }}</a>
                                          <div class="row">
                                            <div class="col-md-12 hover-menu">
                                              <div class="menu">
                                                <ul>
                                                  {% for subcategory in category.subcategories|slice(0, 3) %}
                                                  <li>
                                                    <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia' ~ '/' ~ subcategory.slug) }}" class="main-menu">{{ subcategory.title }}</a>
                                                  </li>
                                                  {% endfor %}
                                                  <li>
                                                  <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia') }}" class="main-menu">More ...</a>
                                                  </li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        {% endif %}
                                      {% endfor %}
                                      {% for category in categories %}
                                        {% if category.subcategories|length == 0 %}
                                        <div class="col-md-3">
                                          <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia') }}" class="title-submenu">{{ category.title }}</a>
                                        </div>
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                              </li>

                              <li class="{% if 'catalogue' in ''|page %}active {% endif %}">
                                <p class="close-menu"></p>
                                <a href="{{ url('/catalogue') }}" class="clearfix">
                                  <strong>Catalogue</strong>
                                  <span class="label"></span>
                                </a>
                              </li>

                              <li class="{% if 'our-services' in ''|page %}active {% endif %}">
                                <p class="close-menu"></p>
                                <a href="{{ url('our-services') }}" class="clearfix">
                                  <strong>Our Services</strong>
                                  <span class="label"></span>
                                </a>
                              </li>

                              <li class="{% if 'contact-us' in ''|page %}active {% endif %}">
                                <p class="close-menu"></p>
                                <a href="{{ url('contact-us') }}" class="clearfix">
                                  <strong>Contact Us</strong>
                                  <span class="label"></span>
                                </a>
                              </li>


                              <li class="social-media">
                                {% if company_info.facebook_url %}
                                  <a href="{{ company_info.facebook_url }}" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                  </a>
                                {% endif %}
                                {% if company_info.instagram_url %}
                                  <a href="{{ company_info.instagram_url }}" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                  </a>
                                {% endif %}
                                {% if company_info.twitter_url %}
                                  <a href="{{ company_info.twitter_url }}" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                  </a>
                                {% endif %}
                                {% if company_info.youtube_url %}
                                  <a href="{{ company_info.youtube_url }}" target="_blank">
                                    <i class="fa fa-youtube-play"></i>
                                  </a>
                                {% endif %}
                                {% if company_info.tumblr_url %}
                                <a href="{{ company_info.tumblr_url }}" target="_blank">
                                  <i class="fa fa-tumblr"></i>
                                </a>
                                {% endif %}
                                {% if company_info.google_plus_url %}
                                <a href="{{ company_info.google_plus_url }}" target="_blank">
                                  <i class="fa fa-google-plus"></i>
                                </a>
                                {% endif %}
                                {% if company_info.linkedin_url %}
                                <a href="{{ company_info.linkedin_url }}" target="_blank">
                                  <i class="fa fa-linkedin"></i>
                                </a>
                                {% endif %}
                              </li>

                            </ul>

                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
              <!-- //end Main menu -->

            </div>
          </div>

        </div>

        <!-- Navbar switcher -->
        <!-- //end Navbar switcher -->
      </header>
      <!-- //Header Container  -->


      <!-- Content -->
      <section id="layout-content">
        {% page %}
      </section>

      <!-- Footer Container -->
      <footer id="footer" class="footer-container type_footer3">
        <!-- Footer Top Container -->
        <section class="footer-top">
          <div class="container content">
            <div class="row">

              <div class="col-sm-6 col-md-4 box-information">
                <div class="module clearfix">
                  <h3 class="modtitle">IG Premium SDN. BHD.</h3>
                  <div class="modcontent">
                    <p style="color: #bcbdc7;">
                      {% if company_info.about_company %}
                        {{ company_info.about_company|raw }}
                      {% else %}
                        IG Premium Sdn Bhd was incorporated in the year 1998 (Previously known as Sokowest Marketing Sdn Bhd). It started off with a staff of two by selling soft and plush toys and later on to extensive selections of premium and corporate gifts ranging from Laptop Bags, Bags,  Non Woven Bags, Pens, Household products,  and so on. Since then, we has grown rapidly into a much larger distributor and importer.
                      {% endif %}
                      </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 box-service">
                <div class="module clearfix">
                  <h3 class="modtitle">NAVIGATION</h3>
                  <div class="modcontent">
                    <ul class="menu">
                      <li>
                        <a href="{{ url('about-us') }}">About Us</a>
                      </li>
                      <li>
                        <a href="{{ url('our-services') }}">Our Services</a>
                      </li>
                      <li>
                        <a href="{{ url('blog') }}">Blog</a>
                      </li>
                      <li>
                        <a href="{{ url('contact-us') }}">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 collapsed-block ">
                <div class="module clearfix">
                  <h3 class="modtitle">Contact Us </h3>
                  <div class="modcontent">
                    <ul class="contact-address">
                      <li>
                        <span class="fa fa-map-marker"></span>
                        {% if company_info.company_address %}
                          {{ company_info.company_address|raw }}
                        {% else %}
                          <a href="https://goo.gl/maps/2TiaMhfTZqr" target="_blank">
                            Lot-1-30, 31, 32, Jalan TTC2,<br>
                            Kawasan Perindustrian Cheng,<br>
                            75250 Melaka.
                          </a>
                        {% endif %}
                      </li>
                      <li>
                        <span class="fa fa-envelope-o"></span> Email:<br>
                        <a href="mailto:{{ (company_info.contact_email) ? company_info.contact_email : 'ask_us@igpremium.com.my' }}">{{ (company_info.contact_email) ? company_info.contact_email : 'ask_us@igpremium.com.my' }}</a>
                      </li>
                      <li>
                        <span class="fa fa-phone"></span>
                        Call us:<br>
                        <a href="tel:{{ (company_info.primary_contact) ? company_info.primary_contact : '+606-3377733' }}">{{ (company_info.display_contact) ? company_info.display_contact : '+06-3377 733 / 23' }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <hr class="footer-lines footer-lines--bottom">
            </div>
          </div>
        </section>
        <!-- /Footer Top Container -->

        <!-- Footer Bottom Container -->
        <div class="footer-bottom-block ">
          <div class=" container">
            <div class="row">
              <div class="col-sm-10 copyright-text"> {{ (company_info.copyright) ? company_info.copyright|raw : 'Copyright &copy; 2017 - IG Premium Sdn. Bhd. All rights reserved.' }} </div>
              <div class="col-sm-2">
                <div class="block-payment text-right">
                  <img src="{{ 'assets/images/mastercard-logo-visa.png'|theme }}" alt="payment" title="payment">
                </div>
              </div>
              <!--Back To Top-->
              <div class="back-to-top">
                <i class="fa fa-angle-up"></i>
                <span> Top </span>
              </div>

            </div>
          </div>
        </div>
        <!-- /Footer Bottom Container -->


      </footer>
      <!-- //end Footer Container -->

    </div>

    {% placeholder modal %}

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5a45f33f4b401e45400bcf14/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

    <!-- Scripts -->
    {# <script src="{{ [
        'assets/vendor/jquery.min.js',
        'assets/vendor/sweetalert/sweetalert.min.js',
        'assets/vendor/bootstrap/js/bootstrap.min.js',
        'assets/vendor/owl-carousel/owl.carousel.js',
        'assets/vendor/themejs/libs.js',
        'assets/vendor/unveil/jquery.unveil.js',
        'assets/vendor/countdown/jquery.countdown.min.js',
        'assets/vendor/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js',
        'assets/vendor/datetimepicker/moment.js',
        'assets/vendor/datetimepicker/bootstrap-datetimepicker.min.js',
        'assets/vendor/jquery-ui/jquery-ui.min.js',
        'assets/vendor/modernizr/modernizr-2.6.2.min.js',
        'assets/javascript/carousel-swipe.js',
        'assets/javascript/jquery.marquee.min.js',
        'assets/vendor/slick/slick.js',
        'assets/vendor/jquery-match-height/jquery.matchHeight-min.js',
        'assets/vendor/themejs/application.js',
        'assets/vendor/themejs/homepage.js',
        'assets/vendor/themejs/so_megamenu.js',
        'assets/vendor/themejs/addtocart.js',
        'assets/javascript/main.js',
        'assets/javascript/bag.js',
    ]|theme }}" rel="stylesheet"> #}
    <script src="{{ 'assets/vendor/jquery.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/sweetalert/sweetalert.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/owl-carousel/owl.carousel.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/themejs/libs.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/unveil/jquery.unveil.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/countdown/jquery.countdown.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/datetimepicker/moment.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/datetimepicker/bootstrap-datetimepicker.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/jquery-ui/jquery-ui.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/modernizr/modernizr-2.6.2.min.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/carousel-swipe.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/jquery.marquee.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/slick/slick.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/jquery-match-height/jquery.matchHeight-min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/themejs/application.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/themejs/homepage.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/themejs/so_megamenu.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/themejs/addtocart.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/jquery-match-height/jquery.matchHeight-min.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/main.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/bag.js'|theme }}"></script>
    {# <script src="{{ [
      'assets/vendor/jquery.min.js',
      'assets/vendor/sweetalert/sweetalert.min.js',
      'assets/vendor/bootstrap/js/bootstrap.min.js',
      'assets/vendor/owl-carousel/owl.carousel.js',
      'assets/vendor/themejs/libs.js',
      'assets/vendor/unveil/jquery.unveil.js',
      'assets/vendor/countdown/jquery.countdown.min.js',
      'assets/vendor/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js',
      'assets/vendor/datetimepicker/moment.js',
      'assets/vendor/datetimepicker/bootstrap-datetimepicker.min.js',
      'assets/vendor/jquery-ui/jquery-ui.min.js',
      'assets/vendor/modernizr/modernizr-2.6.2.min.js',
      'assets/javascript/carousel-swipe.js',
      'assets/javascript/jquery.marquee.min.js',
      'assets/vendor/slick/slick.js',
      'assets/vendor/jquery-match-height/jquery.matchHeight-min.js',
      'assets/javascript/main.js',
    ]|theme }}"></script> #}
    {% framework extras %}
    {% scripts %}
    {% partial 'flash' %}
  </body>
</html>
