<p class="lead">Please check your email for the activation code.</p>

<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">Activation Code</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="Enter the activation code" value="{{ __SELF__.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="Enter a new password">
    </div>

    <button type="submit" class="btn btn-default">Reset password</button>
</form>
