{% if testimonials|length > 0 %}
  <!-- Block Spotlight1  -->
  <section id="testimonials" class="so-spotlight1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="module clearfix no-margin-bottom ">
            <div class="modcontent">
              <div class="slider-clientsay">
                <div class="slider-clientsay__owl">
                  {% for testimonial in testimonials %}
                    <div class="slider-clientsay__item">
                      <div class="slider-clientsay__dec">
                        {{ testimonial.content|raw }}
                      </div>
                      <div class="slider-clientsay__info">
                        <h4>{{ testimonial.name }}</h4>
                        <p><em>{{ testimonial.review_date|date('d F Y') }}</em></p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>


            </div>

          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- //Block Spotlight1  -->

{% endif %}