<div class="modal edit-product-modal fade" id="productItem_{{ orderitem.id }}" tabindex="-1" role="dialog" aria-labelledby="productItemLabel_{{ orderitem.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h3 class="modal-title" id="productItemLabel_1">Edit This Product</h3>
            </div>
            <div class="modal-body">
                <form data-request="onUpdateOrderItem">
                    <input type="hidden" name="orderitem" value="{{ orderitem.hexhash }}" />
                    <table class="product-desc table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    {% if orderitem.product.product_type == 'COLOR' %}
                                        <div class="product-img" style="background-image: url('{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}');"></div>
                                    {% elseif orderitem.product.product_type == 'OPTION' %}
                                        <div class="product-img" style="background-image: url('{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}');"></div>
                                    {% else %}
                                        <div class="product-img" style="background-image: url('{{ orderitem.product.displayImage|resize(350, 450) }}');"></div>
                                    {% endif %}
                                </td>
                                <td>
                                    <h4 class="title">{{ orderitem.product.title }}</h4>
                                    {% if orderitem.product.product_type == 'NORMAL' %}
                                    {% elseif orderitem.product.product_type == 'COLOR' %}
                                      <p class="desc">{{ orderitem.itemstocks[0].color.title }}</p>
                                    {% elseif orderitem.product.product_type == 'OPTION' %}
                                      <p class="desc">{{ orderitem.itemstocks[0].option.title }}{% if orderitem.itemstocks[0].stock.color %} - {{ orderitem.itemstocks[0].stock.color.title }}{% endif %}</p>
                                    {% elseif orderitem.product.product_type == 'BUNDLE' %}
                                      {% for item in orderitem.itemstocks %}
                                        <p class="desc">{{ item.option.title }} - {{ item.stock.color.title }}</p>
                                      {% endfor %}
                                    {% endif %}
                                    <div class="product-action">
                                        <a target="_blank" href="{{ url('product/' ~ orderitem.product.slug) }}" class="btn-view">View</a>
                                        <a href="#" class="btn-remove" data-hash="{{ orderitem.hexhash }}">Remove</a>
                                    </div>
                                </td>
                                <td>
                                    <h4 class="price product-pricing">
                                        <span class="price-new">{{ orderitem.currency.unit }}{{ orderitem.unit_price|number_format(2,".",",") }}</span>
                                        {% if orderitem.product.activePricing.rrp > 0 %}
                                          <span class="price-old">{{ orderitem.currency.unit }}{{ orderitem.product.activePricing.rrp }}</span>
                                        {% endif %}
                                    </h4>
                                    <div class="box-info-product">
                                        <div class="option quantity">
                                            <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                <label>Qty</label>
                                                <input class="form-control" type="text" name="quantity" value="{{ orderitem.quantity }}">
                                                <span class="input-group-addon product_quantity_down">−</span>
                                                <span class="input-group-addon product_quantity_up">+</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-complete-edit btn-default">Done</button>
                </form>
            </div>
        </div>
    </div>
</div>