{% put styles %}
<link href="{{ [
  'assets/css/checkout.css',
]|theme }}" rel="stylesheet">
{% endput %}

{% if orderitems|length <= 0 %}
  <main id="page-checkout" class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="cart-empty">
            <h2>Empty Cart</h2>
            <p>Why is your shopping cart still empty? Go get something!</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% else %}
  <main id="page-checkout" class="main">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 right cart-summary">
          <h4>Free Shipping On All Orders Over RM500!*</h4>
          <div class="summary-wrapper">
            <section class="checkout-summary">
              <h3>Cart</h3>

              <table class="table-responsive">
                <tbody>
                {% for orderitem in orderitems %}
                  <tr class="orderitem-container-{{ orderitem.id }}">
                    <td>
                      {% if orderitem.product.product_type == 'COLOR' %}
                        <div class="item-thumb" style="background-image: url('{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}')"></div>
                      {% elseif orderitem.product.product_type == 'OPTION' %}
                        <div class="item-thumb" style="background-image: url('{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}')"></div>
                      {% else %}
                        <div class="item-thumb" style="background-image: url('{{ orderitem.product.displayImage|resize(350, 450) }}')"></div>
                      {% endif %}
                    </td>
                    <td>
                      <p class="title">{{ orderitem.product.title }}</p>
                      {% if orderitem.product.product_type == 'NORMAL' %}
                      {% elseif orderitem.product.product_type == 'COLOR' %}
                        <p class="desc">{{ orderitem.itemstocks[0].stock.color.title }}</p>
                      {% elseif orderitem.product.product_type == 'OPTION' %}
                        <p class="desc">{{ orderitem.itemstocks[0].option.title }}{% if orderitem.itemstocks[0].stock.color %} - {{ orderitem.itemstocks[0].stock.color.title }}{% endif %}</p>
                      {% elseif orderitem.product.product_type == 'BUNDLE' %}
                        {% for item in orderitem.itemstocks %}
                          {% if item.stock.color %}
                            <p class="desc">{{ item.option.title }} - {{ item.stock.color.title }}</p>
                          {% else %}
                            <p class="desc">{{ item.option.title }}</p>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                      <p class="unit-price">Unit Price: {{ orderitem.currency.unit }}{{ orderitem.unit_price|number_format(2) }}</p>
                    </td>
                    <td class="item-quantity">
                      x<span class="orderitem-count-{{ orderitem.id }}">{{ orderitem.quantity }}</span>
                    </td>
                    <td class="item-amount">
                      <span class="price-{{ orderitem.id }}">
                        {{ orderitem.totalAmount.currency.unit }}{{ orderitem.totalAmount.total }}
                      </span>
                      <a href="#" data-orderitem="{{ orderitem.hexhash }}" class="edit-product" data-toggle="modal" data-target="#productItem_{{ orderitem.id }}">EDIT</a>
                    </td>
                  </tr>
                  {% put modal %}
                    {% partial __SELF__ ~ "::_editmodal"
                      orderitem = orderitem
                    %}
                  {% endput %}
                {% endfor %}
                </tbody>
              </table>
            </section>

            <section class="discount-section">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 left">
                  <a href="#" class="enter-promo" data-toggle="promo-code-form">Have a promocode?</a>
                  <form class="promo-code-form">
                    <div class="form-group">
                      <input type="text" class="form-control" name="promocode" placeholder="Enter Promocode">
                      <button href="#" type="button" class="btn btn-default apply-promocode">Apply</button>
                    </div>
                    <p class="promocode-message"></p>
                  </form>
                </div>
              </div>

              {# <div class="discount-form promo-code-form">
                <form data-request="onApplyPromocode">
                  <div class="form-group">
                    <input type="text" class="form-control" id="promocode" name="promocode" value="{{ (calculated.discount.type) ? calculated.discount.code : '' }}">
                    <p id="promocode_error" class="error-msg hide"></p>
                  </div>
                  <button class="btn default-button btn-apply-promo">Apply</button>
                </form>
              </div> #}
            </section>

            <section class="checkout-amount">
              <table>
                <tbody>
                <tr>
                  <td>Subtotal</td>
                  <td>{{ calculated.currency.unit }}<span id="subtotal">{{ calculated.subtotal.formatted }}</span></td>
                </tr>
                <tr class="discount-amount{{ (calculated.discount.type) ? '' : ' hide' }}">
                  <td>Discount <span id="discount_type">{{ (calculated.discount.code) ? calculated.discount.code : '' }}</span></td>
                  <td><span id="discount">- {{ calculated.currency.unit }}{{ (calculated.discount.formatted) ? calculated.discount.formatted : '' }}</span></td>
                </tr>
                <tr>
                  <td>Shipping and Handling<small>(Total Weight: <span id="total-weight">{{ order.totalWeight }}</span>kg)</small></td>
                  <td><span id="shipping_price">{% if calculated.delivery_charge.formatted > 0 %}{{ calculated.currency.unit }}{{ calculated.delivery_charge.formatted }}{% else %}{% if calculated.delivery_charge.free %}{{ calculated.currency.unit }}0.00{% else %}<strong style="font-size: 14px; line-height: 1; text-transform: none;">Enter your shipping address<br>to view the charges</strong>{% endif %}{% endif %}</span></td>
                </tr>
                <tr class="total">
                  <td>Total</td>
                  <td>
                    {{ calculated.currency.unit }}<span id="total_amount">{{ calculated.grand.formatted }}</span>
                    <p>includes {{ calculated.currency.unit }}<span id="tax_amount">{{ calculated.tax.formatted }}</span> GST (0%)</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </section>
          </div>

          {# <button type="button" id="mobilesubmit" class="btn btn-checkout btn-block btn-default visible-xs">Proceed To Payment</button> #}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 left checkout-details">
          <form data-request="onSubmit" id="formsubmitthis">
            {% if user %}
            {% else %}
            <section class="guest-checkout">
              <h3 class="section-title">Guest Checkout</h3>
              <h5>Already registered? <a href="{{ url('auth/login') }}" class="login-cta">Login here</a></h5>

              <div class="form-group">
                <label for="guest_email">Email<span class="required">*</span></label>
                <input type="email" id="guest_email" name="guest_email" class="form-control" value="{{ order.temp.email }}">
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group">
                    <label for="guest_name">Full Name<span class="required">*</span></label>
                    <input type="text" id="guest_name" name="guest_name" class="form-control" value="{{ order.temp.name }}">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="guest_telephone">Contact No.<span class="required">*</span></label>
                <input type="text" id="guest_telephone" name="guest_telephone" class="form-control" value="{{ order.temp.contact_no }}">
              </div>
              <hr>
            </section>
            {% endif %}

            <section class="shipping-handling">
              <h3 class="section-title">Shipping &amp; Handling</h3>
              <table class="table table-responsive">
                <tbody>

                {% for delivery in deliveries %}
                  <tr data-option="{{ delivery.id }}" {% if delivery.id == default_delivery.id %}class="selected"{% endif %}>
                    <td>
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </td>
                    <td>
                      <h4>
                        {{ delivery.title }} 
                        <button type="button" class="btn-modal" data-toggle="modal" data-target="#delivery-info-{{ loop.index }}">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <div class="modal fade" id="delivery-info-{{ loop.index }}" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ delivery.title }} </h4>
                              </div>
                              <div class="modal-body">
                                {{ delivery.more_info|raw }}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </h4>
                      {{ delivery.description|raw }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <input type="hidden" id="shipping_method" name="shipping_method" value="{{ default_delivery.id }}">
              <input type="hidden" id="delivery_location" name="delivery_location" value="{{ order.deliverylocation.id }}">
            </section>

            <hr>

            <section class="shipping-address">
              <h3 class="section-title">Shipping Address<span class="required">*</span></h3>
              {% if shipping_addresses|length > 0 %}
                <table class="table table-responsive shipping-selections">
                  <tbody>
                    <tr data-option="-1" class="selection-card">
                      <td>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </td>
                      <td colspan="2">
                        <h5>
                          <strong>Ship to New Address</strong>
                        </h5>
                      </td>
                    </tr>
                    {% for address in shipping_addresses %}
                      <tr
                        data-option    = "{{ address.hexhash }}"
                        class          = "selection-card {% if shipping_address.id == address.id %}selected{% endif %}"
                        data-name      = "{{ address.name }}"
                        data-phone     = "{{ address.telephone }}"
                        data-company   = "{{ address.company }}"
                        data-address_1 = "{{ address.address_1 }}"
                        data-address_2 = "{{ address.address_2 }}"
                        data-postcode  = "{{ address.postcode }}"
                        data-state     = "{{ address.state.id }}"
                        data-country   = "{{ address.country.id }}"
                        data-city      = "{{ address.city }}"
                      >
                        <td>
                          <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td>
                          <h5>
                            <strong>{{ address.name }} - {{ address.telephone }}</strong>
                            {% if address.company %}<br>{{ address.company }},{% endif %}
                            <br>{{ address.address_1 }},
                            {% if address.address_2 %}<br>{{ address.address_2 }},{% endif %}
                            <br>{{ address.city }} {{ address.postcode }} {{ address.state.name }}, {{ address.country.name }}.
                          </h5>
                        </td>
                        <td>
                          <a class="btn-address-action btn-edit-address">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a class="btn-address-action btn-delete-address">
                            <i class="fa fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
              <input type="hidden" id="shipping_address_id" name="address_id" value="{% if shipping_address %}{{ shipping_address.hexhash }}{% else %}-1{% endif %}">
              <input type="hidden" id="shipping_editted" name="shipping_editted" value="">
              <div id="shipping-address-container" class="address-container {% if shipping_address %}hidden{% endif %}">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="name_shipping">Full Name<span class="required">*</span></label>
                      <input type="text" class="form-control" id="name_shipping" name="name_shipping" value="{{ user.name }}">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="phone_shipping">Phone<span class="required">*</span></label>
                      <input type="text" class="form-control" id="phone_shipping" name="phone_shipping" value="{{ user.telephone }}">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="companyname_shipping">Company Name</label>
                  <input type="text" class="form-control" id="companyname_shipping" name="companyname_shipping">
                </div>

                <div class="form-group">
                  <label for="address1_shipping">Address<span class="required">*</span></label>
                  <input type="text" class="form-control" id="address1_shipping" name="address1_shipping" maxlength="200">
                  <input type="text" class="form-control" id="address2_shipping" name="address2_shipping" maxlength="200">
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label for="country">Country<span class="required">*</span></label>
                      <select class="form-control shipping-select country-select" id="country_shipping" name="country_shipping">
                        <option value="">-- Select a country --</option>
                        {% for country in countries %}
                          <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label for="state_shipping">State<span class="required">*</span></label>
                      <select class="form-control shipping-zone-select state-select" id="state_shipping" name="state_shipping">
                        <option value="">-- Select a country first --</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group">
                      <label for="city_shipping">City<span class="required">*</span></label>
                      <input type="text" class="form-control" id="city_shipping" name="city_shipping">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="form-group">
                      <label for="postcode_shipping">Postcode<span class="required">*</span></label>
                      <input type="text" class="form-control" id="postcode_shipping" name="postcode_shipping">
                    </div>
                  </div>
                </div>

              </div>
            </section>

            <div class="form-group">
              <input type="checkbox" class="form-check-input" id="different-billing" name="different_billing">
              <label class="form-check-label" for="different-billing">Different Billing Address</label>
            </div>

            <section class="billing-address hide">
              <hr>
              <h3 class="section-title">Billing Address</h3>
              {% if billing_addresses|length > 0 %}
                <table class="table table-responsive billing-selections">
                  <tbody>
                    <tr data-option="-1" class="selection-card">
                      <td>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </td>
                      <td colspan="2">
                        <h5>
                          <strong>Bill to New Address</strong>
                        </h5>
                      </td>
                    </tr>
                    {% for address in billing_addresses %}
                      <tr
                        data-option    = "{{ address.hexhash }}"
                        class          = "selection-card {% if billing_address.id == address.id %}selected{% endif %}"
                        data-name      = "{{ address.name }}"
                        data-phone     = "{{ address.telephone }}"
                        data-company   = "{{ address.company }}"
                        data-address_1 = "{{ address.address_1 }}"
                        data-address_2 = "{{ address.address_2 }}"
                        data-postcode  = "{{ address.postcode }}"
                        data-state     = "{{ address.state.id }}"
                        data-country   = "{{ address.country.id }}"
                        data-city      = "{{ address.city }}"
                      >
                        <td>
                          <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td>
                          <h5>
                            <strong>{{ address.name }} - {{ address.telephone }}</strong>
                            {% if address.company %}<br>{{ address.company }},{% endif %}
                            <br>{{ address.address_1 }},
                            {% if address.address_2 %}<br>{{ address.address_2 }},{% endif %}
                            <br>{{ address.city }} {{ address.postcode }} {{ address.state.name }}, {{ address.country.name }}.
                          </h5>
                        </td>
                        <td>
                          <a class="btn-address-action btn-edit-address">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a class="btn-address-action btn-delete-address">
                            <i class="fa fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
              <input type="hidden" id="billing_address_id" name="billing_id" value="{% if billing_address %}{{ billing_address.hexhash }}{% else %}-1{% endif %}">
              <input type="hidden" id="billing_editted" name="billing_editted" value="">
              <div id="billing-address-container" class="address-container {% if billing_address %}hidden{% endif %}">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="name_billing">Full Name<span class="required">*</span></label>
                      <input type="text" class="form-control" id="name_billing" name="name_billing" value="{{ user.name }}">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="phone_billing">Phone<span class="required">*</span></label>
                      <input type="text" class="form-control" id="phone_billing" name="phone_billing" value="{{ user.telephone }}">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="companyname_billing">Company Name</label>
                  <input type="text" class="form-control" id="companyname_billing" name="companyname_billing">
                </div>

                <div class="form-group">
                  <label for="address1_billing">Address<span class="required">*</span></label>
                  <input type="text" class="form-control" id="address1_billing" name="address1_billing">
                  <input type="text" class="form-control" id="address2_billing" name="address2_billing">
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label for="country">Country<span class="required">*</span></label>
                      <select class="form-control billing-select country-select" id="country_billing" name="country_billing">
                        <option value="">-- Select a country --</option>
                        {% for country in billing_countries %}
                          <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label for="state_billing">State<span class="required">*</span></label>
                      <select class="form-control billing-zone-select state-select" id="state_billing" name="state_billing">
                        <option value="">-- Select a country first --</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group">
                      <label for="city_billing">City<span class="required">*</span></label>
                      <input type="text" class="form-control" id="city_billing" name="city_billing">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="form-group">
                      <label for="postcode_billing">Postcode<span class="required">*</span></label>
                      <input type="text" class="form-control" id="postcode_billing" name="postcode_billing">
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <hr>

            <section class="choose-payment-method">
              <h3 class="section-title">Payment Method<span class="required">*</span></h3>
              <div class="row">
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method selected" data-option="2">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/credit-card.jpg'|theme }}">
                  </div>
                </div>
                {# <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/fpx.jpg'|theme }}">
                  </div>
                </div> #}
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="48">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/paypal.jpg'|theme }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <h5>Online Banking</h5>
                </div>

                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="6">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/maybank.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="8">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/alliance.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="10">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/ambank.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="14">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/rhb.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="15">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/hong-leong.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="20">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/cimb.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="31">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/pbe.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="102">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/bank-rakyat.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="103">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/affin.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="134">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/bank-islam.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="152">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/uob.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="166">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/bank-muamalat.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="167">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/ocbc.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="168">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/standard-chartered.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="198">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/hsbc.jpg'|theme }}">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                  <div class="payment-method" data-option="199">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/kuwait.jpg'|theme }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <h5>Others</h5>
                </div>

                <div class="col-sm-12 col-md-6 left">
                  <div class="payment-method" data-option="22">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> <img src="{{ 'assets/images/checkout/webcash.jpg'|theme }}">
                  </div>
                </div>
              </div>

              <input type="hidden" id="payment_method" class="payment_method" value="2">
            </section>

            <button type="submit" class="btn btn-checkout btn-block btn-default">Proceed To Payment</button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endif %}

{% put scripts %}
  <script src="{{ [
    'assets/javascript/checkout.js',
  ]|theme }}"></script>
{% endput %}
