<table class="table table-responsive">
    <thead>
    <tr>
        <td>#</td>
        <td>Order History</td>
        <td>Payment</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>
                <h4>{{ loop.index }}</h4>
            </td>
            <td>
                <h4>{{ order.invoiced_at }}<span class="invoice-no">#{{ order.id }}</span></h4>
                <table class="table order-summary">
                    <tbody>
                    {% for orderitem in order.orderitems %}
                        <tr>
                            <td>
                                <img src="{{ orderitem.thumb }}" alt="">
                            </td>
                            <td class="product-desc">
                                {% set product = orderitem.product[0] %}
                                {% if product %}
                                <h4>{{ product.title }}</h4>
                                <h5>
                                    {% if product.product_pricing_type == "DYNAMIC" %}
                                        {% set product = orderitem.product[0] %}
                                        {% set finalPrice = product.getFinalPrice(orderitem.count) %}
                                        {% if finalPrice.rrp != false %}
                                            <span class="rm">RM</span><span class="before-discount">{{ finalPrice.rrp|number_format(2, '.', '') }}</span>
                                        {% endif %}
                                        <span class="promo-price">
                                            <span class="rm">RM</span><span id="product_price">{{ finalPrice.price|number_format(2, '.', '') }}</span>
                                       </span>
                                    {% elseif product.product_pricing_type == "VARIATION" %}
                                        {% set productoption = orderitem.productoption[0] %}
                                        {% set finalPrice = productoption.finalPrice %}
                                        {% if finalPrice.rrp != false %}
                                            <span class="rm">RM</span><span class="before-discount">{{ finalPrice.rrp|number_format(2, '.', '') }}</span>
                                        {% endif %}
                                        <span class="promo-price">
                                            <span class="rm">RM</span><span id="product_price">{{ finalPrice.price|number_format(2, '.', '') }}</span>
                                       </span>
                                    {% endif %}
                                </h5>
                                {% else %}
                                <h4>Product Not Found **</h4>
                                <h5>We have discontinued this product</h5>
                                {% endif %}
                            </td>
                            <td class="product-label">
                                {{ orderitem.productoption[0].title_extension }}
                            </td>
                            <td class="quantity">
                                x{{ orderitem.count }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>
                <h4>RM{{ order.payments[0].amount }}</h4>
                <h5 class="processing">{{ order.orderstatus.name }}</h5>
            </td>
            <td>
                <a href="#" onclick="reorderThis('{{ order.hexhash }}')">RE-ORDER THIS</a>
                <a href="{{ 'orders/view/'|app }}/{{ order.hexhash }}">VIEW</a>
                {# <a href="#" onclick="printthis('{{ order.hexhash }}')">DOWNLOAD</a> #}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% put scripts %}
<script>
    function printthis(hexhash){
        swal({
            title: "Requesting Receipt",
            text: "Getting receipt information, please wait...",
            type: "info",
            timer: 5000,
            showCancelButton: false,
            showConfirmButton: false
        });

        $('#printFrame').remove();

        $('<iframe />');
        $('<iframe />', {
            name: 'printFrame',
            id: 'printFrame',
            src: '/orders/receipt/'+ hexhash
        }).appendTo('body');
    }
</script>
{% endput %}