<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
    <section class="order-info">
      <h4>Order Successful</h4>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <h6>Order Number</h6>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
          <h5>{{ order.invoice_no }} <span class="order-status">{{ order.orderstatus.title }} Order</span></h5>
        </div>
      </div>

      {% if order.address %}
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <h6>Shipping and Billing Address</h6>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>{{ order.address.name }}</h5>
            <p>
              {{ order.address.telephone }}
              <br>
              {{ order.address.company }}
              <br>
              {{ order.address.address_1 }}
              {% if order.address.address_2 %}
                <br>
                {{ order.address.address_2 }}
              {% endif %}
              {% if order.address.city %}
                , {{ order.address.city }}
              {% endif %}
              <br>
              {{ order.address.postcode }} {{ order.address.state.name }}, {{ order.address.country.name }}.
            </p>
          </div>
          {% if order.billing %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <h5>{{ order.billing.name }}</h5>
              <p>
                {{ order.billing.telephone }}
                <br>
                {{ order.billing.company }}
                <br>
                {{ order.billing.address_1 }}
                {% if order.billing.address_2 %}
                  <br>
                  {{ order.billing.address_2 }}
                {% endif %}
                {% if order.billing.city %}
                  , {{ order.billing.city }}
                {% endif %}
                <br>
                {{ order.billing.postcode }} {{ order.billing.state.name }}, {{ order.billing.country.name }}.
              </p>
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <h6>Items</h6>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
          <table class="table products-summary">
            <tbody>
            {% for orderitem in order.orderitems %}
              {% set product = orderitem.product %}
              {% if product %}
              <tr>
                <td>
                  {% if orderitem.product.product_type == 'COLOR' %}
                    <div class="item-thumb" style="background-image: url('{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}')"></div>
                  {% elseif orderitem.product.product_type == 'OPTION' %}
                    <div class="item-thumb" style="background-image: url('{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}')"></div>
                  {% else %}
                    <div class="item-thumb" style="background-image: url('{{ orderitem.product.displayImage|resize(350, 450) }}')"></div>
                  {% endif %}
                </td>
                <td>
                  <p class="title">{{ product.title }}</p>
                  {% if product.product_type == 'NORMAL' %}
                  {% elseif product.product_type == 'COLOR' %}
                    <p class="desc">{{ orderitem.itemstocks[0].color.title }}</p>
                  {% elseif product.product_type == 'OPTION' %}
                    <p class="desc">{{ orderitem.itemstocks[0].option.title }}{% if orderitem.itemstocks[0].stock.color %} - {{ orderitem.itemstocks[0].stock.color.title }}{% endif %}</p>
                  {% elseif product.product_type == 'BUNDLE' %}
                    {% for item in orderitem.itemstocks %}
                      <p class="desc">{{ item.option.title }} - {{ item.stock.color.title }}</p>
                    {% endfor %}
                  {% endif %}
                </td>
                <td>
                  x{{ orderitem.quantity }}
                </td>
                <td>
                  {{ orderitem.currency.unit }}{{ (orderitem.quantity * orderitem.unit_price)|number_format(2) }}
                </td>
              </tr>
              {% else %}
              <tr>
                <td>
                </td>
                <td>
                  <p>Product has been discontinued for product <strong>{{ orderitem.SKU }}</strong></p>
                </td>
                <td>
                  x{{ orderitem.quantity }}
                </td>
                <td>
                  {{ orderitem.currency.unit }}{{ (orderitem.quantity * orderitem.unit_price)|number_format(2) }}
                </td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row order-amount">
        <div class="col-sm-12 col-md-12">
          <h6>Subtotal <span class="amount">{{ calculated.currency.unit }}{{ calculated.subtotal.formatted }}</span></h6>
          <h6>Shipping and Handling <span class="amount">{{ calculated.currency.unit }}{{ calculated.delivery_charge.formatted }}</span></h6>
          {% if calculated.discount.total > 0 %}
            <h6>Discount <span class="discount-type">{{ calculated.discount.code }}</span> <span class="amount">- {{ calculated.currency.unit }}{{ calculated.discount.formatted }}</span></h6>
          {% endif %}
          <h6 class="total">Total <span class="total-amount">{{ calculated.currency.unit }}{{ calculated.grand.formatted }} <span style="margin-top: 5px; font-weight: 400;">includes {{ calculated.currency.unit }}{{ calculated.tax.formatted }} GST (0%)</span></span></h6>
        </div>
      </div>

    </section>

    <section class="invoice-action">
      {% if order.invoice_pdf %}
        <a href="{{ order.invoice_pdf.getPath() }}" target="_blank" class="btn btn-default btn-download" download="Invoice - {{ order.invoice_no }}">Download Invoice</a>
      {% endif %}
      {# <a href="#" class="btn btn-default btn-print">Print</a> #}
    </section>

    <hr>

  </div>

  {# <div class="col-sm-12 col-md-4 col-lg-4">

    <div class="panel content-block contact-cta">
      <h3>Need Help?</h3>
      <table>
        <tbody>
        <tr>
          <td><i class="fa fa-whatsapp" aria-hidden="true"></i></td>
          <td>
            <p>Whatsapp or Call</p>
            <h4><a href="tel:60102283211">+6010 2283211</a></h4>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
          <td>
            <p>Email</p>
            <h4><a href="mailto:support@boozeat.com">support@boozeat.com</a></h4>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-clock-o"></i></td>
          <td>
            <p>Customer Services</p>
            <h4>9AM - 9PM</h4>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div> #}
</div>

{% put scripts %}
<script src="{{ [
  'assets/javascript/receipt.js'
]|theme }}"></script>
{% endput %}
