title = "Blog"
url = "/blog"
layout = "master"

[postList]
==
{% put styles %}
  <link href="{{ [
    'assets/css/blog.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-blog">
  <div class="main-container container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ url('/') }}">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="{{ url('blog') }}">Blog</a>
      </li>
    </ul>

    <div class="row">
      {% partial "site/sidebar"
        hideFilter = "true"
      %}

      <!--Middle Part Start-->
      <div id="content" class="col-md-9 col-sm-8">
        <div class="blog-list">

          <div class="module menu-category titleLine">
            <h3 class="modtitle">Blog</h3>
          </div>
          <!--changed listings-->
          <div class="blog-list row grid">
            {% if posts|length <= 0 %}
              <div class="col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h6>Currently we have no any blog posts yet. Why not check out our product categories.</h6>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4 text-right">
                    <a href="{{ url('categories') }}" class="btn btn-default">View Categories</a>
                  </div>
                </div>
              </div>
            {% else %}
              {% for post in posts %}
                <div class="col-xs-12 col-sm-6 col-md-4 blog-layout">
                  <div class="post-item">
                    <a href="{{ url('blog/' ~ post.slug) }}">
                      <img src="{{ post.featured_image.getPath() }}" alt="{{ post.title }}">
                      <h3>{{ post.title }}</h3>
                      {% if post.description %}
                        <p class="desc">{{ catalogue.description }}</p>
                      {% endif %}
                      {% if post.published_at %}
                        <p class="date">{{ post.published_at|date('j M Y') }}</p>
                      {% endif %}
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <!--// End Changed listings-->
        </div>
      </div>
    </div>
    <!--Middle Part End-->
  </div>
  <!-- //Main Container -->
</main>

{% put scripts %}
<script>
    $(document).ready(function(){
        $('.blog-list .blog-layout').matchHeight({
            byRow: false,
            property: 'height',
        });
    });
</script>
{% endput %}
