title = "Blog"
url = "/blog/:slug"
layout = "master"

[postView]
==
use IG\Blog\Models\Post;

function onStart()
{
  if ($slug = $this->param('slug') != null)
  {
    $post = Post::where('slug', $this->param('slug'))
                ->active()
                ->first();

    if($post)
    {
      $this->page['title']            = $post->title . " - " . "IG Premium";
      $this->page['meta_title']       = $post->title;
      $this->page['meta_description'] = $post->seo_description;
      if ($post->featured_image) {
        $this->page['og_image'] = $post->featured_image;
      }
    }
  }
}
==
{% put styles %}
  <link href="{{ [
    'assets/css/blog.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-post">
  <div class="main-container container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ url('/') }}">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="{{ url('blog') }}">Blog</a>
      </li>
      <li>
        <a href="{{ url('blog/' ~ post.slug) }}">{{ (post.title|length > 20) ? post.title|slice(0, 20) ~ '...' : post.title }}</a>
      </li>
    </ul>

    <div class="row">
      {% partial "site/sidebar"
        hideFilter = "true"
      %}

      <!--Middle Part Start-->
      <div id="content" class="col-md-9 col-sm-8">
        <div class="post-container">

          <div class="module menu-category titleLine">
            <h3 class="modtitle">{{ post.title }}</h3>
          </div>
          <!--changed listings-->
          <div class="post">
            <img src="{{ post.featured_image.getPath() }}" alt="{{ post.title }}" class="featured-image">
          </div>

          <div class="post-info">
            <p>
                <i class="fa fa-calendar"></i>
                {{ post.published_at|date('d M Y') }}
            </p>
          </div>

          <div class="description">
            {{ post.content|raw }}
          </div>
          <!--// End Changed listings-->
        </div>
      </div>
    </div>
    <!--Middle Part End-->
  </div>
  <!-- //Main Container -->
</main>

{% put scripts %}
<script>
    $(document).ready(function(){
        $('.blog-list .blog-layout').matchHeight({
            byRow: false,
            property: 'height',
        });
    });
</script>
{% endput %}
