<section class="so-slideshow ">
    <div id="so-slideshow">
        <div class="module slideshow no-margin">
            <div class="yt-content-slider yt-content-slider--arrow1 owl-carousel owl-theme" data-autoplay="yes" data-autoheight="no" data-delay="3" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="no" data-loop="yes" data-hoverpause="yes">
                {% for banner in banners %}
                <div class="yt-content-slide">
                  <a href="{{ banner.full_url }}">
                    <img class="hidden-xs img-responsive" src="{{ banner.banner_image.getPath() }}" alt="">
                    <img class="visible-xs img-responsive" src="{{ banner.mobile_banner_image.getPath() }}" alt="">
                  </a>
                </div>
                {% endfor %}
            </div>
            <div class="loadeding"></div>
        </div>
    </div>
    {# <div class="module static-image">
        <ul class="eg-list-float blank">
            <li>
                <div class="banners">
                    <div>
                        <a href="#">
                            <img src="image/demo/cms/home6/image-1-index9.jpg" alt="banner1">
                        </a>
                    </div>
                </div>
            </li>
            <li class="hidden-xs">
                <div class="banners">
                    <div>
                        <a href="#">
                            <img src="image/demo/cms/home6/image-2-index9.jpg" alt="banner1">
                        </a>
                    </div>
                </div>
            </li>
            <li class="hidden-xs">
                <div class="banners">
                    <div>
                        <a href="#">
                            <img src="image/demo/cms/home6/image-2-index9.jpg" alt="banner1">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div> #}
</section>

{# 
<div id="home-banner" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for banner in banners %}
      <li data-target="#home-banner" data-slide-to="{{ loop.index0 }}"{% if loop.index == 1 %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for banner in banners %}
    <div class="item{% if loop.index == 1 %} active{% endif %}">
      <a href="{{ banner.full_url }}">
        <img class="hidden-xs" src="{{ banner.banner_image.getPath() }}" alt="">
        <img class="visible-xs" src="{{ banner.mobile_banner_image.getPath() }}" alt="">
      </a>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-banner" role="button" data-slide="prev">
    <span class="fa fa-angle-left icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-banner" role="button" data-slide="next">
    <span class="fa fa-angle-right icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> #}