name = "Blank layout"
==
{{ content|raw }}
==
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body style="margin:0; padding:0; background-color:#F2F2F2; width: 640px; min-width: 640px;">
    <style type="text/css" media="screen">
      {{ css|raw }}
    </style>

    <center>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
        <tr>
          <td align="center" valign="top">
            {{ content|raw }}
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>

