<?php
    $fieldOptions = $model->getBannerLocationOptions();
    $banner_location = $model->attributes['banner_location'];
?>
<select id="<?= $field->getId() ?>" name="<?= $field->getName() ?>" class="form-control custom-select" <?= $field->getAttributes() ?>>
    <?php foreach($fieldOptions as $key=>$label)
    {
    ?>
        <option value="<?= $key ?>"  <?php echo ($banner_location == $key)?"selected":'';  ?>><?= $label ?></option>
    <?php
    } ?>
</select>