title = "Cart List"
url = "/cart-list"

[placeholder]

[bag]
==
<div>
    <div id="cart-list" data-count="{{ cart_count }}">
        {% partial 'placeholder::partial/_cart_list'
          cart_items = cart_items
        %}
    </div>
</div>