title = "Categories"
url = "/products/:category/:subcategory?"
layout = "master"

[productsListing]

[homeBanner]
==
{% put styles %}
  <link href="{{ [
    'assets/css/products.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-category">
  <div class="main-container container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ url('/') }}">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia') }}">{{ category.title }}</a>
      </li>
      {% if subcategory %}
        <li>
          <a href="{{ url('products/' ~ category.slug ~ '-supplier-malaysia' ~ '/' ~ subcategory.slug) }}">{{ subcategory.title }}</a>
        </li>
      {% endif %}
    </ul>

    <div class="row">
      {% partial "site/sidebar" category=category subcategory=subcategory %}

      <!--Middle Part Start-->
      <div id="content" class="col-md-9 col-sm-8">
        <div class="products-category">
          <div class="module menu-category titleLine">
            {% if subcategory %}
              <h3 class="modtitle">{{ subcategory.title }} <small class="small text-capitalize">Showing <span id="product-listing-count">{{ products.total() }}</span> products</small></h3>
            {% else %}
              <h3 class="modtitle">{{ category.title }} <small class="small text-capitalize">Showing <span id="product-listing-count">{{ products.total() }}</span> products</small></h3>
            {% endif %}
          </div>

          {# <div class="category-derc">
            <div class="row">
              <div class="col-sm-12">
                {% component 'homeBanner' %}

              </div>
            </div>
          </div> #}
          <!--changed listings-->
          <div id="product-listing-container" class="products-list row grid">
            {% for product in products %}
              <div class="product-layout col-md-3 col-sm-6 col-xs-6">
                {% partial 'placeholder::partial/_product_card'
                  product = product
                %}
              </div>

              {# {% if loop.index % 2 == 1 %}
                <div class="clearfix visible-xs-block"></div>
              {% elseif loop.last %}
              {% else %}
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-xs-block"></div>
              {% endif %} #}
            {% endfor %}

          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12" id="pagination-container">
              {% partial 'placeholder::partial/_pagination'
                products = products
              %}
            </div>
          </div>
          <!--// End Changed listings-->
        </div>
      </div>
    </div>
    <!--Middle Part End-->
  </div>
  <!-- //Main Container -->
</main>

{% put scripts %}
<script>
    $(document).ready(function(){
        $('.products-category .products-list .product-layout').matchHeight({
            byRow: false,
            property: 'height',
        });

        $(document).on('onProductListFiltered', function (e) {
          filterProducts();
          refreshUrl();
        });

        function refreshUrl() {
          var url = document.location.href;
          window.history.pushState({}, "", url.split("?")[0]);
        }

        function filterProducts() {
          $('#product-listing-container').empty().append('<div class="product-layout col-md-12 col-sm-12"><p>Loading...</p></div>');
          $('#pagination-container').empty();
          $('#product-listing-count').text(0);

          var keyword = $('input[name="keyword"]').val();

          var colors = [];
          $('input[name="colors[]"]:checked').each(function () {
            colors.push($(this).val());
          });

          var subcategories = [];
          $('input[name="subcategories[]"]:checked').each(function () {
            subcategories.push($(this).val());
          });

          var availability = [];
          $('input[name="availability[]"]:checked').each(function () {
            availability.push($(this).val());
          });

          {% if subcategory %}
            var url = "{{ 'product-filter'|app }}/{{ category.slug }}-supplier-malaysia/{{ subcategory.slug }}";
          {% else %}
            var url = "{{ 'product-filter'|app }}/{{ category.slug ~ '-supplier-malaysia' }}";
          {% endif %}

          $.post(url, {
            'keyword'     : keyword,
            'subcategory' : subcategories,
            'color'       : colors,
            'price'       : $("#price_low").val() + '-' + $("#price_high").val(),
            'availability': availability
          }, function (response) {
            var $result = $(response);
            $('#product-listing-count').text($result.find('#product-listing').data('total'));
            $('#product-listing-container').empty().html($result.find('#product-listing').html());
            $('#pagination-container').html($result.find('#pagination').html());

            setTimeout(function(){
              $('.products-category .products-list .product-layout').matchHeight({
                  byRow: false,
                  property: 'height',
              });

              $('.countdown_timer').each(function() {
                var endDate = $(this).data('sale-end');
                var date = moment(endDate);
                $(this).countdown(date.toDate(), function(event) {
                  var $this = $(this).html(event.strftime(''
                     + '<div class="time-item time-day"><div class="num-time">%D</div><div class="name-time">Day </div></div>'
                     + '<div class="time-item time-hour"><div class="num-time">%H</div><div class="name-time">Hour </div></div>'
                     + '<div class="time-item time-min"><div class="num-time">%M</div><div class="name-time">Min </div></div>'
                     + '<div class="time-item time-sec"><div class="num-time">%S</div><div class="name-time">Sec </div></div>'));
                });
              })
            }, 2000);
          });
        }
    });
</script>
{% endput %}