title = "Product Filter Placeholder"
url = "/product-filter/:category/:subcategory?"

[placeholder]

[productsListing]
==
<div>
    <div id="product-listing" data-total="{{ products.total() }}" data-count="{{ products.count() }}">
        {% for product in products %}
          <div class="product-layout col-md-3 col-sm-6 col-xs-6">
            {% partial 'placeholder::partial/_product_card'
              product = product
            %}
          </div>
        {% endfor %}
    </div>
    <div id="pagination">
        {% partial 'placeholder::partial/_pagination'
          products = products
      %}
    </div>
</div>