title = "Product"
url = "/product/:slug"
layout = "master"

[productView]
==
{% put styles %}
  <link rel="stylesheet" href="{{ 'assets/vendor/lightslider/lightslider.css'|theme }}">
  <link href="{{ [
  'assets/css/product.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-product">
  
  <div class="main-container container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ url('/') }}">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="{{ url('products/' ~ product.category.slug ~ '-supplier-malaysia') }}">{{ product.category.title }}</a>
      </li>
      {% if product.subcategory %}
        <li>
          <a href="{{ url('products/' ~ product.category.slug ~ '-supplier-malaysia' ~ '/' ~ product.subcategory.slug) }}">{{ product.subcategory.title }}</a>
        </li>
      {% endif %}
      <li>
        <a href="{{ url('product/' ~ product.slug ) }}">{{ product.title }}</a>
      </li>
    </ul>

    <div class="row">
      <!--Middle Part Start-->
      <div id="content" class="col-md-12 col-sm-12">

        <div class="product-view row">
          <div class="left-content-product col-lg-12 col-xs-12">
            <div class="row">
              <div class="content-product-left class-honizol col-sm-6 col-md-5 col-xs-12 ">
                <div id="thumb-slider-vertical" class="thumb-vertical-outer">
                  <span class="btn-more prev-thumb nt"><i class="fa fa-angle-up"></i></span>
                  <span class="btn-more next-thumb nt"><i class="fa fa-angle-down"></i></span>
                  <ul class="thumb-vertical">
                    {% for image in product.allImages %}
                      <li class="owl2-item">
                        <a data-index="{{ loop.index0 }}" class="img thumbnail {% if loop.index0 == 0 %}active{% endif %}" data-hash="{{ image['hexhash'] }}" data-image="{{ image['url'] }}" title="{{ product.title }}">
                          <img src="{{ image['url']|resize(350, 450) }}" title="{{ product.title }}" alt="{{ product.title }}">
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="large-image vertical">
                  {% if product.isInSale and not is_agent %}
                    <span class="label label-sale">SALE</span>
                  {% endif %}
                  {% if product.isInSale and not is_agent %}
                    {% if product.saleDiscount > 0 %}
                      <span class="label label-new">-{{ product.saleDiscount }}%</span>
                    {% endif %}
                  {% endif %}

                  <img itemprop="image" class="product-image-zoom" src="{{ product.allImages[0]['url']|resize(350, 450) }}" data-zoom-image="{{ product.allImages[0]['url']|resize(350, 450) }}" title="{{ product.title }}" alt="{{ product.title }}">
                </div>
                {# <div id="thumb-slider" class="owl-theme owl-loaded owl-drag full_slider">
                  {% for image in product.allImages %}
                    <a data-index="{{ loop.index0 }}" class="img thumbnail {% if loop.index0 == 0 %}active{% endif %}" data-image="{{ image }}" title="{{ product.title }}">
                      <img src="{{ image|resize(350, 450) }}" title="{{ product.title }}" alt="{{ product.title }}">
                    </a>
                  {% endfor %}
                </div> #}

              </div>

              <div class="content-product-right col-sm-6 col-md-7 col-xs-12">
                <div class="title-product">
                  <h1>{{ product.title }}</h1>
                </div>

                <input id="product-type" type="hidden" value="{{ product.product_type }}">

                <div class="product-label form-group">
                  {% if product.displayPrice.price > 0 %}
                    <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                      <span class="price-new" itemprop="price">~ {{ product.displayPrice.currency }}{{ product.displayPrice.price|number_format(2,".",",") }}</span>
                      {% if product.isInSale and not is_agent %}
                        {% if product.displayPrice.rrp != product.displayPrice.price %}
                        <span class="price-old">{{ product.displayPrice.currency }}{{ product.displayPrice.rrp }}</span>
                        {% endif %}
                      {% endif %}
                      {# {% if product.displayPrice.rrp > 0 %}
                        <span class="price-old">{{ product.displayPrice.currency }}{{ product.displayPrice.rrp }}</span>
                      {% endif %} #}
                    </div>
                    <div class="stock">
                      <span>Availability:</span>
                      {% if product.available and product.hasStock %}
                        <span class="status-stock">In Stock</span>
                      {% elseif product.available and not product.hasStock %}
                        <span class="status-stock out-of-stock">Out of Stock</span>
                      {% else %}
                        <span class="status-stock out-of-stock">Not Available</span>
                      {% endif %}
                    </div>
                  {% else %}
                    <span>Availability:</span>
                    <span class="status-stock out-of-stock">Not Available</span>
                  {% endif %}
                </div>

                <div class="product-box-desc">
                  <div class="inner-box-desc">
                    {{ product.description|raw }}
                  </div>
                </div>


                <div id="product">
                  {% if product.product_type == 'NORMAL' %}
                  {% elseif product.product_type == 'SET' %}
                    <h4>Set item consists of: </h4>
                  {% elseif product.product_type == 'BUNDLE' %}
                    <h4>Choose Bundle Items' Color</h4>
                  {% else %}
                    <h4>Available Options</h4>
                  {% endif %}
                  {% if product.product_type == 'COLOR' %}
                    <div class="image_option_type form-group required">
                      <label class="control-label">Colors</label>
                      <ul class="product-options clearfix">
                        {% set counter = 0 %}
                        {% for option in product.options %}
                          {% set stock = option.stock %}
                          {% if stock.color %}
                            <li class="radio{% if counter == 0 %} active{% endif %}">
                              <label>
                                <input class="image_radio" type="radio" name="option[231]" value="{{ stock.hexhash }}">
                                <div class="img-thumbnail icon icon-color" 
                                  data-toggle="tooltip" 
                                  data-original-title="{{ stock.color.title }}" 
                                  data-color-title="{{ stock.color.color_code }}" 
                                  data-option-title="{{ productoption.title }}"
                                  data-option-id="{{ option.hexhash }}" 
                                  data-stock-id="{{ stock.hexhash }}" 
                                  data-stock-count="{{ stock.in }}"
                                  data-price="{% if option.activePricing.price > 0 %}{{ option.activePricing.currency }}{{ option.activePricing.price|number_format(2,".",",") }}{% else %}out-of-stock{% endif %}">
                                  <div class="color" style="background-color: {{ stock.color.color_code }}"></div>
                                </div>
                                <i class="fa fa-check"></i>
                                <label> </label>
                              </label>
                            </li>
                            {% set counter = counter + 1 %}
                          {% endif %}
                        {% endfor %}
                        <li class="selected-option">
                        </li>
                      </ul>
                    </div>
                  {% elseif product.product_type == 'OPTION' %}
                    <div class="image_option_type option-selections form-group required">
                      <label class="control-label">Choose an option below:</label>
                      {% for productoption in product.productOptions %}
                        <div class="selection-card option-card" 
                        data-hash="{{ productoption.hexhash }}"
                        data-option="{{ productoption.hexhash }}">
                          <div class="selection-toggle hidden-xs">
                            <i class="fa fa-circle"></i>
                          </div>
                          <div class="selection-title hidden-xs">
                            <p>{{ productoption.title }}</p>
                            {% if productoption.stock.color != null %}
                              <ul class="product-options clearfix input-option color-selections">
                                {% for option in product.options %}
                                  {% set stock = option.stock %}
                                  {% if stock.color and option.title == productoption.title %}
                                    <li class="radio{% if loop.index == 1 %} active{% endif %}">
                                      <label>
                                        <input class="image_radio" type="radio" name="option" value="{{ stock.hexhash }}">
                                        <div class="img-thumbnail icon icon-color" 
                                          data-toggle="tooltip" 
                                          data-original-title="{{ stock.color.title }}" 
                                          data-color-title="{{ stock.color.color_code }}" 
                                          data-option-title="{{ productoption.title }}"
                                          data-option-id="{{ option.hexhash }}" 
                                          data-stock-id="{{ stock.hexhash }}" 
                                          data-stock-count="{{ stock.in }}"
                                          data-price="{% if option.activePricing.price > 0 %}{{ option.activePricing.currency }}{{ option.activePricing.price|number_format(2,".",",") }}{% else %}out-of-stock{% endif %}">
                                          <div class="color" style="background-color: {{ stock.color.color_code }}"></div>
                                        </div>
                                        <i class="fa fa-check"></i>
                                      </label>
                                    </li>
                                  {% endif %}
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </div>
                          <div class="selection-price hidden-xs">
                            <h3></h3>
                          </div>
                        </div>
                      {% endfor %}
                      {# {% for option in product.options %}
                        <div class="selection-card option-card" 
                          data-hash="{{ option.hexhash }}"
                          data-stock="{{ option.stocks[0].hexhash }}">
                          <div class="selection-toggle hidden-xs">
                            <i class="fa fa-circle"></i>
                          </div>
                          <div class="selection-title hidden-xs">
                            <p>{{ option.title }}</p>
                            {% if option.stocks[0].color != null %}
                              <ul class="product-options clearfix input-option color-selections">
                                {% for stock in option.stocks %}
                                  {% if stock.color %}
                                    <li class="radio{% if loop.index == 1 %} active{% endif %}">
                                      <label>
                                        <input class="image_radio" type="radio" name="option" value="{{ stock.hexhash }}">
                                        <div class="img-thumbnail icon icon-color" 
                                          data-toggle="tooltip" 
                                          data-original-title="{{ stock.color.title }}" 
                                          data-color-title="{{ stock.color.color_code }}" 
                                          data-stock-id="{{ stock.hexhash }}" 
                                          data-stock-count="{{ stock.in }}"
                                          data-price="{% if stock.activePricing.price > 0 %}{{ stock.activePricing.currency }}{{ stock.activePricing.price|number_format(2,".",",") }}{% else %}out-of-stock{% endif %}">
                                          <div class="color" style="background-color: {{ stock.color.color_code }}"></div>
                                        </div>
                                        <i class="fa fa-check"></i>
                                      </label>
                                    </li>
                                  {% endif %}
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </div>
                          <div class="selection-price hidden-xs">
                            <h3></h3>
                          </div>
                        </div>
                      {% endfor %} #}
                    </div>
                  {% elseif product.product_type == 'BUNDLE' %}
                    <table>
                      <tbody>
                        {% for productoption in product.productOptions %}
                          <tr class="image_option_type form-group required">
                            <td>
                              <div class="required">
                                <label class="control-label">{{ productoption.title }}: </label>
                              </div>
                            </td>
                            <td>
                              <ul class="product-options clearfix">
                                {% if productoption.stock.color != null %}
                                  <ul class="product-options clearfix input-option color-selections">
                                    {% set counter = 0 %}
                                    {% for option in product.options %}
                                      {% set stock = option.stock %}
                                      {% if stock.color and option.title == productoption.title %}
                                        <li class="radio{% if counter == 0 %} active{% endif %}">
                                          <label>
                                            <input class="image_radio" type="radio" name="option[231]" value="{{ stock.hexhash }}">
                                            <div class="img-thumbnail icon icon-color" 
                                              data-toggle="tooltip" 
                                              data-original-title="{{ stock.color.title }}" 
                                              data-color-title="{{ stock.color.color_code }}" 
                                              data-option-title="{{ productoption.title }}"
                                              data-option-id="{{ option.hexhash }}" 
                                              data-stock-id="{{ stock.hexhash }}" 
                                              data-stock-count="{{ stock.in }}"
                                              data-price="{% if productoption.activePricing.price > 0 %}{{ productoption.activePricing.currency }}{{ productoption.activePricing.price|number_format(2,".",",") }}{% else %}out-of-stock{% endif %}">
                                              <div class="color" style="background-color: {{ stock.color.color_code }}"></div>
                                            </div>
                                            <i class="fa fa-check"></i>
                                            <label> </label>
                                          </label>
                                        </li>
                                        {% set counter = counter + 1 %}
                                      {% endif %}
                                    {% endfor %}
                                  </ul>
                                {% else %}
                                  <ul class="product-options clearfix input-option color-selections">
                                    {% set counter = 0 %}
                                    {% set stock = productoption.stock %}
                                    <li class="radio{% if counter == 0 %} active{% endif %}">
                                      <label>
                                        <input class="image_radio" type="radio" name="option[231]" value="{{ stock.hexhash }}">
                                        <div class="img-thumbnail icon icon-color" 
                                          data-option-title="{{ productoption.title }}"
                                          data-option-id="{{ productoption.hexhash }}" 
                                          data-stock-id="{{ stock.hexhash }}" 
                                          data-stock-count="{{ stock.in }}"
                                          data-price="{% if productoption.activePricing.price > 0 %}{{ productoption.activePricing.currency }}{{ productoption.activePricing.price|number_format(2,".",",") }}{% else %}out-of-stock{% endif %}">
                                          <div class="color" style="background-color: #000"></div>
                                        </div>
                                        <i class="fa fa-check"></i>
                                        <label> </label>
                                      </label>
                                    </li>
                                  </ul>
                                {% endif %}
                                {# <li class="selected-option">
                                </li> #}
                              </ul>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  {% elseif product.product_type == 'SET' %}
                    {% for option in product.options %}
                      <div class="selection-card" data-hash="{{ option.hexhash }}" style="cursor: default;">
                        <div class="selection-title hidden-xs">
                          <p>• {{ option.title }}</p>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}

                  {% if product.isInSale and not is_agent %}
                    <!--countdown box-->
                    {% if product.sale_end %}
                      <div class="countdown_box">
                        <div class="countdown_inner">
                          <div class="title">This limited offer ends</div>

                          <div class="countdown_timer" data-sale-end="{{ product.sale_end }}"></div>
                        </div>
                      </div>
                    {% endif %}
                    <!--end countdown box-->
                  {% endif %}

                  <div class="form-group box-info-product">
                    <form id="add_cart_form" data-request="onAddItem"> 
                      <div class="option quantity">
                        <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                          <label>Qty</label>
                          <input class="form-control" type="text" id="quantity" name="quantity" value="1">
                          <input type="hidden" id="product_id" name="product_id" value="{{ product.hexhash }}">
                          {% if product.options|length > 0 and product.product_type == 'NORMAL' %}
                            <input type="hidden" name="options[]" value="{{ product.options[0].hexhash }}">
                          {% elseif product.product_type == 'COLOR' %}
                            <input type="hidden" name="options[]" value="{{ product.options[0].hexhash }}">
                          {% elseif product.product_type == 'OPTION' %}
                            <input type="hidden" name="options[]" value="">
                          {% elseif product.product_type == 'SET' %}
                            {% for option in product.options %}
                              <input type="hidden" name="options[]" value="{{ option.hexhash }}">
                            {% endfor %}
                          {% elseif product.product_type == 'BUNDLE' %}
                            {% for productoption in product.productOptions %}
                              <input type="hidden" data-option="{{ productoption.title }}" name="options[]" value="{{ productoption.hexhash }}">
                            {% endfor %}
                          {% else %}
                            <input type="hidden" name="options[]" value="">
                          {% endif %}
                          <span class="input-group-addon product_quantity_down">−</span>
                          <span class="input-group-addon product_quantity_up">+</span>
                        </div>
                      </div>
                      <div class="cart">
                        <input type="button" title="" value="Add to Cart" data-loading-text="Loading..." id="button-cart" class="btn-add-to-cart btn btn-mega btn-lg">
                      </div>
                    </form>
                    <div class="add-to-links wish_comp">
                      <ul class="blank list-inline">
                        <li class="wishlist">
                          <form data-request="onAddToWishlist">
                            <input type="hidden" name="product-hash" value="{{ product.hexhash }}">
                            {% if product.options|length > 0 and product.product_type == 'NORMAL' %}
                              <input type="hidden" name="options[]" value="{{ product.options[0].hexhash }}">
                            {% elseif product.product_type == 'COLOR' %}
                              <input type="hidden" name="options[]" value="{{ product.options[0].hexhash }}">
                            {% elseif product.product_type == 'OPTION' %}
                              <input type="hidden" name="options[]" value="">
                            {% elseif product.product_type == 'SET' %}
                              {% for option in product.options %}
                                <input type="hidden" name="options[]" value="{{ option.hexhash }}">
                              {% endfor %}
                            {% elseif product.product_type == 'BUNDLE' %}
                              {% for productoption in product.productOptions %}
                                <input type="hidden" data-option="{{ productoption.title }}" name="options[]" value="{{ productoption.hexhash }}">
                              {% endfor %}
                            {% else %}
                              <input type="hidden" name="options[]" value="">
                            {% endif %}
                            <a class="icon btn-add-to-wishlist" href="#" data-toggle="tooltip" title="" data-original-title="Add to Wishlist">
                              <i class="fa fa-heart"></i>
                            </a>
                          </form>
                        </li>
                      </ul>
                    </div>

                  </div>

                </div>
                <!-- end box info product -->

              </div>
            </div>
          </div>
        </div>

        <!-- Product Tabs -->
        <div class="stock-list module titleLine">
          <h3 class="modtitle">Stock </h3>
          <div class="table-responsive">
            <table class="std table">
              <thead>
                <tr>
                  <th>#</th>
                  {% if product.product_type == 'COLOR' %}
                    <th>Color</th>
                  {% elseif product.product_type == 'NORMAL' and product.options|length > 0 %}
                    <th>Product</th>
                  {% elseif product.product_type == 'OPTION' %}
                    <th style="text-align: left;">Option</th>
                    <th>Color</th>
                  {% elseif product.product_type == 'SET' %}
                    <th style="text-align: left;">Set Item</th>
                  {% elseif product.product_type == 'BUNDLE' %}
                    <th style="text-align: left;">Set Item</th>
                    <th>Color</th>
                  {% endif %}
                  <th>Stock Left</th>
                  <th>Reserved Stock</th>
                  <th>Expected Stock</th>
                </tr>
              </thead>
              <tbody>
                {% if product.product_type == 'COLOR' %}
                  {% for option in product.options %}
                    {% set stock = option.stock %}
                    <tr>
                      <td>{{ loop.index }}.</td>
                      {% if stock.color %}
                        <td>{{ stock.color.title }}</td>
                      {% endif %}
                      <td>{{ stock.in }}</td>
                      <td>{{ stock.reserved }}</td>
                      <td>{{ stock.expected }}</td>
                    </tr>
                  {% endfor %}
                {% elseif product.product_type == 'NORMAL' and product.options|length > 0 %}
                  {% set stock = product.options[0].stock %}
                  <tr>
                    <td>1.</td>
                    <td>{{ product.title }}</td>
                    <td>{{ stock.in }}</td>
                    <td>{{ stock.reserved }}</td>
                    <td>{{ stock.expected }}</td>
                  </tr>
                {% elseif product.product_type == 'OPTION' %}
                  {% for option in product.options %}
                    {% set stock = option.stock %}
                    <tr>
                      <td>{{ loop.index }}.</td>
                      <td style="text-align: left;">{{ option.title }}</td>
                      <td>{% if stock.color %}{{ stock.color.title }}{% endif %}</td>
                      <td>{{ stock.in }}</td>
                      <td>{{ stock.reserved }}</td>
                      <td>{{ stock.expected }}</td>
                    </tr>
                  {% endfor %}
                {% elseif product.product_type == 'SET' %}
                  {% for option in product.options %}
                    {% set stock = option.stock %}
                    <tr>
                      <td>{{ loop.index }}.</td>
                      <td style="text-align: left;">{{ option.title }}</td>
                      <td>{{ stock.in }}</td>
                      <td>{{ stock.reserved }}</td>
                      <td>{{ stock.expected }}</td>
                    </tr>
                  {% endfor %}
                {% elseif product.product_type == 'BUNDLE' %}
                  {% for option in product.options %}
                    {% set stock = option.stock %}
                    <tr>
                      <td>{{ loop.index }}.</td>
                      <td style="text-align: left;">{{ option.title }}</td>
                      <td>{% if stock.color %}{{ stock.color.title }}{% endif %}</td>
                      <td>{{ stock.in }}</td>
                      <td>{{ stock.reserved }}</td>
                      <td>{{ stock.expected }}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
          {# <div class="tabsslider  vertical-tabs col-xs-12">
          <ul class="nav nav-tabs col-lg-2 col-sm-3">
            <li class="active">
              <a data-toggle="tab" href="#description">Description</a>
            </li>
            <li class="item_nonactive">
              <a data-toggle="tab" href="#stock">Stock</a>
            </li>
          </ul>
          <div class="tab-content col-lg-10 col-sm-9 col-xs-12">
            <div id="description" class="tab-pane fade active in">
            {{ product.description|raw }}
            </div>
            <div id="stock" class="tab-pane fade">
            
            </div>
          </div>
          </div> #}
        </div>
        <!-- //Product Tabs -->

        <!-- Related Products -->
        <div class="related titleLine products-list grid module ">
          <h3 class="modtitle">Related Products </h3>
          <div class="releate-products ">
            {% for product in related_products %}
              <div class="product-layout" data-match-height="related-product">
              {% partial 'placeholder::partial/_product_card'
                product = product
              %}
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- end Related  Products-->
      </div>
    </div>
  <!--Middle Part End-->
  </div>
  <!-- //Main Container -->
</main>

{% put scripts %}
  <script src="{{ 'assets/vendor/lightslider/lightslider.js'|theme }}"></script>
  <script src="{{ 'assets/javascript/product.js'|theme }}"></script>
{% endput %}