title = "Search Results"
url = "/search"
layout = "master"

[productSearchResults]
resultsPerPage = 96
showProviderBadge = 1
noResultsMessage = "Sorry, no results matched your search. Trust us, we dug deep."
visitPageMessage = "Visit page"
==
{% put styles %}
  <link href="{{ [
    'assets/css/products.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-category">
  <div class="main-container container">
    <ul class="breadcrumb">
      <li>
        <a href="{{ url('/') }}">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        Search
      </li>
      <li>
        {{ productSearchResults.query }}
      </li>
    </ul>

    <div class="row">
      {% partial "site/sidebar" category=category hideFilter=true %}

      <!--Middle Part Start-->
      <div id="content" class="col-md-9 col-sm-8">
        <div class="products-category">
          <div class="module menu-category titleLine">
            <h3 class="modtitle">Search: {{ productSearchResults.query }} <small class="small text-capitalize">Showing <span id="product-listing-count">{{ productSearchResults.results.total() }}</span> products</small></h3>
          </div>

          {# <div class="category-derc">
            <div class="row">
              <div class="col-sm-12">
                {% component 'homeBanner' %}

              </div>
            </div>
          </div> #}
          <!--changed listings-->
          <div id="product-listing-container" class="products-list row grid">
            {% component 'productSearchResults' %}
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12" id="pagination-container">
              {% partial 'placeholder::partial/_pagination'
                products = productSearchResults.results
              %}
            </div>
          </div>
          <!--// End Changed listings-->
        </div>
      </div>
    </div>
    <!--Middle Part End-->
  </div>
  <!-- //Main Container -->
</main>

{% put scripts %}
<script>
  $(document).ready(function(){
    $('.products-category .products-list .product-layout').matchHeight({
      byRow: false,
      property: 'height',
    });

    $(document).on('onProductListFiltered', function (e) {
      filterProducts();
      refreshUrl();
    });

    function refreshUrl() {
      var url = document.location.href;
      window.history.pushState({}, "", url.split("?")[0]);
    }

    function filterProducts() {
      $('#product-listing-container').empty().append('<div class="product-layout col-md-12 col-sm-12"><p>Loading...</p></div>');
      $('#pagination-container').empty();
      $('#product-listing-count').text(0);

      var keyword = $('input[name="keyword"]').val();

      var colors = [];
      $('input[name="colors[]"]:checked').each(function () {
      colors.push($(this).val());
      });

      var categories = [];
      $('input[name="categories[]"]:checked').each(function () {
      categories.push($(this).val());
      });

      var subcategories = [];
      $('input[name="subcategories[]"]:checked').each(function () {
      subcategories.push($(this).val());
      });

      var availability = [];
      $('input[name="availability[]"]:checked').each(function () {
      availability.push($(this).val());
      });

      var url = "{{ ''|app }}/search?q={{ productSearchResults.query }}";
      console.log(url);

      $.post(url, {
      'keyword'     : keyword,
      'category'    : categories,
      'subcategory' : subcategories,
      'color'       : colors,
      'price'       : $("#price_low").val() + '-' + $("#price_high").val(),
      'availability': availability
      }, function (response) {
      var $result = $(response);
      $('#product-listing-count').text($result.find('#product-listing-count').html());
      $('#product-listing-container').empty().html($result.find('#product-listing-container').html());
      $('#pagination-container').html($result.find('#pagination').html());

      setTimeout(function(){
        $('.products-category .products-list .product-layout').matchHeight({
          byRow: false,
          property: 'height',
        });
      }, 2000);
      });
    }
  });
</script>
{% endput %}