#page-about {
  padding-top: 40px;
}

#page-about img {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

#page-about p {
  color: #666;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

#page-about h1,
#page-about h2 {
  color: #333;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#page-about ul {
  list-style: disc;
  padding-left: 30px;
}

#page-about ul li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 5px;
}

#about {
  margin-bottom: 25px;
}

#mission-vision {
  background-color: #eee;
  margin: 35px 0px 15px;
  padding: 25px 0px;
}

#mission-vision p {
  font-weight: 400;
}

#why-choose-us {
  margin: 50px 0px 80px;
}

#why-choose-us iframe {
  margin-top: 20px;
}
