#page-account {
  margin: 35px 0px;
}

#page-account h1 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

#page-account .has-stock {
  color: #8BC34A;
}

#page-account .out-of-stock {
  color: #ed1b24;
}

#page-account .form-group {
  margin-bottom: 20px;
}

#page-account .form-group label {
  margin-bottom: 5px;
}

#page-account .btn-update {
  margin-top: 25px;
  margin-bottom: 50px;
}

#page-account .table {
  text-align: center;
}

#page-account .table td {
  vertical-align: middle;
}

#page-account .addresses h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

#page-account .table-address h5 {
  text-align: left;
  font-size: 16px;
}

#page-account .table-address h5 strong {
  font-size: 18px;
}

#page-account .table-address tr td {
  width: 80%;
}

#page-account .table-address tr td:first-child {
  width: 5%;
}

#page-account .table-address tr td:last-child {
  text-align: center;
  width: 15%;
}

#page-account .table-wishlist .product-image {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  height: auto;
  width: 60px;
}

#page-account .table-wishlist .product-title {
  font-size: 16px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
}

#page-account .table-wishlist .action-list {
  padding-right: 15px;
}

#page-account .table-wishlist .action-list > form,
#page-account .table-wishlist .action-list > a {
  display: inline-block;
}

#page-account .table-orders {
  margin-top: 25px;
  margin-bottom: 50px;
}

#page-account .table-orders thead > tr > th {
  background: #24303e;
  color: #fff;
  border-bottom: 0px;
}

#page-account .table-orders td {
  background: #f5f5f5;
}

#page-account .table-orders .invoice-no {
  font-size: 18px;
  font-weight: 600;
}

#page-account .table-orders > tbody > tr:nth-of-type(odd) td {
  background: #fff;
}

#page-account .table-orders .total-amount {
  color: #24303e;
  font-weight: 600;
  font-size: 14px;
}

#page-account .table-orders .status {
  font-weight: 600;
  font-size: 14px;
}

#page-account .table-orders .status.processing {
  color: #BE00FF;
}

#page-account .table-orders .status.completed {
  color: #8BC34A;
}

#page-account .table-orders .status.failed {
  color: #ed1b24;
}

#page-account .table-orders .order-summary {
  margin-bottom: 0px;
}

#page-account .table-orders .order-summary td {
  text-align: left;
}

#page-account .table-orders .order-summary .thumb {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  height: auto;
  width: 70px;
}

#page-account .table-orders .order-summary .product-desc {
  font-weight: 600;
  text-transform: uppercase;
}

#page-account .table-orders .order-summary .product-desc .desc {
  font-size: 13px;
  margin-bottom: 5px;
}

#page-account .table-orders .order-summary tr:first-child td {
  border-top: 0px;
}
