#page-auth {
  padding: 35px 0px;
}

#page-auth h1 {
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

#page-auth h2 {
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

#page-auth form {
  margin: 35px auto;
  max-width: 400px;
}

#page-auth form .forgot-password {
  text-align: right;
  display: block;
  font-weight: 600;
}

#page-auth .form-group {
  margin-bottom: 10px;
}

#page-auth .form-control {
  background-color: #eee;
  border: 0px;
  color: #333;
  box-shadow: none;
  height: auto;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

#page-auth .auth-methods .row {
  position: relative;
}

#page-auth .auth-methods .or {
  background-color: #fff;
  color: #ccc;
  padding: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}

#page-auth .left,
#page-auth .right {
  padding: 35px 15px;
}

#page-auth .right {
  border-left: 1px solid #eee;
  position: relative;
}

#page-auth .connect-fb {
  min-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
  -moz-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  -o-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
}

#page-auth .connect-fb p {
  font-weight: 300;
}

#page-auth .auth-button {
  margin: 25px 0px 50px;
}

#page-auth .auth-button p {
  display: inline-block;
  font-weight: 300;
  margin-left: 10px;
}

#page-auth .btn-connect {
  background-color: #3b5998;
  font-size: 14px;
  padding: 7px 15px 3px;
  width: 100%;
  border-radius: 30px;
  margin-top: 35px;
  color: #fff;
  text-transform: uppercase;
}

#page-auth .btn-connect .fa {
  font-size: 32px;
  margin-right: 5px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  #page-auth .btn-connect .fa {
    font-size: 26px;
  }
}

#page-auth .forgot-password h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 35px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#page-auth .forgot-password .form-group label {
  margin-bottom: 5px;
}

#page-auth .forgot-password .btn-default {
  margin-top: 25px;
  margin-bottom: 50px;
}

#page-auth .register-form label {
  font-weight: 600;
  line-height: 1.4;
}

#page-auth .register-form .form-group {
  margin-bottom: 15px;
}
