#page-blog {
  margin: 15px 0px;
}

#page-blog .blog-list .post-item a {
  display: block;
  margin-bottom: 35px;
  text-align: center;
}

#page-blog .blog-list .post-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#page-blog .blog-list .post-item h3 {
  color: #333;
  font-size: 18px;
  line-height: 1.2;
}

#page-blog .blog-list .post-item p {
  color: #999;
  font-size: 14px;
}

#page-blog .blog-list .post-item .date {
  font-style: italic;
}

#page-post {
  margin: 15px 0px;
}

#page-post img,
#page-post iframe {
  width: 100%;
}

#page-post .featured-image {
  width: 100%;
}

#page-post .post-info {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px 5px;
}

#page-post .post-info p {
  color: #999;
}

#page-post .post-info p .fa {
  margin-right: 5px;
}

#page-post .description {
  margin-top: 35px;
}
