#page-checkout {
  padding: 15px 0px 50px;
}

#page-checkout h5 {
  font-size: 16px;
  font-weight: 600;
}

#page-checkout a {
  color: #ed1b24;
  font-weight: 600;
  text-transform: uppercase;
}

#page-checkout textarea {
  width: 100%;
}

#page-checkout .section-title {
  font-size: 20px;
  line-height: normal;
  padding: 0px;
}

#page-checkout .cart-empty h2 {
  font-size: 64px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #page-checkout .cart-empty h2 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #page-checkout .cart-empty h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  #page-checkout .cart-empty h2 {
    font-size: 24px;
  }
}

#page-checkout .cart-empty p {
  font-size: 21px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #page-checkout .cart-empty p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  #page-checkout .cart-empty p {
    font-size: 16px;
  }
}

#page-checkout .checkbox label {
  font-weight: 600;
  padding-left: 0px;
  width: 100%;
}

#page-checkout .checkbox .fa {
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 5px;
  color: #eee;
}

#page-checkout .checkbox .fa.checked {
  color: #8BC34A;
}

#page-checkout .checkbox-square {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

#page-checkout .email-details {
  padding-bottom: 40px;
}

#page-checkout .email-details h5 {
  margin-top: 30px;
  margin-bottom: 15px;
}

#page-checkout .billing-address .table,
#page-checkout .shipping-address .table,
#page-checkout .shipping-handling .table {
  border-bottom: 1px solid #f5f5f5;
  margin-top: 10px;
}

#page-checkout .billing-address .table h4,
#page-checkout .shipping-address .table h4,
#page-checkout .shipping-handling .table h4 {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 3px;
}

#page-checkout .billing-address .table tr,
#page-checkout .shipping-address .table tr,
#page-checkout .shipping-handling .table tr {
  cursor: pointer;
  height: 95px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#page-checkout .billing-address .table td,
#page-checkout .shipping-address .table td,
#page-checkout .shipping-handling .table td {
  background: transparent;
  border: none;
  vertical-align: middle;
}

#page-checkout .billing-address .table td:first-child,
#page-checkout .shipping-address .table td:first-child,
#page-checkout .shipping-handling .table td:first-child {
  text-align: center;
}

#page-checkout .billing-address .table .btn-edit-address .fa,
#page-checkout .shipping-address .table .btn-edit-address .fa,
#page-checkout .shipping-handling .table .btn-edit-address .fa {
  color: #ed1b24 !important;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#page-checkout .billing-address .table .btn-delete-address .fa,
#page-checkout .shipping-address .table .btn-delete-address .fa,
#page-checkout .shipping-handling .table .btn-delete-address .fa {
  color: #aaa !important;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#page-checkout .billing-address .table p,
#page-checkout .shipping-address .table p,
#page-checkout .shipping-handling .table p {
  line-height: 1.4;
}

#page-checkout .billing-address .table .rm,
#page-checkout .shipping-address .table .rm,
#page-checkout .shipping-handling .table .rm {
  line-height: normal;
  font-size: 55%;
}

#page-checkout .billing-address .table .fa,
#page-checkout .shipping-address .table .fa,
#page-checkout .shipping-handling .table .fa {
  font-size: 26px;
  color: #eee;
}

#page-checkout .billing-address .table .selected,
#page-checkout .shipping-address .table .selected,
#page-checkout .shipping-handling .table .selected {
  background-color: #f5f5f5;
}

#page-checkout .billing-address .table .selected .fa,
#page-checkout .shipping-address .table .selected .fa,
#page-checkout .shipping-handling .table .selected .fa {
  color: #8BC34A;
}

#page-checkout .billing-address .btn-modal,
#page-checkout .shipping-address .btn-modal,
#page-checkout .shipping-handling .btn-modal {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

#page-checkout .billing-address .btn-modal .fa,
#page-checkout .shipping-address .btn-modal .fa,
#page-checkout .shipping-handling .btn-modal .fa {
  color: #666 !important;
  font-size: 22px;
  margin-left: 10px;
}

#page-checkout .guest-checkout h5 {
  color: #999;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

#page-checkout .guest-checkout .table tr,
#page-checkout .billing-address .table tr,
#page-checkout .shipping-address .table tr {
  height: auto;
}

#page-checkout .guest-checkout .table h5,
#page-checkout .billing-address .table h5,
#page-checkout .shipping-address .table h5 {
  font-weight: 400;
}

#page-checkout .guest-checkout .section-title,
#page-checkout .billing-address .section-title,
#page-checkout .shipping-address .section-title {
  margin-bottom: 20px;
}

#page-checkout .guest-checkout .left,
#page-checkout .billing-address .left,
#page-checkout .shipping-address .left {
  padding-right: 5px;
}

#page-checkout .guest-checkout .right,
#page-checkout .billing-address .right,
#page-checkout .shipping-address .right {
  padding-left: 5px;
}

#page-checkout .guest-checkout .middle,
#page-checkout .billing-address .middle,
#page-checkout .shipping-address .middle {
  padding-left: 5px;
  padding-right: 5px;
}

#page-checkout .guest-checkout .form-control + .form-control,
#page-checkout .billing-address .form-control + .form-control,
#page-checkout .shipping-address .form-control + .form-control {
  margin-top: 10px;
}

#page-checkout .guest-checkout label,
#page-checkout .billing-address label,
#page-checkout .shipping-address label {
  margin-bottom: 5px;
}

#page-checkout .choose-payment-method {
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#page-checkout .choose-payment-method h5 {
  margin-top: 5px;
  margin-bottom: 15px;
}

#page-checkout .choose-payment-method .section-title {
  margin-bottom: 20px;
}

#page-checkout .choose-payment-method .left {
  padding-right: 5px;
}

@media only screen and (max-width: 767px) {
  #page-checkout .choose-payment-method .left {
    padding-right: 15px;
  }
}

#page-checkout .choose-payment-method .right {
  padding-left: 5px;
}

@media only screen and (max-width: 767px) {
  #page-checkout .choose-payment-method .right {
    padding-left: 15px;
  }
}

#page-checkout .choose-payment-method .payment-method {
  cursor: pointer;
  width: 100%;
  padding: 15px 50px;
  border: 2px solid #eee;
  font-weight: 600;
  border-radius: 0px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #page-checkout .choose-payment-method .payment-method {
    margin-bottom: 10px;
  }
}

#page-checkout .choose-payment-method .payment-method.selected {
  border-color: #8BC34A;
}

#page-checkout .choose-payment-method .payment-method.selected .fa {
  color: #8BC34A;
}

#page-checkout .choose-payment-method .payment-method .fa {
  color: #eee;
  font-size: 24px;
  line-height: 18px;
  vertical-align: middle;
  top: -1px;
  margin-right: 10px;
  position: relative;
  float: left;
}

#page-checkout .choose-payment-method .payment-method img {
  height: 26px;
  margin: -4px 0px;
  width: auto;
  vertical-align: middle;
}

#page-checkout .btn-checkout {
  font-weight: 600;
  width: 100%;
}

#page-checkout .cart-summary h4 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 15px;
}

#page-checkout .summary-wrapper {
  background-color: #f5f5f5;
  padding: 15px 25px 30px;
}

@media only screen and (max-width: 767px) {
  #page-checkout .summary-wrapper {
    padding: 15px;
    margin-bottom: 20px;
  }
}

#page-checkout .checkout-summary td {
  vertical-align: top;
  padding-bottom: 10px;
}

#page-checkout .checkout-summary td:first-child {
  width: 75px;
}

#page-checkout .checkout-summary td:nth-child(2) {
  width: 55%;
}

@media only screen and (max-width: 767px) {
  #page-checkout .checkout-summary td:nth-child(2) {
    width: 40%;
  }
}

#page-checkout .checkout-summary p.title {
  line-height: 1.3;
  font-weight: 600;
}

#page-checkout .checkout-summary p.desc {
  color: #666;
  font-size: 12px;
  line-height: 1.4;
}

#page-checkout .checkout-summary p.unit-price {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
  font-style: italic;
  line-height: normal;
}

#page-checkout .checkout-summary .item-quantity {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

#page-checkout .checkout-summary .item-amount {
  font-weight: 600;
  padding-left: 5px;
}

#page-checkout .checkout-summary h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#page-checkout .checkout-summary h4 {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#page-checkout .checkout-summary .item-thumb {
  background-image: url("http://via.placeholder.com/80x80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  height: 85px;
  margin-right: 10px;
  width: 65px;
}

@media only screen and (max-width: 767px) {
  #page-checkout .checkout-summary .item-thumb {
    margin-bottom: 15px;
  }
}

#page-checkout .checkout-summary .edit-product {
  display: block;
  margin-top: 7px;
}

#page-checkout .checkout-summary table {
  width: 100%;
}

#page-checkout .checkout-summary table td:nth-child(3) {
  text-align: center;
}

#page-checkout .checkout-summary table td:last-child {
  text-align: right;
}

#page-checkout .checkout-summary table td img {
  height: auto;
  width: 80px;
}

#page-checkout .discount-section {
  border-bottom: 2px solid #000;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 15px;
}

#page-checkout .discount-section .left {
  padding-right: 2.5px;
}

#page-checkout .discount-section .right {
  padding-left: 2.5px;
}

#page-checkout .discount-section .btn-discount {
  background-color: #e5e5e5;
  border: 0px;
  color: #aaa;
  font-weight: 600;
  border-radius: 0px;
  padding: 10px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #page-checkout .discount-section .btn-discount {
    padding: 8px 5px;
  }
}

#page-checkout .discount-section .btn-discount.selected {
  color: #ed1b24;
}

#page-checkout .discount-section .btn-discount.selected:after {
  content: '';
  position: absolute;
  border-top: 10px solid #e5e5e5;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

#page-checkout .discount-section .btn-discount:active {
  box-shadow: none;
}

#page-checkout .discount-section .discount-form {
  margin-top: 15px;
}

#page-checkout .discount-section .discount-form button {
  background-color: #ed1b24;
  font-weight: 600;
  font-size: 15px;
  padding: 9px 25px;
}

@media only screen and (max-width: 767px) {
  #page-checkout .discount-section .discount-form button {
    font-size: 14px;
    padding: 7px 15px;
  }
}

#page-checkout .discount-section .enter-promo {
  color: #24303e;
}

#page-checkout .discount-section .promo-code-form {
  margin-top: 5px;
}

#page-checkout .discount-section .promo-code-form .form-group {
  margin-bottom: 2px;
}

#page-checkout .discount-section .promo-code-form .form-control {
  width: calc(100% - 85px);
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
  text-transform: uppercase;
}

#page-checkout .discount-section .promo-code-form .apply-promocode {
  display: inline-block;
  vertical-align: middle;
}

#page-checkout .discount-section .promo-code-form .promocode-message {
  color: #ed1b24;
  font-weight: 600;
  font-size: 12px;
  margin-top: 5px;
}

#page-checkout .discount-section .promo-code-form .promocode-message.valid {
  color: #8BC34A;
}

#page-checkout .discount-section .error-msg {
  color: #ed1b24;
  font-weight: 600;
  line-height: normal;
  margin-top: 5px;
}

#page-checkout .checkout-amount table {
  width: 100%;
}

#page-checkout .checkout-amount table td {
  text-transform: uppercase;
  font-size: 15px;
  padding: 8px 0px;
  line-height: 1.2;
}

#page-checkout .checkout-amount table td:last-child {
  text-align: right;
}

#page-checkout .checkout-amount table td small {
  font-size: 12px;
  line-height: 1.2;
  display: block;
}

#page-checkout .checkout-amount .total td {
  font-size: 16px;
  font-weight: 600;
}

#page-checkout .checkout-amount .total p {
  font-size: 13px;
  text-transform: none;
}

#discount_type {
  color: #ed1b24;
}

#credit_usage:focus {
  box-shadow: none;
  border-color: #ccc;
}

.edit-product-modal .modal-dialog {
  max-width: 560px;
}

.edit-product-modal .modal-content {
  border-radius: 0px;
  border: 0px;
  padding: 25px;
}

.edit-product-modal .modal-header {
  padding: 0px 0px 10px;
}

.edit-product-modal .modal-header .close {
  opacity: 1;
  margin: 0px;
}

.edit-product-modal .modal-title {
  font-size: 20px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .modal-title {
    font-size: 18px;
  }
}

.edit-product-modal .modal-body {
  text-align: center;
  padding: 10px 0px 0px;
}

.edit-product-modal .product-desc {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.edit-product-modal .product-desc td {
  vertical-align: top;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .product-desc td:first-child {
    width: 80px;
  }
}

.edit-product-modal .product-desc .title {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 0px;
}

.edit-product-modal .product-desc .desc {
  color: #666;
  margin-bottom: 15px;
  line-height: 1.3;
}

.edit-product-modal .product-desc .product-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  width: 90px;
  height: 115px;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .product-desc .product-action {
    margin-top: 10px;
    text-align: left;
    float: left;
  }
}

.edit-product-modal .product-desc .product-action a {
  color: #ed1b24;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 25px;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .product-desc .product-action a {
    margin-right: 10px;
  }
}

.edit-product-modal .product-desc td:last-child {
  text-align: right;
}

.edit-product-modal .product-desc .product-pricing {
  color: #999;
  font-size: 18px;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .product-desc .product-pricing {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.edit-product-modal .product-desc .product-pricing .sens,
.edit-product-modal .product-desc .product-pricing .rm {
  font-size: 60%;
  position: relative;
  top: -6px;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .product-desc .product-pricing .sens,
  .edit-product-modal .product-desc .product-pricing .rm {
    font-size: 55%;
    top: -5px;
  }
}

.edit-product-modal .product-desc .product-pricing .before-discount {
  text-decoration: line-through;
}

.edit-product-modal .product-desc .product-pricing .before-discount .sens {
  display: none;
}

.edit-product-modal .product-desc .product-pricing .promo-product {
  color: #ed1b24;
  font-weight: 600;
}

.edit-product-modal .product-desc .product-pricing .promo-product .sens {
  font-weight: 600;
}

.edit-product-modal .product-desc .product-pricing .promo-product span {
  font-weight: 600;
}

.edit-product-modal .adjust-quantity {
  width: 90px;
  margin-top: 15px;
  float: right;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .adjust-quantity {
    margin-top: 0px;
  }
}

.edit-product-modal .adjust-quantity .input-group-addon {
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  width: auto;
}

.edit-product-modal .adjust-quantity .fa {
  display: block;
  font-size: 12px;
  cursor: pointer;
}

.edit-product-modal .adjust-quantity .fa.fa-chevron-up {
  padding: 6px 10px 2px 5px;
}

.edit-product-modal .adjust-quantity .fa.fa-chevron-down {
  padding: 2px 10px 6px 5px;
}

.edit-product-modal .box-info-product .quantity .quantity-control {
  float: right;
  margin: 0;
  margin-right: -12px;
  margin-top: 5px;
  padding: 4px 10px;
  position: relative;
}

.edit-product-modal .box-info-product .quantity .quantity-control label {
  float: left;
  font-weight: normal;
  margin-top: 8px;
  padding-right: 5px;
}

.edit-product-modal .box-info-product .quantity .quantity-control input.form-control {
  float: left;
  height: 33px;
  line-height: 31px;
  margin: 0;
  margin-right: 17px;
  padding: 0 10px;
  width: 35px;
  border: 1px solid #bdc2c9;
  border-radius: 0;
  z-index: 0;
}

.edit-product-modal .box-info-product .quantity .quantity-control span {
  border: 0 none;
  color: white;
  float: left;
  font-size: 10px;
  font-weight: normal;
  margin-left: 5px;
  border-radius: 0;
  cursor: pointer;
  line-height: 16px;
}

.edit-product-modal .box-info-product .quantity .quantity-control span.product_quantity_up {
  background: none repeat scroll 0 0 #444444;
  padding: 0 4px;
  position: absolute;
  right: 14px;
  top: 4px;
  height: 16.5px;
  width: 14px;
}

.edit-product-modal .box-info-product .quantity .quantity-control span.product_quantity_down {
  background: none repeat scroll 0 0 #444444;
  font-size: 13px;
  padding: 0 4px;
  position: absolute;
  right: 14px;
  top: 21px;
  width: 14px;
  height: 15.5px;
  line-height: 15px;
}

.edit-product-modal .box-info-product .quantity .quantity-control span:hover {
  background: #F4A137 !important;
}

.edit-product-modal .product-quantity {
  width: 100%;
  padding-right: 5px;
}

.edit-product-modal .bespoke-rhinestone {
  border: 1px solid #ccc;
  margin-bottom: 25px;
  text-align: left;
}

.edit-product-modal .bespoke-rhinestone p {
  font-size: 15px;
  line-height: normal;
}

.edit-product-modal .bespoke-rhinestone .table-desc {
  margin-bottom: 15px;
  width: 100%;
}

.edit-product-modal .bespoke-rhinestone .table-desc td {
  vertical-align: middle;
}

.edit-product-modal .bespoke-rhinestone .checkbox {
  margin: 0px;
}

.edit-product-modal .bespoke-rhinestone .checkbox label {
  padding-left: 0px;
  display: inline-block;
  vertical-align: middle;
  min-height: initial;
  line-height: 1;
  margin-right: 5px;
}

.edit-product-modal .bespoke-rhinestone .checkbox .fa {
  font-size: 26px;
  color: #ddd;
}

.edit-product-modal .bespoke-rhinestone .checkbox .fa.checked {
  color: #8BC34A;
}

.edit-product-modal .bespoke-rhinestone h4 {
  display: inline-block;
  color: #ed1b24;
  font-size: 20px;
  vertical-align: middle;
}

.edit-product-modal .bespoke-rhinestone h4 .fa.fa-plus {
  font-size: 16px;
  margin-right: 2px;
}

.edit-product-modal .bespoke-rhinestone h4 .rm {
  font-size: 60%;
}

.edit-product-modal .bespoke-desc {
  padding: 20px;
}

.edit-product-modal .bespoke-desc > img {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .bespoke-desc > img {
    display: block;
    margin-top: 15px;
    width: 100%;
  }
}

.edit-product-modal .bespoke-desc .desc {
  display: inline-block;
  padding-left: 15px;
  vertical-align: top;
  width: 64%;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .bespoke-desc .desc {
    display: block;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
  }
}

.edit-product-modal .bespoke-form {
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 20px 8%;
}

.edit-product-modal .bespoke-form .bespoke-input {
  background-color: #fff;
  border: 0px;
  color: #888;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  margin: 10px 0px;
}

.edit-product-modal .bespoke-form .small {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .edit-product-modal .default-button {
    padding: 9px 20px;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #checkout .billing-address .right, #checkout .shipping-address .right {
    padding-left: 15px;
  }
  #checkout .billing-address .left, #checkout .shipping-address .left {
    padding-right: 15px;
  }
  #checkout .billing-address .middle, #checkout .shipping-address .middle {
    padding: 0px 15px;
  }
}
