#page-contact {
  padding: 35px 0px;
}

#page-contact h1 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#page-contact p {
  font-weight: 300;
  margin-bottom: 10px;
}

#page-contact form {
  margin: 25px 0px;
}

#locations {
  background-color: #eee;
  padding: 15px;
}

#locations h2 {
  color: #000;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#locations small {
  font-weight: 600;
}

#locations .card-branch {
  margin-bottom: 25px;
}

#locations .card-branch h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

#locations .card-branch address {
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 5px;
}

#locations .card-branch p {
  line-height: 1.4;
  font-weight: 300;
}

#locations .card-info {
  margin-bottom: 10px;
}

#locations .card-map {
  position: relative;
  padding-bottom: 75%;
  /* 4:3 ratio*/
  height: 0;
  overflow: hidden;
}

#locations .card-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#locations .operation-hour h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 0px;
}

#locations .operation-hour p {
  margin-bottom: 0px;
}
