#page-home .so-slideshow .owl-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#page-home .categories {
  background-color: #eee;
}

#page-home .policy {
  padding: 0px 5px;
}

#page-home .policy-inner {
  height: auto;
  width: 100%;
}

#page-home .policy-inner a {
  cursor: default;
}

#page-home .policy-inner .policy-icon {
  color: #999;
  font-size: 46px;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

#page-home .policy-inner .policy-icon-image {
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

#page-home .policy-inner .policy-description {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 65px);
}

#page-home .policy-inner .policy-description strong {
  font-size: 120%;
}

#page-home .services-v1 .policy-inner {
  padding: 20px;
}

#page-home .item-sub-cat__divided .ltabs-tabs.cf .ltabs-tab-label {
  font-weight: 700;
  font-size: 1.4rem;
}

#page-home .categories-list .row {
  margin-left: -5px;
  margin-right: -5px;
}

#page-home .categories-list .col-sm-4 {
  padding: 5px;
}

#page-home .categories-list .more-categories {
  height: 100%;
  width: 100%;
  position: relative;
}

#page-home .categories-list .more-categories a {
  height: 100%;
  width: 100%;
  border-width: 3px;
  transition: all .5s ease;
}

#page-home .categories-list .more-categories a:hover {
  border-color: #F4A137;
}

#page-home .categories-list .more-categories a:hover h4 {
  color: #fff;
}

#page-home .categories-list .more-categories a h4 {
  color: #333;
  font-size: 16px;
}

#page-home .categories-list .more-categories a .bg-overlay {
  background-color: #333333;
}

#page-home .category-item {
  overflow: hidden;
  text-align: center;
  max-height: 200px;
  position: relative;
}

#page-home .category-item:hover img {
  transform: scale(1.2);
}

#page-home .category-item:hover .bg-overlay {
  left: 100%;
}

#page-home .category-item a {
  display: block;
}

#page-home .category-item img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all .5s ease;
}

#page-home .category-item .bg-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transform-origin: center center;
  transition: all .5s ease;
}

#page-home .category-item h4 {
  white-space: normal;
  line-height: 1.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  padding: 0px 10px;
}

@media only screen and (max-width: 767px) {
  #page-home .category-item h4 {
    font-size: 18px;
  }
}

#page-home .list-collections--item a {
  font-size: 0px;
  height: auto;
  line-height: 1;
  padding: 0px;
  position: relative;
}

#page-home .list-collections--item a:hover .bg-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

#page-home .list-collections--item h4 {
  color: #fff;
  left: 50%;
  line-height: 1.2;
  max-width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

#page-home .list-collections--item .bg-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -ms-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

#testimonials {
  min-height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/testimonial-bg.jpg") no-repeat center/cover;
}

@media only screen and (max-width: 767px) {
  #testimonials {
    margin-bottom: 30px;
    padding: 35px 0px;
  }
}

#testimonials .slider-clientsay__dec {
  padding: 0px 15px;
  line-height: 1.6;
}

@media only screen and (max-width: 767px) {
  #testimonials .slider-clientsay__dec {
    margin-bottom: 20px;
  }
}

#testimonials .owl-nav {
  display: none;
}

#testimonials .slider-clientsay__info p {
  font-style: italic;
  text-transform: none;
}
