/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

h5,
h6 {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

li,
body,
html,
p,
input,
textarea,
label,
button {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  line-height: 1.4;
}

body,
html,
p {
  font-size: 14px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

b,
strong {
  font-weight: 600;
}

label {
  font-size: 15px;
}

a,
a:hover,
a:visited,
a:active,
a:focus,
input,
input:hover,
input:focus,
input:visited,
input:active,
select,
select:hover,
select:focus,
select:visited,
select:active,
img,
img:hover,
img:visited,
img:active,
img:focus,
button,
button:hover,
button:visited,
button:active,
button:focus,
div,
div:hover,
div:visited,
div:active,
div:focus {
  outline: 0 !important;
  text-decoration: none !important;
}

a[disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
}

a {
  color: #BE00FF;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
}

body.has-active-menu {
  overflow: hidden;
}

.owl-item {
  display: inline-block;
  vertical-align: top;
}

.text-white {
  color: #fff;
}

.carousel img {
  width: 100%;
}

.carousel .carousel-control {
  background: none;
}

.carousel .carousel-control .icon-prev,
.carousel .carousel-control .icon-next {
  font-size: 56px;
  width: auto;
  height: auto;
  margin-top: -30px;
}

.pos-r {
  position: relative;
}

.pos-f {
  position: fixed;
}

.pos-a {
  position: absolute;
}

.main {
  padding: 0px;
}

.back-to-top {
  bottom: 100px;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 15px;
}

span.required {
  padding-left: 2px;
  color: #ed1b24;
}

div[data-match-height="product-card"] .ltabs-item {
  height: 100%;
}

div[data-match-height="product-card"] .ltabs-item .product-item-container {
  height: calc(100% - 30px);
}

.ltabs-wrap {
  position: relative;
}

.ltabs-wrap .owl-nav {
  position: absolute;
  top: 10px;
  right: 0px;
}

.ltabs-wrap .owl-nav .owl-prev,
.ltabs-wrap .owl-nav .owl-next {
  display: inline-block;
  cursor: pointer;
}

.ltabs-wrap .owl-nav .owl-prev {
  left: -15px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  div.tab-slider {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .so-listing-tabs .ltabs-tabs-container {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.tabs-wrap__Line:after {
    background: transparent !important;
  }
}

@media only screen and (max-width: 767px) {
  .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap {
    font-size: 16px !important;
    font-weight: 600;
    color: #333 !important;
  }
}

@media only screen and (max-width: 767px) {
  .so-listing-tabs .ltabs-tabs-container .ltabs-tab-selected {
    border: 1px solid #999 !important;
    padding: 10px 0px !important;
    height: 40px !important;
    text-indent: 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  .so-listing-tabs .ltabs-tabs-container .ltabs-tab-arrow {
    height: 40px !important;
    padding: 14px 0px !important;
    background: #eee !important;
    border: 1px solid #999 !important;
    margin-left: -1px !important;
  }
}

.so-listing-tabs .product-layout {
  width: 100%;
}

.so-listing-tabs .product-layout .product-item-container {
  width: 100%;
}

.so-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  #header .header-center {
    padding: 15px 0px;
  }
}

@media only screen and (max-width: 767px) {
  #header .header-bottom #show-verticalmenu {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  #header .header-bottom #show-verticalmenu:before {
    content: '\f0c9';
  }
}

#header.fixed-top .header-center {
  margin-bottom: 46px;
}

#header.fixed-top .header-bottom {
  background-color: #24303e;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#header.fixed-top .header-bottom .megamenu img {
  display: none;
}

@media only screen and (max-width: 767px) {
  #header .navbar-logo {
    padding-right: 0px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
}

#header .navbar-logo img {
  width: 130px;
}

#header .currencies-block .dropdown-toggle {
  line-height: 28px;
}

#header .currencies-block .dropdown-menu {
  border: 0px;
  padding: 0px;
}

@media only screen and (max-width: 767px) {
  #header .currencies-block .dropdown-menu {
    left: 0px;
  }
}

#header .currencies-block .dropdown-menu li.active a {
  background-color: #F4A137;
  color: #fff;
}

#header .currencies-block .dropdown-menu li a {
  display: block;
  color: #000;
  padding: 7px 15px;
  width: 100%;
  line-height: normal;
}

#header .currencies-block .dropdown-menu li p {
  display: inline-block;
  margin-left: 8px;
  line-height: 24px;
  font-weight: 600;
  vertical-align: top;
}

#header .currencies-block .dropdown-menu .flag-icon {
  font-size: 24px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: inline-block;
}

#header .search-pro {
  margin-top: 26px;
}

@media only screen and (max-width: 767px) {
  #header .search-pro {
    padding: 0px 15px;
    margin-top: 9px !important;
    margin-bottom: 0px;
    width: 75%;
    clear: none;
  }
}

#header .search-pro .search .form-control {
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  padding: 8px 10px 8px 15px;
}

#header .phone-contact {
  margin-top: 28px;
}

#header .phone-contact img {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
}

#header .phone-contact .inner-info {
  background: none;
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}

#header .phone-contact .inner-info a {
  color: #fff;
  line-height: 1.4;
}

#header .shopping_cart {
  margin-top: 28px;
}

@media only screen and (max-width: 767px) {
  #header .shopping_cart {
    margin-top: 10px;
  }
}

#header .shopping_cart .top_cart .cart-handle {
  font-size: 32px;
  color: #fff;
}

#header .shopping_cart .top_cart .handle {
  margin-top: 0px;
}

#header .shopping_cart .cart_product_name {
  font-size: 14px;
  line-height: 1.3;
  color: #333;
  font-weight: 700;
  display: block;
}

#header .shopping_cart .shoppingcart-box {
  min-width: 320px;
}

#header .shopping_cart .shoppingcart-box .checkout-cart {
  color: #fff;
  background: #444;
  border-color: #444;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

#header .shopping_cart .shoppingcart-box .checkout-cart:hover {
  color: #444;
}

#header .shopping_cart .shoppingcart-box .checkout-cart i {
  margin-right: 5px;
}

#header .shopping_cart .shoppingcart-box .btn-remove {
  color: #ed1b24;
  background: transparent;
  border: 0px;
  padding: 5px;
}

#header .shopping_cart .shoppingcart-box .btn-remove .fa {
  margin: 0px;
}

#header .shopping_cart .shoppingcart-box tr td {
  padding: 3px;
}

#header .shopping_cart .shoppingcart-box tr td:first-child {
  width: 25%;
  padding: 0px;
}

#header .shopping_cart .shoppingcart-box tr td:first-child img {
  display: block;
  width: 100%;
}

#header .shopping_cart .shoppingcart-box tr td:nth-child(2) {
  width: 65%;
}

#header .shopping_cart .shoppingcart-box tr td:nth-child(3) {
  width: 10%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header .megamenu-wrapper .megamenu li:hover a {
    background-color: #F4A137;
    color: #fff !important;
  }
}

@media only screen and (max-width: 767px) {
  #header .megamenu-wrapper .megamenu li:hover a {
    background-color: #F4A137;
    color: #fff !important;
  }
}

@media only screen and (max-width: 767px) {
  #header .megamenu-hori .navbar-toggle {
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }
}

#header .megamenu-hori .navbar-toggle:hover, #header .megamenu-hori .navbar-toggle:active, #header .megamenu-hori .navbar-toggle:focus {
  background-color: transparent;
}

#header .megamenu-hori .navbar-toggle .fa {
  font-size: 32px;
  margin-right: 10px;
  vertical-align: middle;
}

#header .vertical-wrapper {
  position: absolute;
  height: 420px;
  overflow: scroll;
}

#header .vertical-wrapper .megamenu-pattern .menu a {
  line-height: normal;
  padding: 3px 0px;
}

#header .social-media {
  float: right;
}

#header .social-media a {
  display: inline-block;
  padding: 5px;
}

#header .social-media a i {
  padding-right: 0px;
  font-size: 18px;
  position: relative;
  top: 3px;
}

@media only screen and (max-width: 767px) {
  #header .header-top-right {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

#header .header-top-right .top-link li {
  line-height: normal;
}

@media only screen and (max-width: 767px) {
  #header .header-top-right .top-link li {
    padding-left: 3px;
    padding-right: 3px;
  }
}

@media only screen and (max-width: 767px) {
  #header .header-top-right .top-link li .fa {
    margin-right: 0px;
  }
}

#header .header-top-right .top-link .top-link-item {
  vertical-align: middle;
}

#header .header-top-right .top-link .top-link-item .user-name {
  font-size: 12px;
  color: #bcbdc7;
}

#header .header-top-right .top-link .top-link-item .fa {
  vertical-align: middle;
  line-height: 1.4;
}

#header .header-top-right .top-link .top-link-item span {
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  #header .header-top-right .top-link .top-link-item span.invi-xs {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

#header .header-top-right .top-link .top-link-item span.show-xs {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@media only screen and (max-width: 767px) {
  #header .header-top-right .top-link .top-link-item span.show-xs {
    visibility: visible;
    opacity: 1;
    display: inline-block;
  }
}

#menuHeading .megamenuToogle-pattern > .container {
  line-height: 1.6;
}

#footer .block-payment img {
  height: 35px;
  margin-top: -10px;
  margin-right: 25px;
}

@media only screen and (max-width: 767px) {
  #footer .block-payment img {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#footer .box-information p {
  padding-right: 30px;
}

#footer .copyright-text p {
  font-size: 12px;
}

#footer .copyright-text a {
  color: #F4A137;
}

#announcement {
  background-color: #ed1b24;
  color: #fff;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  font-size: 15px;
  text-align: center;
}

#announcement .cont {
  display: inline-block;
  margin-left: 200px;
}

#sticky-bar {
  background-color: #111;
  color: #fff;
  height: 35px;
}

#sticky-bar a {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  line-height: 35px;
}

#sticky-bar .row {
  margin: 0px;
}

#sticky-bar .left {
  float: left;
}

#sticky-bar .left p {
  font-size: 12px;
  display: inline-block;
  line-height: 35px;
  margin-right: 15px;
}

#sticky-bar .left a {
  font-size: 12px;
  margin: 0px 3px;
}

#sticky-bar .left a .fa {
  margin-right: 3px;
}

#sticky-bar .right {
  float: right;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  #sticky-bar .right {
    text-align: left;
  }
}

#sticky-bar .right .dropdown-menu {
  background-color: #f5f5f5;
  border: 0px;
  border-radius: 0px;
  left: initial;
  margin-top: 0px;
  min-width: 95px;
  padding: 0px;
  right: -10px;
}

#sticky-bar .right .dropdown-menu li.active a {
  background-color: #000;
  color: #fff;
}

#sticky-bar .right .dropdown-menu li a {
  display: block;
  color: #000;
  padding: 7px 15px;
  width: 100%;
  line-height: normal;
}

#sticky-bar .right .dropdown-menu li p {
  display: inline-block;
  margin-left: 8px;
  line-height: 24px;
  font-weight: 600;
  vertical-align: top;
}

#sticky-bar .right .dropdown-menu .flag-icon {
  font-size: 24px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: inline-block;
}

.sweet-alert h2 {
  text-transform: capitalize;
}

.sweet-alert button {
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 600;
}

.sweet-alert .sa-confirm-button-container .confirm {
  background-color: #24303e !important;
}

#mobile_search {
  margin-top: -41px;
  margin-bottom: 0px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#mobile_search .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

#mobile_search.pushed-down {
  margin-top: 0px;
}

#mobile_search .form-group {
  margin-bottom: 0px;
}

#mobile_search .form-control {
  border-right: 0px;
  box-shadow: none;
}

#mobile_search .input-group-addon {
  background-color: #fff;
  border-radius: 0px;
  padding: 6px 20px 6px 0px;
}

.table thead > tr > th {
  background: #24303e;
  color: #fff;
  border-bottom: 0px;
}

.table td {
  background: #f5f5f5;
}

.table.table-striped > tbody > tr:nth-of-type(odd) td {
  background: #fff;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  color: #333;
  height: auto;
  font-size: 14px;
  padding: 10px;
}

#search-bar {
  max-width: 250px;
}

#search-bar .form-control {
  box-shadow: none;
  border: 1px solid #ccc;
  border-right: 0px;
  background-color: #fff;
}

#search-bar .input-group-addon {
  background-color: #ffffff;
}

#navigation {
  border-bottom: 1px solid #eee;
}

#navigation .c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

#navigation .c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

#navigation .c-menu--slide-left {
  background-color: #000;
  position: fixed;
  z-index: 200;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  text-align: left;
  top: 0;
  left: 0;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
}

#navigation .c-menu--slide-left.is-active {
  transform: translateX(0);
}

#navigation .c-menu--slide-left .c-menu__close {
  color: #fff;
  background: transparent;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 5px;
}

#navigation .c-menu--slide-left .c-menu__close:focus {
  outline: none;
}

#navigation .c-menu--slide-left .menu-items {
  padding-top: 40px;
  padding-bottom: 100px;
}

#navigation .c-menu--slide-left .menu-items .menu-item {
  margin-top: -1px;
  margin-bottom: 0px;
  display: block;
}

#navigation .c-menu--slide-left .menu-items .menu-item.active a {
  color: #000;
  position: relative;
}

#navigation .c-menu--slide-left .menu-items .menu-item a {
  color: #fff;
  line-height: normal;
  padding: 15px 25px;
  width: 100%;
  font-size: 16px;
  display: block;
  text-align: left;
  margin: 0px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

#navigation .navbar {
  background-color: #fff;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  height: 120px;
}

@media only screen and (max-width: 767px) {
  #navigation .navbar-header {
    display: inline-block;
    vertical-align: top;
  }
}

@media only screen and (max-width: 767px) {
  #navigation .navbar-collapse {
    border: 0px;
    display: inline-block;
    vertical-align: top;
  }
}

@media only screen and (max-width: 767px) {
  #navigation .navbar-nav {
    display: none;
  }
}

#navigation .navbar-brand {
  height: auto;
  padding: 15px 0px;
  display: block;
}

#navigation .navbar-brand img {
  height: 90px;
  display: block;
}

#navigation .menu-item a {
  color: #000;
  font-weight: 600;
  margin: 0px 10px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #navigation .menu-item a {
    margin: 0px 5px;
    padding: 10px 5px;
  }
}

#navigation .menu-item a:hover, #navigation .menu-item a:focus {
  background-color: transparent;
}

#navigation .menu-item.active a {
  background-color: transparent;
}

#navigation .menu-item .dropdown-menu {
  background-color: #333;
  border-radius: 0px;
  border: 0px;
  margin-top: 0px;
  padding: 15px;
}

#navigation .menu-item .dropdown-menu li a {
  color: #fff;
  font-weight: 400;
  padding: 1px;
  text-align: left;
}

#navigation .navbar-sub {
  height: 34px;
  margin-top: 25px;
  padding-left: 90px;
  width: 100%;
}

#navigation .navbar-main {
  height: 30px;
  margin-top: 17px;
  padding-left: 90px;
  width: 100%;
}

#navigation .navbar-right.navbar-upper .menu-item a {
  line-height: normal;
  position: relative;
  padding: 6px;
}

#navigation .navbar-right.navbar-upper .menu-item a:hover .cart-label {
  background-color: #333;
}

#navigation .navbar-right.navbar-upper .menu-item a .cart-label {
  border-radius: 30px;
  font-size: 8px;
  height: 11px;
  line-height: normal;
  min-width: 11px;
  padding: 1px 3px;
  position: absolute;
  right: 17px;
  top: 12px;
}

#navigation .navbar-right.navbar-upper .menu-item a .fa {
  display: block;
  font-size: 22px;
}

#navigation .navbar-left {
  width: 100%;
}

#navigation .navbar-left .menu-item a {
  padding: 10px 5px;
  border-bottom: 5px solid transparent;
}

#navigation .navbar-left .menu-item.active a {
  border-bottom-color: #333;
}

#navigation .navbar-left .float-right {
  float: right;
  margin-right: -15px;
}

#navigation .navbar-left .float-right a {
  display: inline-block;
}

.ss-search-form .ss-search-form__results {
  background: transparent;
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0px;
}

.ss-search-form .autocomplete-wrapper {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  max-height: 320px;
  margin: 0px 0px 0px 36px;
  padding: 0px 0px 32px;
  position: relative;
  width: 85%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ss-search-form .autocomplete-wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ss-search-form .autocomplete-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .ss-search-form .autocomplete-wrapper {
    width: 100%;
  }
}

.ss-search-form .autocomplete-wrapper h6 {
  font-size: 12px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0px 15px;
  text-align: left;
  text-transform: uppercase;
}

.ss-search-form .search-results-wrapper {
  max-height: calc(300px - 12px);
  overflow-y: scroll;
}

.ss-search-form .ss-autocomplete-result {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.ss-search-form .ss-autocomplete-result:last-child {
  border-color: transparent;
}

.ss-search-form .ss-autocomplete-result:hover, .ss-search-form .ss-autocomplete-result:focus {
  background-color: #eee;
}

.ss-search-form .ss-autocomplete-result__aside {
  display: inline-block;
  vertical-align: top;
}

.ss-search-form .ss-autocomplete-result__aside a {
  display: inline-block;
}

.ss-search-form .ss-autocomplete-result__aside .ss-autocomplete-result__image {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #aaa;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0px;
  height: 90px;
  width: 70px;
}

.ss-search-form .ss-autocomplete-result__title {
  height: 100%;
  text-align: left;
}

.ss-search-form .ss-autocomplete-result__title a {
  color: #000;
}

.ss-search-form .ss-autocomplete-result__title h3 {
  margin: 10px 0px 5px;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}

.ss-search-form .ss-autocomplete-result__content {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 90px);
  vertical-align: top;
}

.ss-search-form .ss-autocomplete-result__content .search-product-title {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.ss-search-form .ss-autocomplete-result__content .price {
  font-size: 16px;
}

.ss-search-form .ss-autocomplete-result__content .price .price-new {
  font-weight: 600;
}

.ss-search-form .ss-show-all-results {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #F4A137;
}

.ss-search-form .ss-show-all-results a {
  text-align: center;
  color: #fff;
  padding: 10px 0px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

#c-button--slide-left {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  float: left;
  margin-right: 0px;
  padding: 41px 0px;
}

@media only screen and (max-width: 767px) {
  #c-button--slide-left {
    margin-left: 15px;
    margin-right: 10px;
    padding: 25px 0px;
  }
}

@media only screen and (max-width: 350px) {
  #c-button--slide-left {
    margin-left: 25px;
    margin-right: 10px;
    padding: 10px 0px 15px;
  }
}

#c-button--slide-left .icon-bar {
  background-color: #000;
  border-radius: 3px;
  display: block;
  height: 5px;
  margin: 3px 0px;
  width: 35px;
}

@media only screen and (max-width: 350px) {
  #c-button--slide-left .icon-bar {
    height: 4px;
    width: 30px;
  }
}

.navbar-account .nav-pills a {
  background-color: #eee;
  border-radius: 0px;
  color: #333;
  font-size: 16px;
  padding: 9px 15px 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.navbar-account .nav-pills a .fa {
  font-size: 24px;
  margin-right: 10px;
  width: 25px;
  text-align: center;
  position: relative;
  top: 3px;
}

.navbar-account .nav-pills .active a {
  background-color: #333;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .table-responsive {
    border: 0px;
  }
}

.modal-backdrop.in {
  opacity: .2;
}

.help-block {
  color: #e74c3c;
  display: block;
  line-height: normal;
}

.has-error .form-control {
  border-color: #e74c3c;
}

.has-error .form-control:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e74c3c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e74c3c;
}

.form-control {
  border-radius: 0px;
  font-size: 15px;
  padding-left: 10px;
  padding-left: 10px;
}

.input-group-addon {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.products-list .row.products-slider {
  margin-left: -5px;
  margin-right: -5px;
}

.products-list .row.products-slider .owl-item .col-sm-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.products-list.grid .product-layout .product-item-container {
  padding: 0px;
}

.products-list .product-item-container {
  text-align: center;
}

.products-list .product-item-container:hover .left-block .label-sale,
.products-list .product-item-container:hover .left-block .label-new {
  transform: scale(0);
}

.products-list .product-item-container .label-sale,
.products-list .product-item-container .label-new {
  transition: 0.3s all ease 0s;
  transform: scale(1);
}

.products-list .product-item-container .left-block .countdown_box .title {
  font-size: 13px;
  font-weight: 400;
  padding: 9px 0 6px;
}

.products-list .product-item-container .left-block .countdown_box .countdown_inner .time-item {
  padding: 5px;
  font-size: 12px;
}

.products-list .product-item-container .left-block .countdown_box .countdown_inner .time-item .num-time {
  font-weight: 600;
  font-size: 16px;
}

.products-list .product-item-container .product-image-container img {
  width: 100%;
}

.products-list .product-item-container .button-group form {
  display: inline-block;
  vertical-align: middle;
}

.products-list .product-item-container .button-group form:first-child {
  width: calc(100% - 45px);
}

.products-list .product-item-container .button-group form:first-child .addToCart {
  width: 100%;
}

.products-list .product-item-container .button-group .addToCart {
  padding: 12px 15px;
}

@media only screen and (max-width: 767px) {
  .products-list .product-item-container .button-group .addToCart {
    width: calc(100% - 60px);
  }
}

.products-list .product-item-container .button-group .addToCart i {
  font-size: 16px;
  position: relative;
  top: 1px;
  margin-top: -5px;
}

.products-list .product-item-container .price {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .products-list .product-item-container .price {
    font-size: 16px;
  }
}

.products-list .product-item-container .price .price-new {
  font-weight: 600;
}

.products-list .product-item-container .left-block .countdown_box {
  top: initial;
  bottom: 15px;
}

.products-list .product-item-container .caption {
  padding: 0px 5px;
}

.products-list .product-item-container .caption h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(15px * 1.4 * 2);
  /* Fallback for non-webkit */
}

.products-list .product-item-container .caption h4 a {
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-card {
  position: relative;
}

.category-card img {
  width: 100%;
}

.category-card h3 {
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.product-slider {
  padding: 35px 15px;
}

.product-slider .section-header {
  margin-bottom: 20px;
  position: relative;
}

.product-slider .section-header h2 {
  font-size: 22px;
  text-transform: uppercase;
}

.product-slider .section-header p {
  color: #333;
  font-weight: 400;
}

.product-slider .nav-product {
  bottom: 2px;
  position: absolute;
  right: 0px;
}

.product-slider .nav-product button {
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 17px;
  padding: 0px;
  color: #aaa;
}

.product-slider .nav-product button .fa {
  display: block;
  height: 20px;
  width: 20px;
}

.product-slider .nav-product button.slick-disabled .fa {
  color: #999;
}

.product-slider .nav-product button.prev .fa {
  padding-right: 2px;
}

.product-slider .nav-product button.next .fa {
  padding-left: 2px;
}

.shopping_cart .cart-lists > p {
  margin-bottom: 15px;
  line-height: 1.2;
  text-align: center;
}

#back_to_top {
  bottom: 110px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 17px;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 999;
}

#back_to_top.appear {
  opacity: 1;
  visibility: visible;
}

#back_to_top p {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

#back_to_top p i {
  background-color: #fff;
  border-radius: 30px;
  font-size: 16px;
  line-height: 34px;
  margin-right: 20px;
  padding: 0px 13px;
  text-align: center;
  width: 40px;
}

#footer-nav {
  background-color: #222;
  color: #fff;
  padding: 25px 0px 40px;
}

#footer-nav h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#footer-nav h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

#footer-nav h3 + p {
  font-weight: 300;
}

#footer-nav address {
  line-height: 1.4;
}

#footer-nav hr {
  border-color: #fff;
  margin: 10px 0px;
}

#footer-nav a {
  color: #fff;
}

#footer-nav .fa {
  margin-right: 3px;
}

#footer-nav .nav a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0px;
  text-transform: uppercase;
}

#copyright {
  padding: 10px 15px;
  color: #333;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert .flash-message {
  font-size: 16px;
  line-height: normal;
}

.alert ul {
  list-style: disc;
  margin-top: 5px;
  padding-left: 20px;
}

.alert li {
  font-size: 15px;
  line-height: normal;
}

.cartgone button,
.addtocart button {
  margin-top: 15px;
  width: 87%;
  border: none;
  font-family: "Avenir LT Std 65 Medium", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  background-color: #15ab73;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  padding: 12px 10px;
  text-transform: uppercase;
  text-transform: uppercase;
}

.cartgone button {
  background-color: #999;
}
