#order_success {
  padding: 60px 0px 100px;
}

#order_success h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}

#order_success .panel {
  background-color: #eee;
  border-radius: 0px;
  border: 0px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: none;
}

#order_success .panel.order-message {
  border-left: 4px solid #F4A137;
}

#order_success .panel p {
  font-size: 15px;
  line-height: 1.4;
}

#order_success .panel a {
  color: #F4A137;
  line-height: 1.4;
}

#order_success .table td {
  background: transparent;
}

#order_success .order-info h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
}

#order_success .order-info h6 {
  font-size: 15px;
  line-height: normal;
}

#order_success .order-info .order-status {
  color: #aaa;
  margin-left: 5px;
  line-height: normal;
}

#order_success .order-info .row {
  border-bottom: 1px solid #F4A137;
  padding: 25px 0px;
  margin: 0px;
}

#order_success .order-info .row:last-child {
  border-bottom: 0px;
}

#order_success .order-info .row > div:first-child {
  padding-left: 0px;
}

#order_success .order-info .row > div:first-child.col-md-12 {
  padding-right: 0px;
}

#order_success .order-info .row > div:last-child {
  padding-right: 0px;
}

#order_success .order-info .products-summary td {
  border-top: 0px;
}

#order_success .order-info .products-summary td:first-child {
  width: 80px;
}

#order_success .order-info .products-summary td:last-child {
  text-align: right;
}

#order_success .order-info .products-summary img {
  height: auto;
  width: 50px;
}

#order_success .order-info .products-summary p {
  font-size: 14px;
  line-height: normal;
}

#order_success .order-info .products-summary p.title {
  margin-bottom: 5px;
}

#order_success .order-info .products-summary .delivery-eta {
  font-weight: 600;
  color: #F4A137;
}

#order_success .order-info .products-summary .item-thumb {
  background-image: url("http://via.placeholder.com/80x80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  height: 85px;
  margin-right: 10px;
  width: 65px;
}

@media only screen and (max-width: 767px) {
  #order_success .order-info .products-summary .item-thumb {
    margin-bottom: 15px;
  }
}

#order_success .order-info .order-amount h6 {
  text-transform: uppercase;
  margin: 15px 0px;
}

#order_success .order-info .amount {
  float: right;
  line-height: normal;
}

#order_success .order-info .discount-type {
  color: #F4A137;
}

#order_success .order-info .total {
  font-size: 17px;
  font-weight: 600;
}

#order_success .order-info .total-amount {
  font-weight: 600;
  float: right;
  text-align: right;
}

#order_success .order-info .total-amount span {
  display: block;
  font-size: 14px;
  text-transform: none;
}

#order_success .contact-cta {
  height: 100%;
}

#order_success .contact-cta p {
  color: #000;
  margin-top: 5px;
}

#order_success .contact-cta table {
  width: 100%;
}

#order_success .contact-cta td {
  padding: 0px 1px;
  vertical-align: top;
}

#order_success .contact-cta i {
  color: #000;
  font-size: 26px;
}

#order_success .contact-cta p {
  font-size: 15px;
  line-height: normal;
  text-align: left;
}

#order_success .contact-cta h4 {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: initial;
}

#order_success .contact-cta h4 a {
  color: #F4A137;
  font-weight: 600;
}

#order_success .invoice-action .btn {
  font-weight: 600;
  margin-right: 10px;
  padding: 12px 25px;
  width: 180px;
}

#order_success .products-cta {
  margin-top: 150px;
}

#order_success .products-cta .products-list > .col-lg-3 {
  padding: 0px;
}

#order_success .products-cta .products-list .product-card {
  margin: 0px 5px;
}

#order_success .products-cta .products-list .product-card h4 {
  font-size: 18px;
  margin-bottom: 0px;
}

@media print {
  header, footer {
    display: none;
  }
  a:after {
    content: " " attr(href) ")";
  }
  a[href^="#"]:after {
    display: none;
  }
  a[href^="http://"]:after, a[href^="https://"]:after {
    content: " (" attr(href) ")";
  }
  a {
    word-wrap: break-word;
  }
}
