#page-product {
  padding: 15px 0px;
}

#page-product .status-stock.out-of-stock {
  color: #ed1b24;
}

#page-product .status-stock.out-of-stock:before {
  content: "\f05e";
  font-family: FontAwesome;
  display: inline-block;
  color: #ed1b24;
  margin-right: 5px;
  margin-left: 10px;
}

#page-product .product-label .stock {
  margin-top: 8px;
}

#page-product .product-box-desc {
  margin-bottom: 30px;
}

#page-product .product-box-desc .inner-box-desc p {
  line-height: 1.618;
}

#page-product .product-box-desc .inner-box-desc hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ccc;
}

#page-product .left-content-product .content-product-left img {
  width: 100%;
}

#page-product .left-content-product .content-product-left .label-sale {
  height: auto;
  padding: 8px 12px;
  font-size: 18px;
  left: 13px;
}

#page-product .left-content-product .content-product-left .label-new {
  height: auto;
  padding: 8px 12px;
  font-size: 18px;
}

#page-product .left-content-product .content-product-right .box-info-product {
  margin-top: 30px;
}

#page-product .left-content-product .content-product-right .box-info-product .cart {
  width: calc(100% - 155px);
}

#page-product .left-content-product .content-product-right .box-info-product .quantity-control .form-control {
  background-color: #fff;
}

#page-product .left-content-product .content-product-right .box-info-product .btn-add-to-cart {
  padding: 11px 16px;
  width: 100%;
}

#page-product .left-content-product .content-product-right .box-info-product .add-to-links ul li a {
  padding: 12px;
}

#page-product .left-content-product .content-product-right .box-info-product .wishlist {
  padding-right: 0px;
}

#page-product .left-content-product .selection-card {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 25px;
}

@media only screen and (max-width: 767px) {
  #page-product .left-content-product .selection-card {
    padding: 10px 25px;
  }
}

#page-product .left-content-product .selection-card .fa {
  color: #eee;
  font-size: 24px;
}

#page-product .left-content-product .selection-card.selected {
  background-color: #f9f9f9;
}

#page-product .left-content-product .selection-card.selected .fa {
  color: #8BC34A;
}

#page-product .left-content-product .selection-card .table {
  margin-bottom: 0px;
}

#page-product .left-content-product .selection-card .table td {
  border: 0px;
}

#page-product .left-content-product .selection-card .table td:first-child {
  width: 30px;
}

#page-product .left-content-product .selection-card .selection-toggle {
  display: inline-block;
  vertical-align: middle;
}

#page-product .left-content-product .selection-card .selection-price {
  float: right;
  text-align: right;
  width: 38%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #page-product .left-content-product .selection-card .selection-price {
    width: 30%;
  }
}

@media only screen and (max-width: 767px) {
  #page-product .left-content-product .selection-card .selection-price {
    float: none;
    text-align: left;
    width: 100%;
  }
}

#page-product .left-content-product .selection-card .selection-price h3 {
  display: block;
  font-size: 16px;
  line-height: normal;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #page-product .left-content-product .selection-card .selection-price h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  #page-product .left-content-product .selection-card .selection-price h3 {
    font-size: 18px;
  }
}

#page-product .left-content-product .selection-card .selection-price h3 .rm {
  margin-right: 2px;
  font-size: 60%;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  top: -5px;
}

#page-product .left-content-product .selection-card .selection-price h3 .before-discount {
  line-height: 1;
  text-decoration: line-through;
}

#page-product .left-content-product .selection-card .selection-price h3 .promo-price {
  color: #ed1b24;
  line-height: 1;
  margin-left: 5px;
}

#page-product .stock-list .table {
  margin-top: 25px;
  margin-bottom: 50px;
}

#page-product .stock-list .table thead > tr > th {
  background: #24303e;
  color: #fff;
  border-bottom: 0px;
}

#page-product .stock-list .table td {
  background: #f5f5f5;
}

#page-product .stock-list .table > tbody > tr:nth-of-type(odd) td {
  background: #fff;
}

#page-product .related.products-list {
  position: relative;
}

#page-product .related.products-list .owl-nav div {
  position: absolute;
  margin: 0px;
  top: 15px;
  padding: 5px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  transform: translateY(-50%);
}

#page-product .related.products-list .owl-prev {
  right: 30px;
}

#page-product .related.products-list .owl-next {
  right: 5px;
}

#thumb-slider-vertical {
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}

#thumb-slider-vertical .btn-more {
  background-color: #fff;
  border: 1px solid #999;
  color: #999;
  font-size: 20px;
  height: auto;
  left: 50%;
  margin: 0px;
  padding: 0px 10px;
  position: absolute;
  transform: translateX(-50%);
  width: auto;
  z-index: 10;
}

#thumb-slider-vertical .prev-thumb {
  top: 0px;
}

#thumb-slider-vertical .next-thumb {
  bottom: 10px;
}

#thumb-slider {
  position: relative;
}

#thumb-slider .owl-stage-outer {
  overflow: hidden;
  padding-bottom: 1px;
}

#thumb-slider .owl-nav {
  margin: 0px;
}

#thumb-slider .owl-nav div {
  position: absolute;
  margin: 0px;
  top: 50%;
  opacity: 1;
  border: 1px solid #F4A137;
  border-radius: 0px;
  color: #fff;
  background-color: #F4A137;
  font-size: 20px;
  transform: translateY(-50%);
}

#thumb-slider .owl-nav div.disabled {
  color: #ccc;
  border: 1px solid #ccc;
  background-color: #fff;
}

#thumb-slider .owl-nav .owl-prev {
  left: -11px;
}

#thumb-slider .owl-nav .owl-next {
  right: -11px;
}

#stock .table {
  text-align: center;
}

#product h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#product .control-label {
  margin-bottom: 7px;
}

#product .product-options.is-white i.fa {
  color: #666;
}

#product .product-options.is-white .selected-option .label {
  background-color: #333 !important;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#product .product-options .radio label {
  position: relative;
}

#product .product-options .radio .icon-color {
  overflow: hidden;
}

#product .product-options .radio .icon-color .color {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

#product .countdown_box {
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

#product .countdown_box .title {
  color: white;
  background-color: #ed1b24;
  padding: 9px 0 6px;
  text-align: center;
  font-size: 14px;
}

#product .countdown_box .countdown_inner {
  float: left;
  width: 100%;
  background: #ed1b24;
}

#product .countdown_box .countdown_inner .time-item {
  width: 25%;
  float: left;
  color: #fff;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-left: 0;
}

#product .countdown_box .countdown_inner .time-item:last-child {
  border-right: none;
}

#product .countdown_box .countdown_inner .time-item .num-time {
  font-weight: 600;
  font-size: 20px;
}

#product .option-selections .selection-card .selection-title {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #product .option-selections .selection-card .selection-title {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  #product .option-selections .selection-card .selection-title {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
}

#product .option-selections .selection-card .selection-title p {
  font-size: 16px;
  margin-left: 10px;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #product .option-selections .selection-card .selection-title p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  #product .option-selections .selection-card .selection-title p {
    margin-left: 0px;
  }
}

#product .option-selections .selection-card .selection-title .color-selections {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  vertical-align: middle;
  margin-left: 10px;
}

#product .option-selections .selection-card .selection-title .color-selections .radio .fa {
  color: #fff;
  font-size: 14px;
}

#product .option-selections .selection-card .selection-price h3 {
  color: #ed1b24;
}

#product .option-selections .selection-card.selected .color-selections {
  visibility: visible;
  opacity: 1;
}

#product .option-selections .selection-card.selected .fa-circle:before {
  content: "\f058";
}

#product .option-selections .selection-card.selected .selection-card {
  visibility: visible;
  opacity: 1;
}

#product .selected-option {
  top: -8px;
  position: relative;
}

#product .selected-option .label {
  background-color: #24303e;
}
