#page-category {
  margin: 15px 0px;
}

#page-category .so-slideshow .owl-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#page-category .menu-category .list-group > li ul {
  padding-bottom: 10px;
}

#page-category .menu-category .list-group > li a {
  line-height: 1.4;
}

#page-category .menu-category .list-group > li a:before {
  display: none;
}

#page-category .menu-category .filter-panel {
  margin-top: 30px;
}

#page-category .menu-category .filter-panel .modcontent {
  padding: 15px;
}

#page-category .menu-category .filter-panel .modcontent .btn-clear-all {
  font-weight: 600;
  text-transform: uppercase;
}

#page-category .menu-category .filter-panel .modcontent .panel {
  border: 0px;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#page-category .menu-category .filter-panel .modcontent .panel:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
}

#page-category .menu-category .filter-panel .modcontent .keyword-input {
  padding: 7px 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

#page-category .menu-category .filter-panel .modcontent .panel-body {
  padding: 0px;
  max-height: 165px;
  overflow-y: scroll;
  overflow-x: visible;
}

#page-category .menu-category .filter-panel .modcontent .panel-body .filter-label {
  font-size: 12px;
  line-height: 1;
}

#page-category .menu-category .filter-panel .modcontent .panel-body .counter {
  float: right;
  font-size: 12px;
  line-height: 1.4;
}

#page-category .menu-category .filter-panel .modcontent .panel-body .checkbox {
  margin: 2px 0px;
}

#page-category .menu-category .filter-panel .modcontent .panel-body .checkbox input {
  margin-top: 2px;
}

#page-category .menu-category .filter-panel .modcontent .panel-body .checkbox label {
  display: block;
  padding-right: 20px;
  width: 100%;
}

#page-category .menu-category .filter-panel .modcontent .panel-price .panel-body {
  overflow: visible;
}

#page-category .menu-category .filter-panel .modcontent .panel-price p {
  margin-bottom: 10px;
}

#page-category .menu-category .filter-panel .modcontent .panel-price .slider {
  width: calc(100% - 20px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

#page-category .menu-category .filter-panel .modcontent .panel-price .slider .slider-track {
  background-image: none;
  background: orange;
  border-radius: 0px;
  height: 2px;
  margin-top: -5px;
}

#page-category .menu-category .filter-panel .modcontent .panel-price .slider .slider-selection {
  background: #000;
  background-image: none;
}

#page-category .menu-category .filter-panel .modcontent .panel-price .slider .slider-handle {
  background: #000;
  background-image: none;
  height: 12px;
  width: 12px;
}

#page-category .menu-category .filter-panel .modcontent .panel-title {
  color: #000;
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#page-category .menu-category .filter-panel .modcontent .panel-title.collapsed .fa:before {
  content: "\f067";
}

#page-category .menu-category .filter-panel .modcontent .panel-title .fa {
  float: right;
}

#page-category .menu-category .filter-panel .modcontent .panel-title .fa:before {
  content: "\f068";
}

#page-category .products-list {
  margin-left: -5px;
  margin-right: -5px;
}

#page-category .products-list .product-layout {
  padding-left: 5px;
  padding-right: 5px;
}

#page-category .products-list .product-layout .product-item-container {
  margin: 5px 0px;
  padding: 0px;
}

#page-category .products-list .product-layout .product-item-container .right-block {
  padding: 0px 5px;
}

#page-category .pagination {
  text-align: center;
  width: 100%;
}

#page-category .pagination a {
  color: #000;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin: 0px 5px;
  vertical-align: bottom;
  text-transform: uppercase;
}

#page-category .pagination a.active {
  color: #ccc;
}

#page-category .pagination a .glyphicon {
  top: 8px;
}

#page-categories {
  margin: 15px 0px;
}

#page-categories .categories-list .col-xs-6 {
  padding: 0px 5px;
}

#page-categories .category-item {
  text-align: center;
  margin-bottom: 30px;
}

#page-categories .category-item img {
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#page-categories .category-item h4 {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

#page-categories .catalogues-list .catalogue-item a {
  display: block;
  margin-bottom: 35px;
  text-align: center;
}

#page-categories .catalogues-list .catalogue-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#page-categories .catalogues-list .catalogue-item h3 {
  color: #333;
  font-size: 18px;
  line-height: 1.2;
}

#page-categories .catalogues-list .catalogue-item p {
  color: #999;
  font-size: 14px;
}

#page-categories .catalogues-list .catalogue-item .date {
  font-style: italic;
}

#page-categories .archived-catalogues {
  margin-top: 50px;
}
