#page-terms {
  padding: 1px 0px;
}

#page-terms hr {
  margin-top: 50px;
}

#page-terms section {
  margin: 35px 0px;
}

#page-terms h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
}

#page-terms h3 {
  font-size: 18px;
  color: #444;
}

#page-terms h4 {
  color: #24303e;
  font-size: 18px;
  margin: 20px 0px 5px;
}

#page-terms p {
  margin-bottom: 10px;
}

#page-terms ul {
  list-style: disc;
  padding-left: 40px;
  font-size: 14px;
}

#page-terms ul li {
  margin-bottom: 10px;
}

#page-terms ol {
  list-style: decimal;
  padding-left: 40px;
  font-size: 14px;
}

#page-terms ol h5 {
  font-size: 16px;
  font-weight: 600;
}

#page-terms ol li {
  margin-bottom: 10px;
}

#page-terms h6 {
  font-weight: 600;
}

#page-terms .table {
  margin-top: 10px;
  margin-bottom: 10px;
}
