title = "Checkout - Thank You"
url = "/checkout/thanks/:hexhash"
layout = "master"
is_hidden = 0

[receipt]

[placeholder]
==
{% component 'placeholder' %}

{% put styles %}
<link href="{{ [
    'assets/css/order.css',
]|theme }}" rel="stylesheet">
{% endput %}

<main id="order_success" class="main">
    <div class="container">
        {% component 'receipt' %}

        <div class="row products-cta">
            <div class="related titleLine products-list grid module ">
              <h3 class="modtitle">Recommended Products </h3>
              <div class="releate-products ">
                {% for product in products_recommended %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product-layout" data-match-height="recommended-product">
                        {% partial 'placeholder::partial/_product_card'
                        product = product
                        %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            {# <div class="col-sm-12 col-md-12">
                <h4>Recommended Products</h4>
            </div>

            <div class="col-sm-12 col-md-12 products-list">
                {% for product in products_recommended %}
                    {% if loop.index == 4 %}
                    <div class="col-sm-4 col-md-3 col-lg-3 hidden-xs hidden-sm">
                    {% else %}
                    <div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
                    {% endif %}
                        <div class="product-layout" data-match-height="related-product">
                            {% partial 'placeholder::partial/_product_card'
                                product = product
                            %}
                        </div>
                    </div>
                {% endfor %}
            </div> #}
        </div>
    </div>
</main>
