
<h1>Wishlist</h1>

<div class="row">
  <div class="col-sm-12 col-md-12">
    {% if wishlists|length > 0 %}
      <table class="table table-responsive table-striped table-wishlist">
        <thead>
          <tr>
            <th>#</th>
            <th colspan="2">Product</th>
            <th>Has Stock</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for wishlist in wishlists %}
            {% set product = wishlist.product %}
            <tr data-wishlist="{{ wishlist.id }}">
              <td><strong>{{ loop.index }}.</strong></td>
              {% if wishlist.items|length > 0 %}
                {% set singleoption = wishlist.items[0].option %}
                <td class="text-left">
                  {% if product.product_type == 'NORMAL' %}
                    <img class="product-image" src="{{ product.displayImage|resize(350, 450) }}" alt="{{ product.title }}">
                  {% elseif product.product_type == 'COLOR' %}
                    <img class="product-image" src="{{ singleoption.displayImage|resize(350, 450) }}" alt="{{ product.title }}">
                  {% elseif product.product_type == 'OPTION' %}
                    <img class="product-image" src="{{ singleoption.displayImage|resize(350, 450) }}" alt="{{ product.title }}">
                  {% elseif product.product_type == 'BUNDLE' %}
                    <img class="product-image" src="{{ product.displayImage|resize(350, 450) }}" alt="{{ product.title }}">
                  {% endif %}
                </td>
                <td class="text-left">
                  <h4 class="product-title">{{ product.title }}</h4>
                  {% if product.product_type == 'NORMAL' %}
                  {% elseif product.product_type == 'COLOR' %}
                    <p class="desc">{{ singleoption.stock.color.title }}</p>
                  {% elseif product.product_type == 'OPTION' %}
                    <p class="desc">{{ singleoption.title }}{% if singleoption.stock.color %} - {{ singleoption.stock.color.title }}{% endif %}</p>
                  {% elseif product.product_type == 'BUNDLE' %}
                    {% for item in wishlist.items %}
                      {% if item.option.stock.color %}
                        <p class="desc">{{ item.option.title }} - {{ item.option.stock.color.title }}</p>
                      {% else %}
                        <p class="desc">{{ item.option.title }}</p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </td>
              {% else %}
                <td class="text-left">
                  <img class="product-image" src="{{ product.displayImage|resize(350, 450) }}" alt="{{ product.title }}">
                </td>
                <td class="text-left">
                  <h4 class="product-title">{{ product.title }}</h4>
                </td>
              {% endif %}
              <td>
                <span class="{{ (wishlist.has_stock) ? 'has-stock' : 'out-of-stock' }}"><strong>{{ (wishlist.has_stock) ? 'In Stock' : 'Out of Stock' }}</strong></span>
              </td>
              <td class="action-list text-right">
                {% if wishlist.items|length > 0 and wishlist.has_stock %}
                <form data-request="onAddItem">
                  <input class="form-control" type="hidden" name="quantity" value="1">
                  <input type="hidden" name="product_id" value="{{ wishlist.product.hexhash }}">
                  {% if product.options|length == 1 and product.product_type == 'NORMAL' %}
                    <input type="hidden" name="options[]" value="{{ singleoption.hexhash }}">
                  {% elseif product.product_type == 'COLOR' %}
                    <input type="hidden" name="options[]" value="{{ singleoption.hexhash }}">
                  {% elseif product.product_type == 'OPTION' %}
                    <input type="hidden" name="options[]" value="{{ singleoption.hexhash }}">
                  {% elseif product.product_type == 'SET' %}
                    {% for option in product.options %}
                      <input type="hidden" name="options[]" value="{{ option.hexhash }}">
                    {% endfor %}
                  {% elseif product.product_type == 'BUNDLE' %}
                    {% for item in wishlist.items %}
                      <input type="hidden" data-option="{{ item.option.title }}" name="options[]" value="{{ item.option.hexhash }}">
                    {% endfor %}
                  {% else %}
                    <input type="hidden" name="options[]" value="">
                  {% endif %}
                  <button type="button" data-loading-text="Loading..." class="btn-add-wishlist-to-cart btn btn-default">
                    <i class="fa fa-shopping-cart"></i>
                    Add to Cart
                  </button>
                </form>
                {% endif %}
                <a href="{{ url('/product/' ~ wishlist.product.slug) }}" class="btn btn-default">
                  <i class="fa fa-eye"></i>
                  {# <span class="">View Product</span></span> #}
                </a>
                <form data-request="onRemoveWishlist">
                  <input type="hidden" name="wishlist_id" value="{{ wishlist.id }}">
                  <button type="submit" class="btn btn-default btn-remove" data-toggle="tooltip" title="Remove from wishlist">
                    <i class="fa fa-times"></i>
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">
          <h6>You have not added anything to your wishlist yet. Why not add something into your wishlist? You can get notified when the product has stock. Check out our categories now!</h6>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 text-right">
            <a href="{{ url('categories') }}" class="btn btn-default">View Categories</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% put scripts %}
<script type="text/javascript">
  $(function () {
    $('form').on('ajaxSuccess', function(event, context, data) {
      if (context.handler == 'onRemoveWishlist'){
        if(data.status == "success"){
          swal({
            title: "Removed!",
            text: "Item has been removed from your wishlist.",
            type: "success",
          });
          $('tr[data-wishlist="' + data.results.id + '"]').remove();

          if ($('.table-wishlist > tbody > tr').length <= 0){
            location.reload();
          }
        }
      }
      if (context.handler == 'onAddItem'){
        console.log(data);
      }
    });
  });
</script>
{% endput %}