<h1>Profile</h1>

<form data-request="onUpdateProfile">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="name">Name<span class="required">*</span></label>
        <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}" placeholder="Enter Your Full Name">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="email">Email<span class="required">*</span></label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" placeholder="Enter Your Email Address" readonly>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="contact_no">Contact No.<span class="required">*</span></label>
        <input type="text" class="form-control" id="contact_no" name="contact_no" value="{{ user.contact_no }}" placeholder="Enter Your Contact Number">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="dob">DOB</label>
        <input type="text" class="form-control" id="dob" name="dob" value="{{ (user.dob) ? user.dob|date('d/m/Y') : '' }}" placeholder="Enter Your Date of Birth">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="company">Company Name</label>
        <input type="text" class="form-control" id="company" name="company" value="{{ user.company }}" placeholder="Enter Your Company Name">
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-default btn-update">Update Profile</button>
</form>

{% put scripts %}
<script type="text/javascript">
  $(function () {
    $('#dob').datetimepicker({
      format: 'DD/MM/YYYY',
      pickTime: false
    });

    $('form').on('ajaxSuccess', function(event, context, data) {
      if (context.handler == 'onUpdateProfile'){
        if(data.status == "success"){
          swal({
            title: "Success!",
            text: "Your profile has been updated!",
            type: "success",
          });
        }
      }
    });
  });
</script>
{% endput %}