@import "mixin";

#page-about{
  padding-top: 40px;
  
  img{
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  p{
    color: #666;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  h1,
  h2{
    color: #333;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  ul{
    list-style: disc;
    padding-left: 30px;

    li{
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      margin-bottom: 5px;
    }
  }
}
#about{
  margin-bottom: 25px;
}
#mission-vision{
  background-color: #eee;
  margin: 35px 0px 15px;
  padding: 25px 0px;

  p{
    font-weight: 400;
  }
}
#why-choose-us{
  margin: 50px 0px 80px;

  iframe{
    margin-top: 20px;
  }
}