@import "mixin";

#page-account{
  margin: 35px 0px;

  h1{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  .has-stock{
    color: $green;
  }
  .out-of-stock{
    color: $red;
  }
  .form-group{
    margin-bottom: 20px;

    label{
      margin-bottom: 5px;
    }
  }
  .btn-update{
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .table{
    text-align: center;

    td{
      vertical-align: middle;
    }
  }

  .addresses {
    h2 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
  .table-address {
    h5 {
      text-align: left;
      font-size: 16px;

      strong {
        font-size: 18px;
      }
    }
    tr {
      td {
        width: 80%;

        &:first-child {
          width: 5%;
        }
        &:last-child {
          text-align: center;
          width: 15%;
        }
      }
    }
  }

  .table-wishlist{
    .product-image{
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      height: auto;
      width: 60px;
    }
    .product-title{
      font-size: 16px;
      color: #000;
      display: inline-block;
      vertical-align: middle;
    }
    .action-list{
      padding-right: 15px;

      > form,
      > a{
        display: inline-block;
      }
    }
  }
  .table-orders{
    margin-top: 25px;
    margin-bottom: 50px;

    thead > tr > th{
      background: $dark-teal;
      color: #fff;
      border-bottom: 0px;
    }

    td{
      background: #f5f5f5;
    }

    .invoice-no{
      font-size: 18px;
      font-weight: 600;
    }

    > tbody > tr:nth-of-type(odd) td {
      background: #fff; 
    }
    .total-amount{
      color: $dark-teal;
      font-weight: 600;
      font-size: 14px;
    }
    .status{
      font-weight: 600;
      font-size: 14px;

      &.processing{
        color: $blue;
      }
      &.completed{
        color: $green;
      }
      &.failed{
        color: $red;
      }
    }
    .order-summary{
      margin-bottom: 0px;

      td{
        text-align: left;
      }
      .thumb{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        height: auto;
        width: 70px;
      }
      .product-desc{
        font-weight: 600;
        text-transform: uppercase;

        .desc{
          font-size: 13px;
          margin-bottom: 5px;
        }
      }
      tr:first-child{
        td{
          border-top: 0px;
        }
      }
    }
  }
}