@import "mixin";

#page-auth{
  padding: 35px 0px;

  h1{
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  h2{
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  form{
    margin: 35px auto;
    max-width: 400px;

    .forgot-password{
      text-align: right;
      display: block;
      @include font-bold();
    }
  }
  .form-group{
    margin-bottom: 10px;
  }
  .form-control{
    background-color: #eee;
    border: 0px;
    color: #333;
    box-shadow: none;
    height: auto;
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }
  .auth-methods{
    .row{
      position: relative;
    }
    .or{
      background-color: #fff;
      color: #ccc;
      padding: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform('translate(-50%, -50%)');
      z-index: 10;
    }
  }
  .left,
  .right{
    padding: 35px 15px;
  }
  .right{
    border-left: 1px solid #eee;
    position: relative;
  }
  .connect-fb{
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform('translate(-50%, -70%)');

    p{
      font-weight: 300;
    }
  }
  .auth-button{
    margin: 25px 0px 50px;

    p{
      display: inline-block;
      font-weight: 300;
      margin-left: 10px;
    }
  }
  .btn-connect{
    background-color: #3b5998;
    font-size: 14px;
    padding: 7px 15px 3px;
    width: 100%;
    border-radius: 30px;
    margin-top: 35px;
    color: #fff;
    text-transform: uppercase;

    .fa{
      font-size: 32px;
      margin-right: 5px;
      position: relative;
      top: -2px;
      vertical-align: middle;
      @include bp-xs{
        font-size: 26px;
      }
    }
  }
  .forgot-password{
    h1{
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2;
      margin-top: 35px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    .form-group{
      label{
        margin-bottom: 5px;
      }
    }
    .btn-default{
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }
  .register-form {
    label {
      font-weight: 600;
      line-height: 1.4;
    }
    .form-group {
      margin-bottom: 15px;
    }
  }
}