@import "mixin";

#page-blog{
  margin: 15px 0px;

  .blog-list{
    .post-item{
      a{
        display: block;
        margin-bottom: 35px;
        text-align: center;
      }
      img{
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      }
      h3{
        color: #333;
        font-size: 18px;
        line-height: 1.2;
      }
      p{
        color: #999;
        font-size: 14px;
      }
      .date{
        font-style: italic;
      }
    }
  }
}

#page-post {
  margin: 15px 0px;

  img,
  iframe {
    width: 100%;
  }
  .featured-image{
    width: 100%;
  }
  .post-info {
    border-bottom: 1px solid #ccc;
    padding: 10px 5px 5px;

    p{
      color: #999;

      .fa {
        margin-right: 5px;
      }
    }
  }
  .description {
    margin-top: 35px;
  }
}