@import "mixin";

#page-checkout{
  padding: 15px 0px 50px;

  h5{
    font-size: 16px;
    @include font-bold();
  }
  a{
    color: $red;
    @include font-bold();
    text-transform: uppercase;
  }
  textarea{
    width: 100%;
  }
  .section-title{
    font-size: 20px;
    line-height: normal;
    padding: 0px;
  }
  .cart-empty{
    h2{
      font-size: 64px;
      margin-bottom: 5px;
      @include bp-md{
        font-size: 48px;
      }
      @include bp-sm{
        font-size: 32px;
      }
      @include bp-xs{
        font-size: 24px;
      }
    }
    p{
      font-size: 21px;
      @include bp-sm{
        font-size: 18px;
      }
      @include bp-xs{
        font-size: 16px;
      }
    }
  }
  .checkbox{
    label{
      @include font-bold();
      padding-left: 0px;
      width: 100%;
    }
    .fa{
      font-size: 20px;
      vertical-align: middle;
      position: relative;
      top: -1px;
      margin-right: 5px;
      color: #eee;

      &.checked{
        color: $green;
      }
    }
  }
  .checkbox-square{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
  }
  .email-details{
    padding-bottom: 40px;

    h5{
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
  .billing-address,
  .shipping-address,
  .shipping-handling{
    .table{
      border-bottom: 1px solid #f5f5f5;
      margin-top: 10px;

      h4{
        font-size: 18px;
        line-height: normal;
        margin-bottom: 3px;
      }
      tr{
        cursor: pointer;
        height: 95px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
      td{
        background: transparent;
        border: none;
        vertical-align: middle;

        &:first-child{
          text-align: center;
        }
      }
      .btn-edit-address {
        .fa {
          color: $red !important;
          font-size: 20px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
      .btn-delete-address {
        .fa {
          color: #aaa !important;
          font-size: 20px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
      p{
        line-height: 1.4;
      }
      .rm{
        line-height: normal;
        font-size: 55%;
      }
      .fa{
        font-size: 26px;
        color: #eee;
      }
      .selected{
        background-color: #f5f5f5;

        .fa{
          color: $green;
        }
      }
    }
    .btn-modal{
      padding: 0px;
      border: 0px;
      background-color: transparent;
      
      .fa{
        color: #666 !important;
        font-size: 22px;
        margin-left: 10px;
      }
    }
  }
  .guest-checkout{
    h5{
      color: #999;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
  .guest-checkout,
  .billing-address,
  .shipping-address{
    .table{
      tr{
        height: auto;
      }
      h5{
        font-weight: 400;
      }
    }
    .section-title{
      margin-bottom: 20px;
    }
    .left{
      padding-right: 5px;
    }
    .right{
      padding-left: 5px;
    }
    .middle{
      padding-left: 5px;
      padding-right: 5px;
    }
    .form-control + .form-control{
      margin-top: 10px;
    }
    label{
      margin-bottom: 5px;
    }
  }
  .choose-payment-method{
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;

    h5{
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .section-title{
      margin-bottom: 20px;
    }
    .left{
      padding-right: 5px;
      @include bp-xs{
        padding-right: 15px;
      }
    }
    .right{
      padding-left: 5px;
      @include bp-xs{
        padding-left: 15px;
      }
    }
    .payment-method{
      cursor: pointer;
      width: 100%;
      padding: 15px 50px;
      border: 2px solid #eee;
      @include font-bold();
      border-radius: 0px;
      margin-bottom: 15px;
      text-align: center;
      font-size: 16px;
      @include bp-xs{
        margin-bottom: 10px;
      }

      &.selected{
        border-color: $green;

        .fa{
          color: $green;
        }
      }
      .fa{
        color: #eee;
        font-size: 24px;
        line-height: 18px;
        vertical-align: middle;
        top: -1px;
        margin-right: 10px;
        position: relative;
        float: left;
      }
      img{
        height: 26px;
        margin: -4px 0px;
        width: auto;
        vertical-align: middle;
      }
    }
  }
  .btn-checkout{
    @include font-bold();
    width: 100%;
  }
  .cart-summary{
    h4{
      font-size: 18px;
      text-transform: uppercase;
      line-height: normal;
      margin-bottom: 15px;
    }
  }
  .summary-wrapper{
    background-color: #f5f5f5;
    padding: 15px 25px 30px;
    @include bp-xs{
      padding: 15px;
      margin-bottom: 20px;
    }
  }
  .checkout-summary{
    td{
      vertical-align: top;
      padding-bottom: 10px;

      &:first-child{
        width: 75px;
      }
      &:nth-child(2) {
        width: 55%;
        @include bp-xs{
          width: 40%;
        }
      }
    }
    p{
      &.title{
        line-height: 1.3;
        font-weight: 600;
      }
      &.desc{
        color: #666;
        font-size: 12px;
        line-height: 1.4;
      }
      &.unit-price{
        color: #999;
        font-size: 13px;
        margin-bottom: 10px;
        font-style: italic;
        line-height: normal;
      }
    }
    .item-quantity{
      font-weight: 600;
      padding-left: 5px;
      padding-right: 5px;
    }
    .item-amount{
      font-weight: 600;
      padding-left: 5px;
    }
    h3{
      font-size: 24px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    h4{
      font-size: 18px;
      line-height: normal;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .item-thumb{
      background-image: url('http://via.placeholder.com/80x80');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      height: 85px;
      margin-right: 10px;
      width: 65px;
      @include bp-xs{
        margin-bottom: 15px;
      }
    }
    .edit-product{
      display: block;
      margin-top: 7px;
    }
    table{
      width: 100%;

      td{
        &:nth-child(3){
          text-align: center;
        }
        &:last-child{
          text-align: right;
        }
        img{
          height: auto;
          width: 80px;
        }
      }
    }
  }
  .discount-section{
    border-bottom: 2px solid #000;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 15px;

    .left{
      padding-right: 2.5px;
    }
    .right{
      padding-left: 2.5px;
    }
    .btn-discount{
      background-color: #e5e5e5;
      border: 0px;
      color: #aaa;
      @include font-bold();
      border-radius: 0px;
      padding: 10px;
      width: 100%;
      @include bp-xs{
        padding: 8px 5px;
      }

      &.selected{
        color: $red;

        &:after{
          content: '';
          position: absolute;
          border-top: 10px solid #e5e5e5;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          left: 50%;
          bottom: -10px;
          @include transform('translateX(-50%)');
        }
      }
      &:active{
        box-shadow: none;
      }
    }
    .discount-form{
      margin-top: 15px;

      button{
        background-color: $red;
        @include font-bold();
        font-size: 15px;
        padding: 9px 25px;
        @include bp-xs{
          font-size: 14px;
          padding: 7px 15px;
        }
      }
    }
    .enter-promo{
      color: $dark-teal;
    }
    .promo-code-form{
      margin-top: 5px;

      .form-group{
        margin-bottom: 2px;
      }
      .form-control{
        width: calc(100% - 85px);
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding-top: 6px;
        padding-bottom: 6px;
        vertical-align: middle;
        text-transform: uppercase;
      }
      .apply-promocode{
        display: inline-block;
        vertical-align: middle;
      }
      .promocode-message{
        color: $red;
        font-weight: 600;
        font-size: 12px;
        margin-top: 5px;

        &.valid{
          color: $green;
        }
      }
    }
    .error-msg {
      color: $red;
      @include font-bold();
      line-height: normal;
      margin-top: 5px;
    }
  }
  .checkout-amount{
    table{
      width: 100%;

      td{
        text-transform: uppercase;
        font-size: 15px;
        padding: 8px 0px;
        line-height: 1.2;

        &:last-child{
          text-align: right;
        }
        small{
          font-size: 12px;
          line-height: 1.2;
          display: block;
        }
      }
    }
    .total{
      td{
        font-size: 16px;
        @include font-bold();

        // span{
        //   @include font-bold();
        // }
      }
      p{
        font-size: 13px;
        text-transform: none;
      }
    }
  }
}

#discount_type{
  color: $red;
}

#credit_usage{
  &:focus{
    box-shadow: none;
    border-color: #ccc;
  }
}

.edit-product-modal{
  .modal-dialog{
    max-width: 560px;
  }
  .modal-content{
    border-radius: 0px;
    border: 0px;
    padding: 25px;
  }
  .modal-header{
    padding: 0px 0px 10px;

    .close{
      opacity: 1;
      margin: 0px;
    }
  }
  .modal-title{
    font-size: 20px;
    text-transform: uppercase;
    @include bp-xs{
      font-size: 18px;
    }
  }
  .modal-body{
    text-align: center;
    padding: 10px 0px 0px;
  }
  .product-desc{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;

    td{
      vertical-align: top;

      &:first-child{
        @include bp-xs{
          width: 80px;
        }
      }
    }
    .title{
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 0px;
    }
    .desc{
      color: #666;
      margin-bottom: 15px;
      line-height: 1.3;
    }
    .product-img{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      width: 90px;
      height: 115px;
      margin-right: 10px;
    }
    .product-action{
      @include bp-xs{
        margin-top: 10px;
        text-align: left;
        float: left;
      }

      a{
        color: $red;
        @include font-bold();
        text-transform: uppercase;
        margin-right: 25px;
        @include bp-xs{
          margin-right: 10px;
        }
      }
    }
    td:last-child{
      text-align: right;
    }
    .product-pricing{
      color: #999;
      font-size: 18px;
      white-space: nowrap;
      @include bp-xs{
        font-size: 16px;
        margin-bottom: 5px;
      }

      .sens,
      .rm{
        font-size: 60%;
        position: relative;
        top: -6px;
        @include bp-xs{
          font-size: 55%;
          top: -5px;
        }
      }
      .before-discount{
        text-decoration: line-through;

        .sens{
          display: none;
        }
      }
      .promo-product{
        color: $red;
        @include font-bold();

        .sens{
          @include font-bold();
        }
        span{
          @include font-bold();
        }
      }
    }
  }
  .adjust-quantity{
    width: 90px;
    margin-top: 15px;
    float: right;
    @include bp-xs{
      margin-top: 0px;
    }

    .input-group-addon{
      border: 0px;
      border-radius: 0px;
      padding: 0px;
      width: auto;
    }
    .fa{
      display: block;
      font-size: 12px;
      cursor: pointer;

      &.fa-chevron-up{
        padding: 6px 10px 2px 5px;
      }
      &.fa-chevron-down{
        padding: 2px 10px 6px 5px;
      }
    }
  }

  .box-info-product .quantity {
      .quantity-control {
          float: right;
          margin: 0;
          margin-right: -12px;
          margin-top: 5px;
          padding: 4px 10px;
          position: relative;
          label {
              float: left;
              font-weight: normal;
              margin-top: 8px;
              padding-right: 5px;
          }
          input.form-control {
              float: left;
              height: 33px;
              line-height: 31px;
              margin: 0;
              margin-right: 17px;
              padding: 0 10px;
              width: 35px;
              border: 1px solid #bdc2c9;
              border-radius: 0;
              z-index: 0;
          }
          span {
              border: 0 none;
              color: white;
              float: left;
              font-size: 10px;
              font-weight: normal;
              margin-left: 5px;
              border-radius: 0;
              cursor: pointer;
              line-height: 16px;
              &.product_quantity_up {
                  background: none repeat scroll 0 0 #444444;
                  padding: 0 4px;
                  position: absolute;
                  right: 14px;
                  top: 4px;
                  height: 16.5px;
                  width: 14px;
              }
              &.product_quantity_down {
                  background: none repeat scroll 0 0 #444444;
                  font-size: 13px;
                  padding: 0 4px;
                  position: absolute;
                  right: 14px;
                  top: 21px;
                  width: 14px;
                  height: 15.5px;
                  line-height: 15px;
              }
              &:hover {
                  background: #F4A137 !important;
              }
          }
      }
  }

  .product-quantity{
    // border: 0px;
    // box-shadow: none;
    width: 100%;
    // background-color: #eee;
    padding-right: 5px;
  }
  .bespoke-rhinestone{
    border: 1px solid #ccc;
    margin-bottom: 25px;
    text-align: left;

    p{
      font-size: 15px;
      line-height: normal;
    }
    .table-desc{
      margin-bottom: 15px;
      width: 100%;

      td{
        vertical-align: middle;
      }
    }
    .checkbox{
      margin: 0px;

      label{
        padding-left: 0px;
        display: inline-block;
        vertical-align: middle;
        min-height: initial;
        line-height: 1;
        margin-right: 5px;
      }
      .fa{
        font-size: 26px;
        color: #ddd;

        &.checked{
          color: $green;
        }
      }
    }
    h4{
      display: inline-block;
      color: $red;
      font-size: 20px;
      vertical-align: middle;

      .fa.fa-plus{
        font-size: 16px;
        margin-right: 2px;
      }
      .rm{
        font-size: 60%;
      }
    }
  }
  .bespoke-desc{
    padding: 20px;

    > img{
      display: inline-block;
      vertical-align: top;
      width: 35%;
      @include bp-xs{
        display: block;
        margin-top: 15px;
        width: 100%;
      }
    }
    .desc{
      display: inline-block;
      padding-left: 15px;
      vertical-align: top;
      width: 64%;
      @include bp-xs{
        display: block;
        margin-top: 10px;
        padding: 0px;
        width: 100%;
      }
    }
  }
  .bespoke-form{
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding: 20px 8%;

    .bespoke-input{
      background-color: #fff;
      border: 0px;
      color: #888;
      font-size: 20px;
      @include font-bold();
      height: 48px;
      margin: 10px 0px;
    }
    .small{
      font-size: 14px;
    }
  }
  .default-button{
    @include bp-xs{
      padding: 9px 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991px){
  #checkout{
    .billing-address, .shipping-address{
      .right{
        padding-left: 15px;
      }

      .left{
        padding-right: 15px;
      }

      .middle{
        padding: 0px 15px;
      }
    }
  }
}
