@import "mixin";

#page-contact{
  padding: 35px 0px;

  h1{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p{
    font-weight: 300;
    margin-bottom: 10px;
  }
  form{
    margin: 25px 0px;
  }
}
#locations{
  background-color: #eee;
  padding: 15px;

  h2{
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  small{
    @include font-bold();
  }

  .card-branch{
    margin-bottom: 25px;

    h3{
      font-size: 16px;
      margin-bottom: 5px;
    }
    address{
      line-height: 1.4;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p{
      line-height: 1.4;
      font-weight: 300;
    }
    a{

    }
  }
  .card-info{
    margin-bottom: 10px;
  }
  .card-map{
    position: relative;
    padding-bottom: 75%; /* 4:3 ratio*/
    height: 0;
    overflow: hidden;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
  .operation-hour{
    h4{
      font-size: 18px;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 0px;
    }
    p{
      margin-bottom: 0px;
    }
  }
}