@import "admin_main";

#blog{
  .note-fontname{
    display: none;
  }
  .form-control[name="post_slug"]{
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    padding: 6px 10px;
    width: auto;
  }
  .edit-url,
  .confirm-url,
  .cancel-edit-url{
    font-family: $font-bold;
    margin-left: 15px;
    text-transform: uppercase;
  }
  label[for="featured_image"]{
    cursor: pointer;
    display: block;

    &.img-wrapper{
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  .featured-img{
    display: inline-block;
    width: 300px;
  }
  .modify-image{
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;

    label,
    a{
      color: $orange;
      cursor: pointer;
      display: block;
      font-family: $font-bold;
      margin: 15px 0px;
      text-transform: uppercase;
    }
  }
}

#add_banner{
  label{
    margin-bottom: 5px;
  }
  label[for="banner_image"],
  label[for="mobile_banner_image"]{
    display: block;
  }
  label[for="banner_image"].img-wrapper,
  label[for="mobile_banner_image"].img-wrapper{
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 25px;
    padding: 15px;
    vertical-align: middle;
    width: 310px;

    img{
      display: block;
      width: 100%;
    }
  }
  .img-wrapper.mobile-banner-img{
    width: 500px;

    img{
      display: block;
      width: 100%;
    }
  }
  .modify-image{
    display: inline-block;
    vertical-align: middle;

    a{
      cursor: pointer;
      display: block;
      font-family: $font-bold;
      font-size: 18px;
      margin: 5px 0px;

      &:hover,
      &:focus{
        color: $orange;
      }
    }
    label{
      cursor: pointer;
      font-family: $font-bold;
      font-size: 18px;
      margin: 5px 0px;
    }
    p{
      color:#aaa;
    }
  }
}
