@import "mixin";

#page-home{
  .so-slideshow{
    .owl-nav{
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .categories{
    background-color: #eee;
  }
  .policy{
    padding: 0px 5px;
  }
  .policy-inner{
    height: auto;
    width: 100%;

    a {
      cursor: default;
    }
    .policy-icon {
      color: #999;
      font-size: 46px;
      width: 50px;
      vertical-align: middle;
      text-align: center;
      margin-right: 10px;
    }
    .policy-icon-image {
      display: inline-block;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
    }
    .policy-description {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 65px);

      strong {
        font-size: 120%;
      }
    }
  }
  .services-v1{
    .policy-inner{
      padding: 20px;
    }
  }
  .item-sub-cat__divided{
    .ltabs-tabs.cf{
      .ltabs-tab-label{
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }
  .categories-list{
    .row{
      margin-left: -5px;
      margin-right: -5px;
    }
    .col-sm-4{
      padding: 5px;
    }
    .more-categories {
      height: 100%;
      width: 100%;
      position: relative;

      a {
        height: 100%;
        width: 100%;
        border-width: 3px;
        transition: all .5s ease;

        &:hover {
          border-color: $orange;

          h4 {
            color: #fff;
          }
        }
        h4 {
          color: #333;
          font-size: 16px;
        }
        .bg-overlay {
          background-color: #333333;
        }
      }
    }
  }
  .category-item{
    overflow: hidden;
    text-align: center;
    max-height: 200px;
    position: relative;

    &:hover{
      img{
        transform: scale(1.2);
      }
      .bg-overlay{
        left: 100%;
      }
    }
    a{
      display: block;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      transition: all .5s ease;
    }
    .bg-overlay{
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transform-origin: center center;
      transition: all .5s ease;
    }
    h4{
      white-space: normal;
      line-height: 1.2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      width: 100%;
      color: #fff;
      padding: 0px 10px;
      @include bp-xs{
        font-size: 18px;
      }
    }
  }
  .list-collections--item{
    a{
      font-size: 0px;
      height: auto;
      line-height: 1;
      padding: 0px;
      position: relative;

      &:hover{
        .bg-overlay{
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    h4{
      color: #fff;
      left: 50%;
      line-height: 1.2;
      max-width: 90%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
    }
    .bg-overlay{
      background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      @include transition('background-color .5s ease');
    }
  }
}

#testimonials{
  min-height: auto;
  background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/testimonial-bg.jpg') no-repeat center/cover;
  @include bp-xs{
    margin-bottom: 30px;
    padding: 35px 0px;
  }
  
  .slider-clientsay__dec{
    padding: 0px 15px;
    line-height: 1.6;
    @include bp-xs{
      margin-bottom: 20px;
    }
  }
  .owl-nav{
    display: none;
  }
  .slider-clientsay__info{
    p{
      font-style: italic;
      text-transform: none;
    }
  }
}