@import "mixin";


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,
h2,
h3,
h4{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  @include font-bold();
  line-height: 1.4;
}
h5,
h6{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}
li,
body,
html,
p,
input,
textarea,
label,
button{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
p{
  line-height: 1.4;
}
body,
html,
p{
  font-size: 14px;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 16px;
}
b,
strong{
  @include font-bold();
}
label{
  font-size: 15px;
}
a,
a:hover,
a:visited,
a:active,
a:focus,
input,
input:hover,
input:focus,
input:visited,
input:active,
select,
select:hover,
select:focus,
select:visited,
select:active,
img,
img:hover,
img:visited,
img:active,
img:focus,
button,
button:hover,
button:visited,
button:active,
button:focus,
div,
div:hover,
div:visited,
div:active,
div:focus{
  outline: 0 !important;
  text-decoration: none !important;
}
a[disabled="true"]{
  cursor: not-allowed;
  pointer-events: none;
}
a{
  color: $blue;
}
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  width: 100%;

  &.has-active-menu {
    overflow: hidden;
  }
}
.owl-item {
  display: inline-block;
  vertical-align: top;
}
.text-white {
  color: #fff;
}
.carousel {
  img{
    width: 100%;
  }
  .carousel-control {
    background: none;
    
    .icon-prev,
    .icon-next{
      font-size: 56px;
      width: auto;
      height: auto;
      margin-top: -30px;
    }
  }
}
.pos-r{
  position: relative;
}
.pos-f{
  position: fixed;
}
.pos-a{
  position: absolute;
}
.main{
  padding: 0px;
}
.back-to-top{
  bottom: 100px;
}
select.form-control, 
textarea.form-control, 
input[type="text"].form-control, 
input[type="password"].form-control, 
input[type="datetime"].form-control, 
input[type="datetime-local"].form-control, 
input[type="date"].form-control, 
input[type="month"].form-control, 
input[type="time"].form-control, 
input[type="week"].form-control, 
input[type="number"].form-control, 
input[type="email"].form-control, 
input[type="url"].form-control, 
input[type="search"].form-control, 
input[type="tel"].form-control, 
input[type="color"].form-control{
  font-size: 15px;
}
span.required{
  // font-weight: 600;
  padding-left: 2px;
  color: $red;
}
div[data-match-height="product-card"]{
  .ltabs-item{
    height: 100%;

    .product-item-container{
      height: calc(100% - 30px);
    }
  }
}
.ltabs-wrap{
  position: relative;

  .owl-nav{
    position: absolute;
    top: 10px;
    right: 0px;

    .owl-prev,
    .owl-next{
      display: inline-block;
      cursor: pointer;
    }
    .owl-prev{
      left: -15px;
      position: relative;
    }
  }
}
div.tab-slider{
  @include bp-xs{
    margin-bottom: 0px;
  }
}
.so-listing-tabs{
  .ltabs-tabs-container{
    @include bp-xs{
      margin-top: 10px !important;
      margin-bottom: 0px !important;
    }

    .ltabs-tabs-wrap.tabs-wrap__Line:after{
      @include bp-xs{
        background: transparent !important;
      }
    }
    .ltabs-tabs-wrap{
      @include bp-xs{
        font-size: 16px !important;
        font-weight: 600;
        color: #333 !important;
      }
    }
    .ltabs-tab-selected{
      @include bp-xs{
        border: 1px solid #999 !important;
        padding: 10px 0px !important;
        height: 40px !important;
        text-indent: 15px !important;
      }
    }
    .ltabs-tab-arrow{
      @include bp-xs{
        height: 40px !important;
        padding: 14px 0px !important;
        background: #eee !important;
        border: 1px solid #999 !important;
        margin-left: -1px !important;
      }
    }
  }
  .product-layout {
    width: 100%;

    .product-item-container {
      width: 100%;
    }
  }
  .ltabs-items-container{
    .ltabs-items{
      .ltabs-item{
        opacity: 1;
      }
    }
  }
}
#header{
  .header-center{
    @include bp-xs{
      padding: 15px 0px;
    }
  }
  .header-bottom{
    #show-verticalmenu{
      @include bp-xs{
        font-size: 32px;
      }

      &:before{
        @include bp-xs{
          content: '\f0c9';
        }
      }
    }
  }
  &.fixed-top{
    .header-center{
      margin-bottom: 46px;
    }
    .header-bottom{
      background-color: $dark-teal; 
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;

      .megamenu {
        img{
          display: none;
        }
      }
    }
    
  }
  .navbar-logo{
    @include bp-xs{
      padding-right: 0px;
      padding-left: 10px;
      margin-bottom: 0px;
    }

    img{
      width: 130px;
    }
  }
  .currencies-block{
    .dropdown-toggle{
      line-height: 28px;
    }
    .dropdown-menu{
      border: 0px;
      padding: 0px;
      @include bp-xs{
        left: 0px;
      }

      li{
        &.active{
          a{
            background-color: $orange;
            color: #fff;
          }
        }
        a{
          display: block;
          color: #000;
          padding: 7px 15px;
          width: 100%;
          line-height: normal;
        }
        p{
          display: inline-block;
          margin-left: 8px;
          line-height: 24px;
          @include font-bold();
          vertical-align: top;
        }
      }
      .flag-icon{
        font-size: 24px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        display: inline-block;
      }
    }
  }
  .search-pro{
    margin-top: 26px;
    @include bp-xs{
      padding: 0px 15px;
      margin-top: 9px !important;
      margin-bottom: 0px;
      width: 75%;
      clear: none;
    }

    .search{
      .form-control{
        border-radius: 20px 0 0 20px;
        font-size: 14px;
        padding: 8px 10px 8px 15px;
      }
    }
  }
  .phone-contact{
    margin-top: 28px;
    img{
      display: inline-block;
      vertical-align: middle;
      width: 35px;
    }
    .inner-info{
      background: none;
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;

      a{
        color: #fff;
        line-height: 1.4;
      }
    }
  }
  .shopping_cart {
    margin-top: 28px;
    @include bp-xs{
      margin-top: 10px;
    }

    .top_cart{
      .cart-handle{
        font-size: 32px;
        color: #fff;
      }
      .handle{
        margin-top: 0px;
      }
    }
    .cart_product_name{
      font-size: 14px;
      line-height: 1.3;
      color: #333;
      font-weight: 700;
      display: block;
    }
    .shoppingcart-box{
      min-width: 320px;

      .checkout-cart {
        color: #fff;
        background: #444;
        border-color: #444;
        padding: 8px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;

        &:hover{
          color: #444;
        }
        i{
          margin-right: 5px;
        }
      }

      .btn-remove {
        color: $red;
        background: transparent;
        border: 0px;
        padding: 5px;

        .fa {
          margin: 0px;
        }
      }

      tr {
        td {
          padding: 3px;

          &:first-child {
            width: 25%;
            padding: 0px;

            img{
              display: block;
              width: 100%;
            }
          }
          &:nth-child(2) {
            width: 65%;
          }
          &:nth-child(3) {
            width: 10%;
          }
        }
      }
    }
  }
  .megamenu-wrapper {
    .megamenu {
      li {
        &:hover {
          a {
            @include bp-sm {
              background-color: $orange;
              color: #fff !important;
            }
            @include bp-xs {
              background-color: $orange;
              color: #fff !important;
            }
          }
        }
      }
    }
  }
  .megamenu-hori{
    .navbar-toggle{
      @include bp-xs{
        border: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
      }

      &:hover, &:active, &:focus{
        background-color: transparent;
      }

      .fa{
        font-size: 32px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
  .vertical-wrapper{
    position: absolute;
    height: 420px;
    overflow: scroll;
    
    .megamenu-pattern{
      .menu{
        a{
          line-height: normal;
          padding: 3px 0px;
        }
      }
    }
  }
  .social-media{
    float: right;
    
    a{
      display: inline-block;
      padding: 5px;

      i{
        padding-right: 0px;
        font-size: 18px;
        position: relative;
        top: 3px;
      }
    }
  }
  .header-top-right{
    @include bp-xs{
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .top-link{
      li{
        line-height: normal;
        @include bp-xs {
          padding-left: 3px;
          padding-right: 3px;
        }
        .fa {
          @include bp-xs {
            margin-right: 0px;
          }
        }
      }
      .top-link-item {
        vertical-align: middle;

        .user-name {
          font-size: 12px;
          color: #bcbdc7;
        }
        .fa {
          vertical-align: middle;
          line-height: 1.4;
        }
        span {
          vertical-align: middle;

          &.invi-xs {
            @include bp-xs {
              visibility: hidden;
              opacity: 0;
              display: none;
            }
          }

          &.show-xs {
            visibility: hidden;
            opacity: 0;
            display: none;

            @include bp-xs {
              visibility: visible;
              opacity: 1;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
#menuHeading{
  .megamenuToogle-pattern{
    > .container{
      line-height: 1.6;
    }
  }
}
#footer{
  .block-payment{
    img{
      height: 35px;
      margin-top: -10px;
      margin-right: 25px;
      @include bp-xs{
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .box-information{
    p{
      padding-right: 30px;
    }
  }
  .copyright-text{
    p{
      font-size: 12px;
    }
    a{
      color: $orange;
    }
  }
}
#announcement{
  background-color: $brick-red; 
  color: #fff; 
  width: 100%; 
  overflow: hidden; 
  padding: 10px 0; 
  font-size: 15px; 
  text-align: center;

  .cont{
    display: inline-block;
    margin-left: 200px;
  }
}
#sticky-bar{
  background-color: #111;
  color: #fff;
  height: 35px;

  a{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    line-height: 35px;
  }
  .row{
    margin: 0px;
  }
  .left{
    float: left;

    p{
      font-size: 12px;
      display: inline-block;
      line-height: 35px;
      margin-right: 15px;
    }
    a{
      font-size: 12px;
      margin: 0px 3px;

      .fa{
        margin-right: 3px;
      }
    }
  }
  .right{
    float: right;
    text-align: right;
    @include bp-xs{
      text-align: left;
    }

    .dropdown-menu{
      background-color: #f5f5f5;
      border: 0px;
      border-radius: 0px;
      left: initial;
      margin-top: 0px;
      min-width: 95px;
      padding: 0px;
      right: -10px;

      li{
        &.active{
          a{
            background-color: #000;
            color: #fff;
          }
        }
        a{
          display: block;
          color: #000;
          padding: 7px 15px;
          width: 100%;
          line-height: normal;
        }
        p{
          display: inline-block;
          margin-left: 8px;
          line-height: 24px;
          @include font-bold();
          vertical-align: top;
        }
      }
      .flag-icon{
        font-size: 24px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        display: inline-block;
      }
    }
  }
}
.sweet-alert{
  h2 {
    text-transform: capitalize;
  }
  button {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .sa-confirm-button-container {
    .confirm {
      background-color: $dark-teal!important;
    }
  }
}
#mobile_search{
  margin-top: -41px;
  margin-bottom: 0px;
  @include transition('all .5s ease');

  .col-sm-12{
    padding-left: 0;
    padding-right: 0;
  }
  &.pushed-down{
    margin-top: 0px;
  }
  .form-group{
    margin-bottom: 0px;
  }
  .form-control{
    border-right: 0px;
    box-shadow: none;

    &:focus{
    }
  }
  .input-group-addon{
    background-color: #fff;
    border-radius: 0px;
    padding: 6px 20px 6px 0px;
  }
}
.table{
  thead > tr > th{
    background: $dark-teal;
    color: #fff;
    border-bottom: 0px;
  }

  td{
    background: #f5f5f5;
  }

  &.table-striped> tbody > tr:nth-of-type(odd) td {
    background: #fff; 
  }
}
.form-group{
  margin-bottom: 10px;
}
.form-control{
  // background-color: #eee;
  // border: 0px;
  color: #333;
  // box-shadow: none;
  height: auto;
  font-size: 14px;
  padding: 10px;
}
#search-bar{
  max-width: 250px;

  .form-control{
    box-shadow: none;
    border: 1px solid #ccc;
    border-right: 0px;
    background-color: #fff;
  }
  .input-group-addon{
    background-color: #ffffff;
  }
}
#navigation{
  border-bottom: 1px solid #eee;

  .c-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

    &.is-active {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  }
  .c-menu--slide-left {
    background-color: #000;
    position: fixed;
    z-index: 200;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    text-align: left;
    top: 0;
    left: 0;
    @include transition ('transform 0.3s');
    @include transform('translateX(-300px)');

    &.is-active {
      transform: translateX(0);
    }
    .c-menu__close {
      color: #fff;
      background: transparent;
      border: 0px;
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 5px;

      &:focus {
        outline: none;
      }
    }
    .menu-items{
      padding-top: 40px;
      padding-bottom: 100px;

      .menu-item{
        margin-top: -1px;
        margin-bottom: 0px;
        display: block;

        &.active{
          a{
            color: #000;
            position: relative;
          }
        }
        a{
          color: #fff;
          line-height: normal;
          padding: 15px 25px;
          width: 100%;
          font-size: 16px;
          display: block;
          text-align: left;
          margin: 0px;
          border-top: 1px solid #333;
          border-bottom: 1px solid #333;
        }
      }
    }
  }

  .navbar{
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    height: 120px;
  }
  .navbar-header{
    @include bp-xs{
      display: inline-block;
      vertical-align: top;
    }
  }
  .navbar-collapse{
    @include bp-xs{
      border: 0px;
      display: inline-block;
      vertical-align: top;
    }
  }
  .navbar-nav{
    @include bp-xs{
      display: none;
    }
  }
  .navbar-brand{
    height: auto;
    padding: 15px 0px;
    display: block;

    img{
      height: 90px;
      display: block;
    }
  }
  .menu-item{
    a{
      color: #000;
      @include font-bold();
      margin: 0px 10px;
      text-transform: uppercase;
      text-align: center;
      @include bp-sm{
        margin: 0px 5px;
        padding: 10px 5px;
      }

      &:hover,
      &:focus{
        background-color: transparent;
      }
    }
    &.active{
      a{
        background-color: transparent;
      }
    }
    .dropdown-menu{
      background-color: #333;
      border-radius: 0px;
      border: 0px;
      margin-top: 0px;
      padding: 15px;

      li {
        a{
          color: #fff;
          font-weight: 400;
          padding: 1px;
          text-align: left;
        }
      }
    }
  }
  .navbar-sub{
    height: 34px;
    margin-top: 25px;
    padding-left: 90px;
    width: 100%;
  }
  .navbar-main{
    height: 30px;
    margin-top: 17px;
    padding-left: 90px;
    width: 100%;
  }
  .navbar-right{
    &.navbar-upper{
      .menu-item{
        a{
          line-height: normal;
          position: relative;
          padding: 6px;

          &:hover{
            .cart-label{
              background-color: #333;
            }
          }
          .cart-label{
            border-radius: 30px;
            font-size: 8px;
            height: 11px;
            line-height: normal;
            min-width: 11px;
            padding: 1px 3px;
            position: absolute;
            right: 17px;
            top: 12px;
          }
          .fa{
            display: block;
            font-size: 22px;
          }
        }
      }
    }
  }
  .navbar-left{
    width: 100%;

    .menu-item{
      a{
        padding: 10px 5px;
        border-bottom: 5px solid transparent;
      }
      &.active{
        a{
          border-bottom-color: #333;
        }
      }
    }
    .float-right{
      float: right;
      margin-right: -15px;

      a{
        display: inline-block;
      }
    }
  }
}
.ss-search-form{
  .ss-search-form__results{
    background: transparent;
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0px;
  }
  .autocomplete-wrapper{
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    max-height: 320px;
    margin: 0px 0px 0px 36px;
    padding: 0px 0px 32px;
    position: relative;
    width: 85%;
    @include bp-md{
      width: 90%;
    }
    @include bp-sm{
      width: 100%;
    }
    @include bp-xs{
      width: 100%;
    }

    h6{
      font-size: 12px;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 5px;
      padding: 0px 15px;
      text-align: left;
      text-transform: uppercase;
    }
  }
  .search-results-wrapper{
    max-height: calc(300px - 12px);
    overflow-y: scroll;
  }
  .ss-autocomplete-result{
    border-bottom: 1px solid #eee;
    padding: 15px;
    &:last-child{
      border-color: transparent;
    }

    &:hover,
    &:focus{
      background-color: #eee;
    }
  }
  .ss-autocomplete-result__aside{
    display: inline-block;
    vertical-align: top;

    a{
      display: inline-block;
    }
    .ss-autocomplete-result__image{
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      background-color: #aaa;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      margin: 0px;
      height: 90px;
      width: 70px;
    }
  }
  .ss-autocomplete-result__title{
    height: 100%;
    text-align: left;

    a{
      color: #000;
    }
    h3{
      margin: 10px 0px 5px;
      font-size: 14px;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .ss-autocomplete-result__content{
    display: inline-block;
    margin-left: 10px;
    width: calc(100% - 90px);
    vertical-align: top;

    .search-product-title{
      @include font-bold();
      font-size: 14px;
      text-transform: uppercase;
    }
    .price{
      font-size: 16px;
      .price-new{
        font-weight: 600;
      }
    }
  }
  .ss-show-all-results{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: $orange;

    a{
      text-align: center;
      color: #fff;
      padding: 10px 0px;
      display: block;
      @include font-bold();
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
#c-button--slide-left{
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  float: left;
  margin-right: 0px;
  padding: 41px 0px;
  @include bp-xs{
    margin-left: 15px;
    margin-right: 10px;
    padding: 25px 0px;
  }
  @include bp-xxs{
    margin-left: 25px;
    margin-right: 10px;
    padding: 10px 0px 15px;
  }

  .icon-bar{
    background-color: #000;
    border-radius: 3px;
    display: block;
    height: 5px;
    margin: 3px 0px;
    width: 35px;
    @include bp-xxs{
      height: 4px;
      width: 30px;
    }
  }
}
.navbar-account{
  .nav-pills{
    a{
      background-color: #eee;
      border-radius: 0px;
      color: #333;
      font-size: 16px;
      padding: 9px 15px 15px;
      text-transform: uppercase;
      @include font-bold();
      margin-bottom: 10px;

      .fa{
        font-size: 24px;
        margin-right: 10px;
        width: 25px;
        text-align: center;
        position: relative;
        top: 3px;
      }
    }
    .active{
      a{
        background-color: #333;
        color: #fff;
      }
    }
  }
}
.table-responsive{
  @include bp-xs{
    border: 0px;
  }
}
.modal-backdrop.in{
  opacity: .2;
}
.help-block{
  color: #e74c3c;
  display: block;
  line-height: normal;
}
.has-error .form-control{
  border-color: #e74c3c;

  &:focus{
    border-color: #e74c3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #e74c3c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #e74c3c;
  }
}
.form-control{
  border-radius: 0px;
  font-size: 15px;
  padding-left: 10px;
  padding-left: 10px;
}
.input-group-addon{
  border-radius: 0px;
}

.btn{
  border-radius: 0px;
}

.products-slider{
  // margin-left: -5px;
  // margin-right: -5px;

  // .col-md-12{
  //   padding-left: 5px;
  //   padding-right: 5px;
  // }
}

.products-list{
  .row.products-slider{
    margin-left: -5px;
    margin-right: -5px;

    .owl-item{
      .col-sm-12{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  &.grid .product-layout .product-item-container{
    padding: 0px;
  }
  .product-item-container{
    text-align: center;

    &:hover {
      .left-block {
        .label-sale,
        .label-new {
          transform: scale(0);
        }
      }
    }
    .label-sale,
    .label-new {
      transition: 0.3s all ease 0s;
      transform: scale(1);
    }
    .left-block {
      .countdown_box {
        .title {
          font-size: 13px;
          font-weight: 400;
          padding: 9px 0 6px;
        }
        .countdown_inner {
          .time-item {
            padding: 5px;
            font-size: 12px;

            .num-time {
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
      }
    }
    .product-image-container{
      img{
        width: 100%;
      }
    }
    .button-group{
      form{
        display: inline-block;
        vertical-align: middle;

        &:first-child{
          width: calc(100% - 45px);

          .addToCart{
            width: 100%;
          }
        }
      }
      .addToCart{
        padding: 12px 15px;
        @include bp-xs{
          width: calc(100% - 60px);
        }

        i{
          font-size: 16px;
          position: relative;
          top: 1px;
          margin-top: -5px;
        }
      }
    }
    .price{
      margin-top: 15px;
      margin-bottom: 10px;
      @include bp-xs{
        font-size: 16px;
      }

      .price-new{
        font-weight: 600;
      }
    }
    .left-block{
      .countdown_box{
        top: initial;
        bottom: 15px;
      }
    }
    .caption{
      padding: 0px 5px;
      h4{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(15px * 1.4 * 2); /* Fallback for non-webkit */

        a{
          margin: 0 auto;
          font-size: 15px;
          line-height: 1.4;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}


.category-card{
  position: relative;

  img{
    width: 100%;
  }
  h3{
    font-size: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    @include transform('translateY(-50%)');
    width: 100%;
  }
}

.product-slider{
  padding: 35px 15px;

  .section-header{
    margin-bottom: 20px;
    position: relative;

    h2{
      font-size: 22px;
      text-transform: uppercase;
    }
    p{
      color: #333;
      font-weight: 400;
    }
  }
  .nav-product{
    bottom: 2px;
    position: absolute;
    right: 0px;

    button{
      border: 1px solid #aaa;
      border-radius: 3px;
      font-size: 17px;
      padding: 0px;
      color: #aaa;

      .fa{
        display: block;
        height: 20px;
        width: 20px;
      }
      &.slick-disabled{
        .fa{
          color: #999;
        }
      }
      &.prev{
        .fa{
          padding-right: 2px;
        }
      }
      &.next{
        .fa{
          padding-left: 2px;
        }
      }
    }
  }
}
.shopping_cart{
  .cart-lists{
    > p{
      margin-bottom: 15px;
      line-height: 1.2;
      text-align: center;
    }
  }
}
#back_to_top{
  bottom: 110px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 17px;
  @include transform('rotateZ(-90deg)');
  @include transition('all .5s ease');
  z-index: 999;

  &.appear{
    opacity: 1;
    visibility: visible;
  }
  p{
    display: inline-block;
    font-size: 14px;
    @include font-bold();
    text-transform: uppercase;

    i{
      background-color: #fff;
      border-radius: 30px;
      font-size: 16px;
      line-height: 34px;
      margin-right: 20px;
      padding: 0px 13px;
      text-align: center;
      width: 40px;
    }
  }
}
#footer-nav{
  background-color: #222;
  color: #fff;
  padding: 25px 0px 40px;

  h2{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  h3{
    font-size: 16px;
    margin-bottom: 10px;

    + p{
      font-weight: 300;
    }
  }
  address{
    line-height: 1.4;
  }
  hr{
    border-color: #fff;
    margin: 10px 0px;
  }
  a{
    color: #fff;
  }
  .fa{
    margin-right: 3px;
  }
  .nav{
    a{
      display: block;
      @include font-bold();
      font-size: 16px;
      padding: 5px 0px;
      text-transform: uppercase;
    }
  }
}
#copyright{
  padding: 10px 15px;
  color: #333;
}

.alert-error{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert{
  .flash-message{
    font-size: 16px;
    line-height: normal;
  }
  ul{
    list-style: disc;
    margin-top: 5px;
    padding-left: 20px;
  }
  li{
    font-size: 15px;
    line-height: normal;
  }
}

.cartgone button,
.addtocart button {
    margin-top: 15px;
    width: 87%;
    border: none;
    font-family: "Avenir LT Std 65 Medium", Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
    background-color: #15ab73;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 12px 10px;
    text-transform: uppercase;
    text-transform: uppercase;
}
.cartgone button {
    background-color: #999;
}