// ----------------------
// ------- Mixins -------
// ----------------------
@mixin bp-xlg {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
@mixin bp-lg {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin bp-md {
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin bp-sm {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin bp-xs {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin bp-mh {
  @media only screen and (min-width: 425px) and (max-width: 767px) {
    @content;
  }
}
@mixin bp-ml {
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    @content;
  }
}
@mixin bp-mm {
  @media only screen and (min-width: 330px) and (max-width: 375px) {
    @content;
  }
}
@mixin bp-xxs {
  @media only screen and (max-width: 350px) {
    @content;
  }
}
@mixin opacity($opacity) {
  opacity    : $opacity;
  $opacity-ie: $opacity * 100;
  filter     : alpha(opacity=$opacity-ie);  //IE8
}
@mixin transform($args) {
  -webkit-transform: #{$args};
  -moz-transform   : #{$args};
  -ms-transform    : #{$args};
  -o-transform     : #{$args};
  transform        : #{$args};
}
@mixin transition($args) {
  -webkit-transition: #{$args};
  -moz-transition   : #{$args};
  -ms-transition    : #{$args};
  -o-transition     : #{$args};
  transition        : #{$args};
}
@mixin transform-origin($args) {
  -webkit-transform    : #{$args};
  -moz-transform-origin: #{$args};
  -ms-transform-origin : #{$args};
  -o-transform-origin  : #{$args};
  transform            : #{$args};
}
@mixin transition-delay($args) {
  -webkit-transition-delay: #{$args};
  -moz-transition-delay   : #{$args};
  -ms-transition-delay    : #{$args};
  -o-transition-delay     : #{$args};
  transition-delay        : #{$args};
}
@mixin animation-duration($args) {
  -webkit-animation-duration: #{$args};
  -moz-animation-duration   : #{$args};
  -ms-animation-duration    : #{$args};
  -o-animation-duration     : #{$args};
  animation-duration        : #{$args};
}
@mixin animation-fill-mode($args) {
  -webkit-animation-fill-mode: #{$args};
  -moz-animation-fill-mode   : #{$args};
  -ms-animation-fill-mode    : #{$args};
  -o-animation-fill-mode     : #{$args};
  animation-fill-mode        : #{$args};
}
@mixin animation-delay($args) {
  -webkit-animation-delay: #{$args};
  -moz-animation-delay   : #{$args};
  -ms-animation-delay    : #{$args};
  -o-animation-delay     : #{$args};
  animation-delay        : #{$args};
}
@mixin animation-iteration-count($args) {
  -webkit-animation-iteration-count: #{$args};
  -moz-animation-iteration-count   : #{$args};
  -ms-animation-iteration-count    : #{$args};
  -o-animation-iteration-count     : #{$args};
  animation-iteration-count        : #{$args};
}
@mixin animation-timing-function($args) {
  -webkit-animation-timing-function: #{$args};
  -moz-animation-timing-function   : #{$args};
  -ms-animation-timing-function    : #{$args};
  -o-animation-timing-function     : #{$args};
  animation-timing-function        : #{$args};
}
@mixin animation-name($args) {
  -webkit-animation-name: #{$args};
  -moz-animation-name   : #{$args};
  -ms-animation-name    : #{$args};
  -o-animation-name     : #{$args};
  animation-name        : #{$args};
}
@mixin animation($animationName) {
  -webkit-animation: #{$animationName};
  -moz-animation   : #{$animationName};
  -ms-animation    : #{$animationName};
  -o-animation     : #{$animationName};
  animation        : #{$animationName};
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin font-bold() {
  font-weight   : 600;
}
@mixin font-extrabold() {
  font-weight   : 600;
  letter-spacing: 0.5px;
}
// ----------------------
// ----- End Mixins -----
// ----------------------

$black     : #000;
$white     : #fff;
$red       : #ed1b24;
$brick-red : #ed1b24;
$blue      : #BE00FF;
$yellow    : #FFEB3B;
$orange    : #F4A137;
$green     : #8BC34A;
$teal      : #B2DFDB;
$light-grey: #E0E0E0;
$dark-teal : #24303e;
$font-sans : 'Poppins',          Helvetica, Arial, sans-serif;
$font-serif: 'Playfair Display', Helvetica, Arial, sans-serif;