@import "mixin";

#order_success{
  padding: 60px 0px 100px;

  h4{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .panel{
    background-color: #eee;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: none;

    &.order-message{
      border-left: 4px solid $orange;
    }
    p{
      font-size: 15px;
      line-height: 1.4;
    }
    a{
      color: $orange;
      line-height: 1.4;
    }
  }
  .table {
    td {
      background: transparent;
    }
  }
  .order-info{
    h5{
      @include font-bold();
      font-size: 18px;
      line-height: normal;
    }
    h6{
      font-size: 15px;
      line-height: normal;
    }
    .order-status{
      color: #aaa;
      margin-left: 5px;
      line-height: normal;
    }
    .row{
      border-bottom: 1px solid $orange;
      padding: 25px 0px;
      margin: 0px;

      &:last-child{
        border-bottom: 0px;
      }
      > div:first-child{
        padding-left: 0px;

        &.col-md-12{
          padding-right: 0px;
        }
      }
      > div:last-child{
        padding-right: 0px;
      }
    }
    .products-summary{
      td{
        border-top: 0px;

        &:first-child {
          width: 80px;
        }
        &:last-child{
          text-align: right;
        }
      }
      img{
        height: auto;
        width: 50px;
      }
      p{
        font-size: 14px;
        line-height: normal;

        &.title{
          margin-bottom: 5px;
        }
      }
      .delivery-eta{
        @include font-bold();
        color: $orange;
      }
      .item-thumb{
        background-image: url('http://via.placeholder.com/80x80');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        height: 85px;
        margin-right: 10px;
        width: 65px;
        @include bp-xs{
          margin-bottom: 15px;
        }
      }
    }
    .order-amount{
      h6{
        text-transform: uppercase;
        margin: 15px 0px;
      }
    }
    .amount{
      float: right;
      line-height: normal;
    }
    .discount-type{
      color: $orange;
    }
    .total{
      font-size: 17px;
      @include font-bold();
    }
    .total-amount{
      @include font-bold();
      float: right;
      text-align: right;

      span{
        display: block;
        font-size: 14px;
        text-transform: none;
      }
    }
  }
  .contact-cta{
    height: 100%;

    p{
      color: #000;
      margin-top: 5px;
    }
    table{
      width: 100%;
    }
    td{
      padding: 0px 1px;
      vertical-align: top;
    }
    i{
      color: #000;
      font-size: 26px;
    }

    p{
      font-size: 15px;
      line-height: normal;
      text-align: left;
    }
    h4{
      color: #000;
      font-size: 16px;
      margin-bottom: 20px;
      text-align: left;
      text-transform: initial;

      a{
        color: $orange;
        @include font-bold();
      }
    }
  }
  .invoice-action{
    .btn{
      @include font-bold();
      margin-right: 10px;
      padding: 12px 25px;
      width: 180px;
    }
    // .btn-print,
    // .btn-download{
    //   background-color: transparent;
    //   border: 2px solid #000;
    //   color: #000;
    // }
  }
  .products-cta{
    margin-top: 150px; 
    
    .products-list{
      > .col-lg-3{
        padding: 0px;
      }
      .product-card{
        margin: 0px 5px;

        h4{
          font-size: 18px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

@media print{
  header, footer{
    display: none;
  }
  a:after {
  content: " " attr(href) ")";
  }
  a[href^="#"]:after {
    display: none;
  }
  a[href^="http://"]:after, a[href^="https://"]:after {
  content: " (" attr(href) ")";
  }
  a {
  word-wrap: break-word;
  }
}