@import "mixin";

#page-product{
  padding: 15px 0px;

  .status-stock{
    &.out-of-stock{
      color: $red;

      &:before{
        content: "\f05e";
        font-family: FontAwesome;
        display: inline-block;
        color: $red;
        margin-right: 5px;
        margin-left: 10px;
      }
    }
  }
  .product-label{
    .stock{
      margin-top: 8px;
    }
  }
  .product-box-desc{
    margin-bottom: 30px;

    .inner-box-desc{
      p{
        line-height: 1.618;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #ccc;
      }
    }
  }
  .left-content-product{
    .content-product-left{
      img{
        width: 100%;
      }

      .label-sale {
        height: auto;
        padding: 8px 12px;
        // z-index: 100;
        font-size: 18px;
        left: 13px;
      }

      .label-new {
        height: auto;
        padding: 8px 12px;
        // z-index: 100;
        font-size: 18px;
      }
    }
    .content-product-right{
      .box-info-product{
        margin-top: 30px;

        .cart{
          width: calc(100% - 155px);
        }
        .quantity-control{
          .form-control{
            background-color: #fff;
          }
        }
        .btn-add-to-cart{
          padding: 11px 16px;
          width: 100%;
        }
        .add-to-links ul li a{
          padding: 12px;
        }
        .wishlist{
          padding-right: 0px;
        }
      }
    }
    .selection-card{
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      margin-top: -1px;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 25px;
      @include bp-xs{
        padding: 10px 25px;
      }
      .fa{
        color: #eee;
        font-size: 24px;
      }
      &.selected{
        background-color: #f9f9f9;

        .fa{
          color: $green;
        }
      }
      .table{
        margin-bottom: 0px;

        td{
          border: 0px;
        }
        td:first-child{
          width: 30px;
        }
      }
      .selection-toggle{
        display: inline-block;
        vertical-align: middle;
      }
      .selection-price{
        float: right;
        text-align: right;
        width: 38%;
        @include bp-sm{
          width: 30%;
        }
        @include bp-xs{
          float: none;
          text-align: left;
          width: 100%;
        }

        h3{
          display: block;
          font-size: 16px;
          line-height: normal;
          @include bp-sm{
            font-size: 18px;
          }
          @include bp-xs{
            font-size: 18px;
          }

          .rm{
            margin-right: 2px;
            font-size: 60%;
            line-height: 1;
            position: relative;
            text-transform: uppercase;
            top: -5px;
          }
          .before-discount{
            line-height: 1;
            text-decoration: line-through;
          }
          .promo-price{
            color: $red;
            line-height: 1;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .stock-list{
    .table{
      margin-top: 25px;
      margin-bottom: 50px;

      thead > tr > th{
        background: $dark-teal;
        color: #fff;
        border-bottom: 0px;
      }

      td{
        background: #f5f5f5;
      }

      > tbody > tr:nth-of-type(odd) td {
        background: #fff; 
      }
    }
  }
  .related.products-list{
    position: relative;

    .owl-nav div{
      position: absolute;
      margin: 0px;
      top: 15px;
      padding: 5px;
      border-radius: 0px;
      cursor: pointer;
      font-size: 16px;
      transform: translateY(-50%);
    }
    .owl-prev{
      right: 30px;
    }
    .owl-next{
      right: 5px;
    }
  }
}
#thumb-slider-vertical{
  padding: 10px 0px;
  position: relative;
  overflow: hidden;

  .btn-more{
    background-color: #fff;
    border: 1px solid #999;
    color: #999;
    font-size: 20px;
    height: auto;
    left: 50%;
    margin: 0px;
    padding: 0px 10px;
    position: absolute;
    transform: translateX(-50%);
    width: auto;
    z-index: 10;
  }
  .prev-thumb{
    top: 0px;
  }
  .next-thumb{
    bottom: 10px;
  }
}
#thumb-slider{
  position: relative;
  
  .owl-stage-outer{
    overflow: hidden;
    padding-bottom: 1px;
  }
  .owl-nav{
    margin: 0px;

    div{
      position: absolute;
      margin: 0px;
      top: 50%;
      opacity: 1;
      border: 1px solid $orange;
      border-radius: 0px;
      color: #fff;
      background-color: $orange;
      font-size: 20px;
      transform: translateY(-50%);
      
      &.disabled{
        color: #ccc;
        border: 1px solid #ccc;
        background-color: #fff;
      }
    }
    .owl-prev{
      left: -11px;
    }
    .owl-next{
      right: -11px;
    }
  }
}
#stock{
  .table{
    text-align: center;
  }
}
#product{
  h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .control-label{
    margin-bottom: 7px;
  }
  .product-options {
    &.is-white{
      i.fa{
        color: #666;
      }
      .selected-option{
        .label{
          background-color: #333 !important;
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        }
      }
    }
    .radio {
      label{
        position: relative;
      }
      .icon-color{
        overflow: hidden;

        .color{
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .countdown_box {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;

    .title {
      color: white;
      background-color: $red;
      padding: 9px 0 6px;
      text-align: center;
      font-size: 14px;
    }
    .countdown_inner {
      float: left;
      width: 100%;
      background: $red;

      .time-item {
        width: 25%;
        float: left;
        color: #fff;
        padding: 5px;
        text-align: center;
        border: 1px solid #ccc;
        border-left: 0;

        &:last-child {
          border-right: none;
        }
        .num-time {
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
  .option-selections{
    .selection-card{
      .selection-title{
        display: inline-block;
        vertical-align: middle;
        width: 55%;
        @include bp-sm{
          width: 45%;
        }
        @include bp-xs{
          display: block;
          margin-bottom: 5px;
          width: 100%;
        }

        p{
          font-size: 16px;
          margin-left: 10px;
          line-height: normal;
          display: inline-block;
          vertical-align: middle;
          @include bp-sm{
            font-size: 16px;
          }
          @include bp-xs{
            margin-left: 0px;
          }
        }
        .color-selections{
          display: inline-block;
          visibility: hidden;
          opacity: 0;
          vertical-align: middle;
          margin-left: 10px;

          .radio{
            .fa{
              color: #fff;
              font-size: 14px;
            }
          }
        }
      }
      .selection-price{
        h3{
          color: $red;
        }
      }
      &.selected{
        .color-selections{
          visibility: visible;
          opacity: 1;
        }
        .fa-circle{
          &:before{
            content: "\f058";
          }
        }
        .selection-card{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .selected-option{
    top: -8px;
    position: relative;
    
    .label{
      background-color: $dark-teal;
    }
  }
}