@import "mixin";

#page-category{
  margin: 15px 0px;

  .so-slideshow{
    .owl-nav{
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .menu-category {
    .list-group {
      > li {
        ul{
          padding-bottom: 10px;
        }
        a{
          line-height: 1.4;
          
          &:before{
            display: none;
          }
        }
      }
    }

    .filter-panel{
      margin-top: 30px;

      .modcontent{
        padding: 15px;

        .btn-clear-all{
          font-weight: 600;
          text-transform: uppercase;
        }
        .panel{
          border: 0px;
          box-shadow: none;
          border-radius: 0px;
          border-bottom: 1px solid #e6e6e6;
          margin-bottom: 15px;
          padding-bottom: 15px;

          &:last-child{
            border-bottom: 0px;
            margin-bottom: 0px;
          }
        }
        .keyword-input{
          padding: 7px 10px;
          font-size: 14px;
          margin-bottom: 20px;
        }
        .panel-body{
          padding: 0px;
          max-height: 165px;
          overflow-y: scroll;
          overflow-x: visible;

          .filter-label{
            font-size: 12px;
            line-height: 1;
          }
          .counter{
            float: right;
            font-size: 12px;
            line-height: 1.4;
          }
          .checkbox{
            margin: 2px 0px;
            input{
              margin-top: 2px;
            }
            label{
              display: block;
              padding-right: 20px;
              width: 100%;
            }
          }
        }
        .panel-price{
          .panel-body{
            overflow: visible;
          }
          p{
            margin-bottom: 10px;
          }
          .slider{
            width: calc(100% - 20px);
            left: 50%;
            @include transform('translateX(-50%)');

            .slider-track{
              background-image: none;
              background: orange;
              border-radius: 0px;
              height: 2px;
              margin-top: -5px;
            }
            .slider-selection{
              background: #000;
              background-image: none;
            }
            .slider-handle{
              background: #000;
              background-image: none;
              height: 12px;
              width: 12px;
            }
          }
        }
        .panel-title{
          color: #000;
          display: block;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 10px;

          &.collapsed .fa:before{
            content: "\f067";
          }
          .fa{
            float: right;

            &:before{
              content: "\f068";
            }
          }
        }
      }
    }
  }

  .products-list{
    margin-left: -5px;
    margin-right: -5px;

    .product-layout{
      padding-left: 5px;
      padding-right: 5px;

      .product-item-container{
        margin: 5px 0px;
        padding: 0px;

        .right-block{
          padding: 0px 5px;
        }
      }
    }

    
  }

  .pagination{
    text-align: center;
    width: 100%;

    a{
      color: #000;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      margin: 0px 5px;
      vertical-align: bottom;
      text-transform: uppercase;

      &.active{
        color: #ccc;
      }
      .glyphicon{
        top: 8px;
      }
    }
  }
}

#page-categories{
  margin: 15px 0px;

  .categories-list{
    .col-xs-6{
      padding: 0px 5px;
    }
  }
  .category-item{
    // overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    
    img{
      width: 100%;
      height: auto;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    }
    h4{
      margin-top: 10px;
      font-size: 16px;
      color: #333;
    }
  }
  .catalogues-list{
    .catalogue-item{
      a{
        display: block;
        margin-bottom: 35px;
        text-align: center;
      }
      img{
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      }
      h3{
        color: #333;
        font-size: 18px;
        line-height: 1.2;
      }
      p{
        color: #999;
        font-size: 14px;
      }
      .date{
        font-style: italic;
      }
    }
  }
  .archived-catalogues{
    margin-top: 50px;
  }
}