@import "mixin";

#page-services{
  p{
    font-size: 15px;
    font-weight: 300;
  }
  .section-header{
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;

    h1{
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  .card-service{
    margin-bottom: 25px;
    padding: 0px 10px;
    
    .thumbnail{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0px;
      height: 230px;
      margin-bottom: 15px;
      width: 100%;
    }
  }
  .card-title{
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .card-desc{
    
  }
}

#partners{
  background-color: #eee;
}