@import "mixin";

#page-terms{
  padding: 1px 0px;

  hr{
    margin-top: 50px;
  }
  section{
    margin: 35px 0px;
  }
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
  }
  h3{
    font-size: 18px;
    color: #444;
  }
  h4{
    color: $dark-teal;
    font-size: 18px;
    margin: 20px 0px 5px;
  }
  p{
    margin-bottom: 10px;
  }
  ul{
    list-style: disc;
    padding-left: 40px;
    font-size: 14px;

    li{
      margin-bottom: 10px;
    }
  }
  ol{
    list-style: decimal;
    padding-left: 40px;
    font-size: 14px;

    h5{
      font-size: 16px;
      font-weight: 600;
    }
    li{
      margin-bottom: 10px;
    }
  }
  h6{
    font-weight: 600;
  }
  .table{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}