{% if announcement %}
  <section id="announcement" stylr="background-color: {{ announcement.bg_color }}; color: {{ announcement.text_color }}; font-size: {{ ( announcement.font_size < 24) ? announcement.font_size : '15' }}px;">
    <div class="marquee">
      {{ announcement.content }}
    </div>
  </section>
{% endif %}