<div class="col-xs-12 col-sm-4 col-md-3">
  <nav class="navbar-account">
    <ul class="nav nav-pills nav-stacked">
      <li{% if 'my-account/profile' in ''|page %} class="active"{% endif %}>
        <a href="{{ url('my-account/profile') }}"><i class="fa fa-user"></i>Profile</a>
      </li>
      <li{% if 'my-account/addresses' in ''|page %} class="active"{% endif %}>
        <a href="{{ url('my-account/addresses') }}"><i class="fa fa-address-book"></i>Addresses</a>
      </li>
      <li{% if 'my-account/order-history' in ''|page %} class="active"{% endif %}>
        <a href="{{ url('my-account/order-history') }}"><i class="fa fa-list"></i>Order History</a>
      </li>
      <li{% if 'my-account/wishlist' in ''|page %} class="active"{% endif %}>
        <a href="{{ url('my-account/wishlist') }}"><i class="fa fa-heart"></i>Wishlist</a>
      </li>
    </ul>
  </nav>
</div>