{% put styles %}
  <link href="{{ [
    'assets/vendor/bootstrap-slider/css/bootstrap-slider.min.css',
  ]|theme }}" rel="stylesheet">
{% endput %}
<!--Left Part Start -->
<aside class="col-sm-4 col-md-3" id="column-left">
  <div class="module menu-category titleLine">
    <div class="categories-listing">
      <h3 class="modtitle">Categories</h3>
      <div class="modcontent">
        <div class="box-category">
          <ul id="cat_accordion" class="list-group">
            {% for item in categories %}
              <li class="{% if loop.index > 5 %}extra-hidden hide {% endif %}{% if item.subcategories|length > 0 %}hadchild {% endif %}">
                <a href="{{ url('products/' ~ item.slug ~ '-supplier-malaysia') }}" class="cutom-parent{% if category.id == item.id %} active{% endif %}">
                  {{ item.title }}
                </a>
                {% if item.subcategories|length > 0 %}
                  <span class="button-view  fa fa-plus-square-o"></span>
                  <ul style="display: block;">
                    {% for subcat in item.subcategories %}
                    <li>
                      <a href="{{ url('products/' ~ item.slug ~ '-supplier-malaysia' ~ '/' ~ subcat.slug) }}"{% if subcategory.id == subcat.id %} class="active"{% endif %}>
                        {{ subcat.title }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
            {% if categories|length > 5 %}
              <div class="text-center" style="margin: 10px 0px;">
                <a href="#" class="btn btn-default btn-more-categories">More categories</a>
              </div>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    {% if hideFilter %}
    {% else %}
    <div id="product-filter" class="filter-panel">
      <h3 class="modtitle">Filter</h3>
      <div class="modcontent">
        <div class="filter-panels">
          <div class="panel">
            <div class="panel-body">
              <button class="btn btn-default btn-block btn-clear-all">Clear All</button>
            </div>
          </div>
          <div class="panel-search">
            <div class="form-group">
              <input type="text" class="form-control keyword-input" name="keyword" placeholder="Search..." value="{{ keyword }}">
            </div>
          </div>
          <div class="panel panel-price">
            <h4 class="panel-title">Price</h4>

            <div class="panel-body">
              <p>RM<input id="price_low" class="price-low" value="{{ filters.price.l }}"> - RM<input id="price_high" class="price-high" value="{{ filters.price.h }}"></p>
              <input id="price_slider" type="text" class="price-slider" value="" data-slider-min="0" data-slider-max="{{ highestPrice }}" data-rslider-step="50" data-slider-value="[{{ filters.price.l }},{{ filters.price.h }}]" data-slider-tooltip="hide">
            </div>
          </div>

          {% if filter_categories %}
            <div class="panel panel-category">
              <a role="button" data-toggle="collapse" href="#product_category" aria-expanded="true" aria-controls="product_category" class="panel-title">
                Category
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>

              <div id="product_category" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                  {% for item in filter_categories %}
                    {% if item.products|length > 0 %}
                      <div class="form-group checkbox">
                        <label>
                          <input type="checkbox" name="categories[]" value="{{ item.id }}"{% if item.id in filters.categories %} checked="checked"{% endif %} />
                          <span class="filter-label">{{ item.title }}</span>
                          <span class="counter">{{ item.products|length }}</span>
                        </label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}

          {% if subcategories %}
            <div class="panel panel-subcategory">
              <a role="button" data-toggle="collapse" href="#product_subcategory" aria-expanded="true" aria-controls="product_subcategory" class="panel-title">
                Subcategory
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>

              <div id="product_subcategory" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                  {% for item in subcategories %}
                    {% if item.products|length > 0 %}
                      <div class="form-group checkbox">
                        <label>
                          <input type="checkbox" name="subcategories[]" value="{{ item.id }}"{% if item.id in filters.subcategories %} checked="checked"{% endif %} />
                          <span class="filter-label">{{ item.title }}</span>
                          <span class="counter">{{ item.products|length }}</span>
                        </label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}

          <div class="panel panel-color">
            <a role="button" data-toggle="collapse" href="#product_color" aria-expanded="true" aria-controls="product_color" class="panel-title">
              Color
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>

            <div id="product_color" class="panel-collapse collapse in" role="tabpanel">
              <div class="panel-body">
                {% for color in colors %}
                  {% if color.products|length > 0 %}
                    <div class="form-group checkbox">
                      <label>
                        <input type="checkbox" name="colors[]" value="{{ color.id }}"{% if color.id in filters.colors %} checked="checked"{% endif %} />
                        <span class="filter-label">{{ color.title }}</span>
                        <span class="counter">
                          {{ color.products|length }}
                        </span>
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>

          {# <div class="panel panel-availability">
            <a role="button" data-toggle="collapse" href="#product_availability" aria-expanded="true" aria-controls="product_availability" class="panel-title">
              Availability
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>

            <div id="product_availability" class="panel-collapse collapse in" role="tabpanel">
              <div class="panel-body">
                <div class="form-group checkbox">
                  <label for="">
                    <input type="checkbox" name="availability[]" value="in-stock"{% if "in-stock" in filters.availability %} checked="checked"{% endif %} />
                    <span class="filter-label">In Stock</span>
                    <span class="counter">{{ inStock.count }}</span>
                  </label>
                </div>
                <div class="form-group checkbox">
                  <label for="">
                    <input type="checkbox" name="availability[]" value="out-of-stock"{% if "out-of-stock" in filters.availability %} checked="checked"{% endif %} />
                    <span class="filter-label">Out Of Stock</span>
                    <span class="counter">{{ outOfStock.count }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div> #}
        </div>

      </div>
    </div>
    {% endif %}
  </div>
</aside>
<!--Left Part End -->

{% put scripts %}
<script src="{{ [
  'assets/vendor/bootstrap-slider/js/bootstrap-slider.min.js',
  'assets/vendor/debounce.js',
  'assets/javascript/products-listing.js',
]|theme }}"></script>
{% endput %}