
<h1>Edit Address</h1>

<div class="row">
  <div class="col-sm-12 col-md-10">
    <form data-request="onUpdateAddress">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="name_shipping">Full Name<span class="required">*</span></label>
            <input type="text" class="form-control" id="name_shipping" name="name_shipping" value="{{ address.name }}" required>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="phone_shipping">Phone<span class="required">*</span></label>
            <input type="text" class="form-control" id="phone_shipping" name="phone_shipping" value="{{ address.telephone }}" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="companyname_shipping">Company Name</label>
        <input type="text" class="form-control" id="companyname_shipping" name="companyname_shipping" value="{{ address.company }}">
      </div>

      <div class="form-group">
        <label for="address1_shipping">Address<span class="required">*</span></label>
        <input type="text" class="form-control" id="address1_shipping" name="address1_shipping" style="margin-bottom: 10px;" maxlength="200" value="{{ address.address_1 }}" required>
        <input type="text" class="form-control" name="address2_shipping" maxlength="200" value="{{ address.address_2 }}">
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="country">Country<span class="required">*</span></label>
            <select class="form-control shipping-select country-select" name="country_shipping" required>
              <option value="">-- Select a country --</option>
              {% for country in countries %}
                <option value="{{ country.id }}" {% if address.country_id == country.id %}selected{% endif %}>{{ country.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="state_shipping">State<span class="required">*</span></label>
            <select class="form-control shipping-zone-select state-select" id="state_shipping" name="state_shipping" required>
              <option value="">-- Select a country first --</option>
            </select>
            <input type="hidden" name="temp_state" value="{{ address.state_id }}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <div class="form-group">
            <label for="city_shipping">City<span class="required">*</span></label>
            <input type="text" class="form-control" id="city_shipping" name="city_shipping" value="{{ address.city }}" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="form-group">
            <label for="postcode_shipping">Postcode<span class="required">*</span></label>
            <input type="text" class="form-control" id="postcode_shipping" name="postcode_shipping" value="{{ address.postcode }}" required>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-warning btn-block">
        Edit Address
      </button>

      <a href="{{ url('/my-account/addresses') }}" class="btn btn-default btn-block">
        Cancel
      </a>
    </form>
  </div>
</div>

{% put scripts %}
<script type="text/javascript">
  $(function () {
    $('form').on('ajaxSuccess', function(event, context, data) {
      if (context.handler == 'onRemoveAddress'){
        if(data.status == "success"){
          swal({
            title: "Removed!",
            text: "Address has been deleted.",
            type: "success",
          });
          $('tr[data-address="' + data.results.id + '"]').remove();

          if ($('.table-address > tbody > tr').length <= 0){
            location.reload();
          }
        }
      }
    });
  });
</script>
{% endput %}