<div class="hidden">
    <FORM method="post" id="ePayment" name="ePayment" action="{{ ipay_entry }}">
        <INPUT type="hidden" name="MerchantCode" value="{{ merchant_code }}" />
        <INPUT type="hidden" name="PaymentId" id="ipayPaymentID" value="" />
        <INPUT type="hidden" name="RefNo" value="{{ refno }}" />
        <INPUT type="hidden" name="Amount" id="ipay_amount" value="{{ grandtotal }}" />
        <INPUT type="hidden" name="Currency" value="{{ currency }}" />
        <INPUT type="hidden" name="ProdDesc" id="product_desc" value="{{ product_desc }}" />
        <INPUT type="hidden" name="UserName" value="{{ user.name }}" />
        <INPUT type="hidden" name="UserEmail" value="{{ user.email }}" />
        <INPUT type="hidden" name="UserContact" value="{{ user.contact_no }}" />
        <INPUT type="hidden" name="Remark" value="" />
        <INPUT type="hidden" name="Lang" value="" />
        <INPUT type="hidden" name="SignatureType" value="SHA256">
        <INPUT type="hidden" name="Signature" id="ipay_signature" value="{{ signature }}" />
        <INPUT type="hidden" name="ResponseURL" value="{{ return }}">
        <INPUT type="hidden" name="BackendURL" value="{{ backend_check }}">
        <INPUT type="submit" value="Proceed with Payment" name="Submit">
    </FORM>
</div>