<div data-control="toolbar">
    <a
        href="<?= Backend::url('ig/commerce/product/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Product
    </a>

    <a
        href="<?= Backend::url('ig/commerce/product/import') ?>"
        class="btn btn-primary oc-icon-download">
        Import Product
    </a>

    <a
        href="<?= Backend::url('ig/commerce/product/export') ?>"
        class="btn btn-primary oc-icon-external-link">
        Export Product
    </a>

    <button
        class="btn btn-success oc-icon-refresh"
        data-request="onProcess"
        data-request-success='swal({
          title: "Success!",
          text : "Lowest Price & Highest Price of the products have been processed.",
          type : "success",
        });'
        data-stripe-load-indicator
    >
        Process Product
    </button>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Products?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>
</div>
