<?= Form::open(['class' => 'layout']) ?>

<div class="form-group">
    <label>Please select the category of products that you would like to export:</label>
    <select class="form-control" name="export_category">
        <option value="">-- Please choose one --</option>
        <?php
          foreach ($categories as $category) {
            echo '<option value="' . $category->slug . '">' . $category->title . '</option>';
          }
        ?>
        <option value="no-category">No Category</option>
    </select>
</div>

<div class="form-buttons">
    <button
            data-control="popup"
            data-keyboard="false"
            data-request="onExportRecords"
            class="btn btn-primary">
        Export products
    </button>
</div>

<?= Form::close() ?>