<?php if($model->billing): ?>
<table class="table">
    <tr>
        <td>Full Name</td>
        <td><?= $model->billing->name ?></td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td><?= $model->billing->telephone ?></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><?= $model->billing->address_1 ." ". $model->billing->address2 ?></td>
    </tr>
    <tr>
        <td>Postcode</td>
        <td><?= $model->billing->postcode ?></td>
    </tr>
    <tr>
        <td>City</td>
        <td><?= $model->billing->city ?></td>
    </tr>
    <tr>
        <td>Region</td>
        <td><?= $model->billing->state->name ?></td>
    </tr>
    <tr>
        <td>Country Code</td>
        <td><?= $model->billing->country->name ?></td>
    </tr>
</table>
<?php endif ?>