<?php if($model->address): ?>
<table class="table">
    <tr>
        <td>Full Name</td>
        <td><?= $model->address->name ?></td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td><?= $model->address->telephone ?></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><?= $model->address->address_1 ." ". $model->address->address2 ?></td>
    </tr>
    <tr>
        <td>Postcode</td>
        <td><?= $model->address->postcode ?></td>
    </tr>
    <tr>
        <td>City</td>
        <td><?= $model->address->city ?></td>
    </tr>
    <tr>
        <td>Region</td>
        <td><?= $model->address->state->name ?></td>
    </tr>
    <tr>
        <td>Country Code</td>
        <td><?= $model->address->country->name ?></td>
    </tr>
</table>
<?php endif ?>