<table class="table">
    <?php if($payment): ?>
    <tr>
        <td>Transaction ID</td>
        <td><?= $payment->ipay->transaction_no ?></td>
    </tr>
    <tr>
        <td>Auth Code</td>
        <td><?= $payment->ipay->auth_code ?></td>
    </tr>
    <tr>
        <td>Status</td>
        <td><?= $payment->ipay->status ?></td>
    </tr>
    <tr>
        <td>Error</td>
        <td><?= $payment->ipay->err_des ?></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><?= $payment->ipay->created_at ?></td>
    </tr>
    <?php else: ?>
    <tr>
        <td>No Payment</td>
    </tr>
    <?php endif ?>
</table>