<div data-control="toolbar">
    <!-- <a
        href="<?= Backend::url('ig/transact/order/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Order
    </a> -->

    <a
        href="<?= Backend::url('ig/transact/order/report') ?>"
        class="btn btn-primary oc-icon-file-text">
        Generate Sales Report
    </a>

    <div class="row">
        <div id="calendar-range-container" class="col-xs-12"></div>
    </div>

    <!-- <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Orders?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button> -->

    
</div>

<script>
    $(function(){
        require(["ready", "topic"], function(ready, topic){
            ready(function()
            {
                topic.subscribe("app.ready", function(){
                    Fac.spawn("Calendar", dom.byId("calendar-range-container"),{
                        df: "<?= e($datefrom) ?>",
                        dt: "<?= e($dateto) ?>",
                        tf: "<?= e($timefrom) ?>",
                        tt: "<?= e($timeto) ?>",
                        controllerURL: "<?=  e($controllerURL) ?>"
                    });
                });
            });
        });
    });
</script>
