<table class="table">
    <tr>
        <td>Order ID</td>
        <td><?= $order->invoice_no ?></td>
    </tr>
    <?php if($order->tracking_no && $order->courier): ?>
    <tr>
        <td>Courier</td>
        <td><?= $order->courier ?></td>
    </tr>
    <tr>
        <td>Tracking No.</td>
        <td><?= $order->tracking_no ?></td>
    </tr>
    <?php endif ?>
    <?php if($order->user): ?>
    <tr>
        <td>Profile</td>
        <td><?= $order->user->name ?></td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td><?= $order->user->contact_no ?></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><?= $order->user->email ?></td>
    </tr>
    <?php endif ?>
</table>
