<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
  <div class="form-group widget-field span-left">
    <a href="/backend/ig/transact/order/range" class="btn btn-primary oc-icon-angle-double-left">
      Back to Orders Listing
    </a>
  </div>
  

  <div class="form-group  widget-field span-left" data-field-name="start_date" id="Form-field-Order-start_date-group">
    <label for="Form-field-Order-start_date">
      Start Date
    </label>

    <!-- Widget -->

    <div id="DatePicker-formStartDate-start_date" class="field-datepicker" data-control="datepicker" data-disposable="">

      <!-- Date -->
      <div class="input-with-icon right-align">
        <i class="icon icon-calendar-o"></i>
        <input type="text" id="DatePicker-formStartDate-date-start_date" class="form-control align-right" autocomplete="off" data-datepicker="">
      </div>

      <!-- Data locker -->
      <input type="hidden" name="Order[start_date]" id="Form-field-Order-start_date" value="" data-datetime-value="">

    </div>
  </div>


  <div class="form-group  widget-field span-right   " data-field-name="end_date" id="Form-field-Order-end_date-group">
    <label for="Form-field-Order-end_date">
      End Date
    </label>

    <!-- Widget -->

    <div id="DatePicker-formEndDate-end_date" class="field-datepicker" data-control="datepicker" data-disposable="">

        <!-- Date -->
        <div class="input-with-icon right-align">
            <i class="icon icon-calendar-o"></i>
            <input type="text" id="DatePicker-formEndDate-date-end_date" class="form-control align-right" autocomplete="off" data-datepicker="">
        </div>

        <!-- Data locker -->
        <input type="hidden" name="Order[end_date]" id="Form-field-Order-end_date" value="" data-datetime-value="">

    </div>
  </div>

  <div class="form-group widget-field span-left">
    <button type="submit" data-control="popup" data-handler="onGenerateReport" data-keyboard="false" class="btn btn-primary">
      Generate Sales Report
    </button>
  </div>

</div>

<div class="form-buttons">
</div>

<?= Form::close() ?>
