<div class="content">
    <div class="company-logo">
      <img src="https://www.igpremium.com.my/themes/demo/assets/images/logo.png" alt="">
    </div>

    <div class="company-info">
      <p>
        <strong class="company-name">IG PREMIUM SDN BHD</strong> (737413-T)<br>
        LOT 1-30, 31 & 32, Jalan TTC 2, Kawasan Perindustrian Cheng, 75250 Melaka.<br>
        Tel No : 06-3377 733/723 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax No : 06-3377 722<br>
        <strong>(GST No.: 000950337536)</strong><br><br>
      </p>

      <table class="branches">
        <tr>
          <td class="col-1">KL Branch: </td>
          <td class="col-2">
            No. 50-1, Jalan PJU 1/3B, Sunwaymas Commercial Centre, 47301 Petaling Jaya, Selangor.<br>
            Tel No : 03-7805 7821 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax No : 03-7805 7825<br>
          </td>
        </tr>
        <tr>
          <td class="col-1">Puchong Branch: </td>
          <td class="col-2">
            No. 6G, Jalan OP 1/5, Pusat Perdagangan One Puchong, 47160 Puchong, Selangor.<br>
            Tel No : 03-8079 0986 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax No : 03-8079 0987<br>
          </td>
        </tr>
      </table>
    </div>

    <div class="invoice-desc">
      <table class="invoice-header">
        <tr>
          <td class="col-1">
            <h1>Tax Invoice</h1>
          </td>
          <td class="col-2">
            <table class="float-right">
              <tr>
                <td class="text-left">Invoice Date: </td>
                <td class="text-right">{{ order.invoiced_at|date('d.m.Y', 'Asia/Kuala_Lumpur') }}</td>
              </tr>
              <tr>
                <td class="text-left">Invoice No. :</td>
                <td class="text-right">{{ order.invoice_no }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table class="addresses">
        <tr>
          <td class="col-1">
            <h5>Ship to: </h5>
            <p>
              <strong>{{ delivery.name }}</strong><br>
              {% if delivery.company %}
                <strong>{{ delivery.company }}</strong><br>
              {% endif %}
              {{ delivery.address_1 }}<br>
              {% if delivery.address_2 %}
                {{ delivery.address_2 }}<br>
              {% endif %}
              {{ delivery.city ? delivery.city ~ ', ' : null }}
              {{ delivery.postcode }} {{ delivery.state.name }}, {{ delivery.country.name }}.<br>
              {% if delivery.telephone %}
                {{ delivery.telephone }}<br>
              {% endif %}
            </p>
          </td>
          <td class="col-1">
            <h5>Bill to: </h5>
            <p>
              <strong>{{ billing.name }}</strong><br>
              {% if billing.company %}
                <strong>{{ billing.company }}</strong><br>
              {% endif %}
              {{ billing.address_1 }}<br>
              {% if billing.address_2 %}
                {{ billing.address_2 }}<br>
              {% endif %}
              {{ billing.city ? billing.city ~ ', ' : null }}
              {{ billing.postcode }} {{ billing.state.name }}, {{ billing.country.name }}.<br>
              {% if billing.telephone %}
                {{ billing.telephone }}<br>
              {% endif %}
            </p>
          </td>
        </tr>
      </table>
    </div>
    <br>

    <div class="extra-info">
      <p>Confirmed Order No. : #{{ order.id }}</p>
      <p>Order Date: {{ order.invoiced_at|date('d-m-Y  g:iA', 'Asia/Kuala_Lumpur') }}</p>
    </div>
    <table class="summary" style="margin-top: 0px;">
        <tr>
            <th>No.</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>Qty.</th>
            <th class="text-right">Unit Price ({{ calculated.currency.unit }})</th>
            <th class="br-none text-right">Total ({{ calculated.currency.unit }})</th>
        </tr>
        <tr>
          <td class="col-1"></td>
          <td class="col-2"></td>
          <td class="col-3"></td>
          <td class="col-4"></td>
          <td class="col-5"></td>
          <td class="col-6"></td>
        </tr>
        {% for orderitem in order.orderitems %}
          {% set counter = 1 %}
          {% set product = orderitem.product %}
          {% if product %}
          <tr>
            <td class="col-1 text-left">{{ counter }}.</td>
            <td class="col-2 text-left">{{ product.sku }}</td>
            <td class="col-3 text-left">
              <p class="title">{{ product.title }}</p>
              {% if product.product_type == 'NORMAL' %}
              {% elseif product.product_type == 'COLOR' %}
                <p class="desc">{{ orderitem.itemstocks[0].color.title }}</p>
              {% elseif product.product_type == 'OPTION' %}
                <p class="desc">{{ orderitem.itemstocks[0].option.title }}{% if orderitem.itemstocks[0].stock.color %} - {{ orderitem.itemstocks[0].stock.color.title }}{% endif %}</p>
              {% elseif product.product_type == 'BUNDLE' %}
                {% for item in orderitem.itemstocks %}
                  <p class="desc">{{ item.option.title }} - {{ item.stock.color.title }}</p>
                {% endfor %}
              {% endif %}
            </td>
            <td class="col-4 text-center">
              {{ orderitem.quantity }}
            </td>
            <td class="col-5">
              {{ orderitem.unit_price|number_format(2) }}
            </td>
            <td class="col-6">
              {{ (orderitem.quantity * orderitem.unit_price)|number_format(2) }}
            </td>
          </tr>
          {% else %}
            <tr>
              <td class="col-1"></td>
              <td class="col-2"></td>
              <td class="col-3"></td>
              <td class="col-4"></td>
              <td class="col-5"></td>
              <td class="col-6"></td>
            </tr>
          {% endif %}
          {% set counter = counter + 1 %}
        {% endfor %}
        <tr class="sum-price">
            <td colspan="5" class="col-5 bt">Subtotal</td>
            <td class="col-6">{{ calculated.subtotal.formatted }}</td>
        </tr>
        <tr class="sum-price">
            <td colspan="5" class="col-5">Shipping Fee</td>
            <td class="col-6">{{ calculated.delivery_charge.formatted }}</td>
        </tr>
        {% if calculated.discount.total > 0 %}
          <tr class="sum-price">
              <td colspan="5" class="col-5">Discount</td>
              <td class="col-6">{{ calculated.discount.formatted }}</td>
          </tr>
        {% endif %}
        <tr class="sum-price">
            <td colspan="5" class="col-5">Tax (GST 0%)</td>
            <td class="col-6">{{ calculated.tax.formatted }}</td>
        </tr>
        <tr class="sum-price">
            <td colspan="5" class="col-5 sum-total">
              <strong>Total</strong><br>
            </td>
            <td class="col-6"><strong>{{ calculated.grand.formatted }}</strong></td>
        </tr>
    </table>

    <div class="note">
      <p>
        <strong>Note:</strong><br>
        Goods sold are neither returnable nor refundable.
      </p>
    </div>

    <div class="signature">
      <p>This is computer generated invoice, no signature required.</p>
    </div>
</div>