@font-face {
  font-family: 'Open Sans';
  src: url('plugins/renatio/dynamicpdf/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('plugins/renatio/dynamicpdf/assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url('plugins/renatio/dynamicpdf/assets/fonts/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: url('plugins/renatio/dynamicpdf/assets/fonts/OpenSans-BoldItalic.ttf');
}

@page {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
}

.header {
  position: fixed;
  top: 3%;
  left: 30%;
}

.header .left {
  color: #373430;
  font-size: .9em;
  text-transform: uppercase;
  width: 60%;
  display: inline-block;
}

.header .right {
  font-size: .7em;
  color: #545554;
  line-height: 1em;
  text-align: right;
  display: inline-block;
  width: 30%;
  padding-top: 1%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 5%;
  height: 12%;
  font-size: .7em;
  color: #545554;
  line-height: 1em;
}

.footer .left {
  display: inline-block;
  width: 25%;
}

.footer .right {
  display: inline-block;
  width: 30%;
  padding-top: 7%;
}

.content {
  margin: 5% 5%;
}

.small-txt {
  font-size: .7em;
}

.company-logo {
  display: inline-block;
  padding: 5%;
  text-align: center;
  width: 20%;
}

.company-logo img{
  width: 100%;
}

.company-info {
  display: inline-block;
  width: 80%;
  font-size: .9em;
}

.company-info .company-name{
  font-size: 18px;
}

.invoice-header{
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.invoice-header h1{
  margin: 0;
}

.invoice-header .col-1{
  /* padding-bottom: 10px; */
  vertical-align: middle;
  width: 60%;
  padding-bottom: 10px;
}

.invoice-header .col-2{
  vertical-align: middle;
  width: 40%;
  padding-bottom: 10px;
}

.invoice-header .col-2 .text-right {
  padding-left: 15px;
}

.branches {
  width: 100%;
  font-size: 10px;
}

.branches .col-1 {
  width: 20%;
  vertical-align: top;
}

.branches .col-2 {
  width: 80%;
  vertical-align: top;
}

.addresses {
  width: 100%;
}

.addresses h5 {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0px;
}
.text-left{
  text-align: left;
}
.float-right{
  float: right;
}
.text-right{
  text-align: right;
}
.addresses p {
  margin-top: 0px;
}

.addresses .col-1,
.addresses .col-2{
  width: 50%;
  vertical-align: top;
}

.extra-info {
  display: flex;
  margin-top: 15px;
  margin-bottom: -30px;
  flex-direction: row;
  justify-content: space-between;
}

.extra-info p {
  margin-bottom: 0px;
}

.extra-info p:last-child {
  text-align: right;
}

.summary {
  width: 100%;
  border-collapse: collapse;
}

.summary th {
  background-color: #ddd;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px 10px;
  white-space: nowrap;
}

.summary .br-none{
  border-right: 0px;
}

.summary td {
  padding: 5px 10px;
  border: 0px;
  border-right: 1px solid #aaa;
}

.summary .col-1 {
  width: 5%;
  text-align: center;
  border-left: 0px;
}

.summary .col-2 {
  width: 10%;
  text-align: center;
}

.summary .col-3 {
  width: auto;
  min-width: 30%;
}

.summary .col-4 {
  width: 5%;
  text-align: center;
}

.summary .col-5 {
  width: 15%;
  text-align: right;
}

.summary .col-6 {
  width: 15%;
  border-right: 0px;
  text-align: right;
}

.summary .bt {
  border-top: 1px solid #aaa;
}

.summary .title{
  white-space: nowrap;
}

.summary .sum-price .col-5{
  text-align: right;
}

.summary .sum-price .col-6 {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: right;
}

.gst-line{
  font-size: 12px;
  font-style: italic;
}
.sum-total{
  font-size: 16px;
}
.note {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 10px;
}

.signature{
  border-top: 1px solid #aaa;
  text-align: center;
}

.signature p {
  margin-top: 10px;
  font-size: 12px;
}