{% if results.count %}
    <div class="autocomplete-wrapper">
        
        <div class="search-results-wrapper">
            <h6>Products</h6>
            {# {% for result in results | slice(0, __SELF__.autoCompleteResultCount) %} #}
            {% for result in results %}
                {% partial __SELF__ ~ '::searchresult.htm' result = result.model %}
            {% endfor %}
        </div>

        {% if __SELF__.searchPage %}
            <p class="ss-show-all-results">
                <a href="{{ url('search') }}?q={{ query|url_encode(true) }}">
                    Show more &raquo;
                </a>
            </p>
        {% endif %}
    </div>
{% else %}
    {# No results found #}
    {#<p>Your search for {{ query }} returned no results.</p>#}
{% endif %}