<div class="ss-autocomplete-result__title">
    <a href="{{ url('product') }}/{{ result.slug }}">
        <h3 class="search-product-title">{{ result.title | raw }}</h3>
        <div class="price">
            {% if result.displayPrice.price <= 0 %}
              {% if not result.hasStock %}
                <span class="price-new">Out of Stock</span>
              {% else %}
                <span class="price-new">Not Available</span>
              {% endif %}
            {% else %}
              {% if result.available and result.hasStock %}
                <span class="price-new">{{ result.displayPrice.currency }}{{ result.displayPrice.price|number_format(2,".",",") }}</span>
                {% if result.displayPrice.rrp > 0 %}
                  <span class="price-old">{{ result.displayPrice.currency }}{{ result.displayPrice.rrp }}</span>
                {% endif %}
              {% elseif result.available and not result.hasStock %}
                <span class="price-new">Out of Stock</span>
              {% else %}
                <span class="price-new">Not Available</span>
              {% endif %}
            {% endif %}
        </div>
    </a>
</div>