<form action="{{ __SELF__.searchPage | page }}?q={{ query | url_encode(true) }}" method="get" class="ss-search-form">
    <div id="search0" class="search ss-search-form__input input-group">
      <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Enter keywords to search..." name="q"
        {% if __SELF__.useAutoComplete %}
            data-track-input
            data-request="onType"
            data-request-before-update="document.getElementById('autocomplete-results').classList.add('ss-search-form__results--visible')"
            data-request-update="'{{ __SELF__ }}::autocomplete': '#autocomplete-results'"
        {% endif %}
      >
      <span class="input-group-btn">
        <button type="submit" class="button-search btn btn-primary ss-search-form__submit" name="submit_search">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
    <div class="ss-search-form__results" id="autocomplete-results"></div>
</form>