<div class="ss-autocomplete-result__aside">
    <a href="{{ url('product') }}/{{ result.slug }}">
        {% if result.displayImage %}
            <div class="ss-autocomplete-result__image" style="background-image: url('{{ result.displayImage }}')"></div>
        {% else %}
            <div class="ss-autocomplete-result__image"></div>
        {% endif %}
    </a>
</div>