<h1>Order History</h1>

<table class="table table-orders table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Invoice</th>
      <th>Order History</th>
      <th>Payment</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ loop.index }}.</td>
        <td class="text-nowrap">
          <span class="invoice-no">{{ order.invoice_no }}</span>
          <br>{{ order.invoiced_at|date('j/m/Y h:i A', 'Asia/Kuala_Lumpur') }}
        </td>
        <td>
          <table class="table order-summary">
            <tbody>
            {% for orderitem in order.orderitems %}
              <tr>
                <td>
                  {% if orderitem.product.product_type == 'COLOR' %}
                    <img src="{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}" alt="" class="thumb">
                  {% elseif orderitem.product.product_type == 'OPTION' %}
                    <img src="{{ orderitem.itemstocks[0].stock.displayImage|resize(350, 450) }}" alt="" class="thumb">
                  {% else %}
                    <img src="{{ orderitem.product.displayImage|resize(350, 450) }}" alt="" class="thumb">
                  {% endif %}
                </td>
                <td class="product-desc">
                  {% set product = orderitem.product %}
                  {% if product %}
                    {{ orderitem.product.title }}
                    {% if orderitem.product.product_type == 'NORMAL' %}
                    {% elseif orderitem.product.product_type == 'COLOR' %}
                      <p class="desc">{{ orderitem.itemstocks[0].color.title }}</p>
                    {% elseif orderitem.product.product_type == 'OPTION' %}
                      <p class="desc">{{ orderitem.itemstocks[0].option.title }}{% if orderitem.itemstocks[0].stock.color %} - {{ orderitem.itemstocks[0].stock.color.title }}{% endif %}</p>
                    {% elseif orderitem.product.product_type == 'BUNDLE' %}
                      {% for item in orderitem.itemstocks %}
                        <p class="desc">{{ item.option.title }} - {{ item.stock.color.title }}</p>
                      {% endfor %}
                    {% endif %}
                    <div class="price">
                      {% if orderitem.displayPrice['price'] <= 0 %}
                        <span class="price-new">Out of Stock</span>
                      {% else %}
                          <span class="price-new">{{ orderitem.displayPrice['currency'] }}{{ orderitem.unit_price|number_format(2,".",",") }}</span>
                        {% if orderitem.displayPrice['rrp'] > 0 %}
                          <span class="price-old">{{ orderitem.displayPrice['currency'] }}{{ orderitem.displayPrice['rrp'] }}</span>
                        {% endif %}
                      {% endif %}
                    </div>
                  {% else %}
                    Product Not Found **
                    <h5>We have discontinued this product</h5>
                  {% endif %}
                </td>
                <td class="quantity">
                  x{{ orderitem.quantity }}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </td>
        <td><span class="total-amount">{{ order.payment.currency.unit }}{{ order.payment.total|number_format(2,".",",") }}</span></td>
        <td><p class="status {{ order.orderstatus.slug }}">{{ order.orderstatus.title }}</p></td>
        <td>
          <a href="{{ 'receipt/'|app }}/{{ order.hexhash }}" class="btn btn-default">VIEW</a>
          {# <a href="#" onclick="printthis('{{ order.hexhash }}')">DOWNLOAD</a> #}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% put scripts %}
<script>
  function printthis(hexhash){
    swal({
      title: "Requesting Receipt",
      text: "Getting receipt information, please wait...",
      type: "info",
      timer: 5000,
      showCancelButton: false,
      showConfirmButton: false
    });

    $('#printFrame').remove();

    $('<iframe />');
    $('<iframe />', {
      name: 'printFrame',
      id: 'printFrame',
      src: '/orders/receipt/'+ hexhash
    }).appendTo('body');
  }
</script>
{% endput %}