{% if home_policies|length > 0 %}
  <div id="content-top" class="clearfix hidden-xs">
    <div class="module customhtml ">
      <div class="modcontent clearfix">
        <div class="services-v1">
          {% for policy in home_policies %}
            <div class="policy col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="policy-inner" data-mh="policy">
                {% if policy.icon_image %}
                  <div class="policy-icon-image" style="background-image: url({{ policy.icon_image.getPath() }})"></div>
                {% elseif policy.icon %}
                  <i class="policy-icon fa {{ policy.icon }}">
                {% endif %}
                <div class="policy-description">
                  {{ policy.description|raw }}
                </div>
              </div>
            </div>
          {% endfor %}
          {# <div class="policy policy1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="policy-inner">
              <span class="ico-policy"></span>
              <h2>30 days return</h2>
              money back
            </div>
          </div>
          <div class="policy policy2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="policy-inner">
              <span class="ico-policy"></span>
              <h2>free shipping</h2>on orders over RM500
            </div>
          </div>
          <div class="policy policy3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="policy-inner">
              <span class="ico-policy"></span>
              <h2>lowest price</h2>guarantee 
            </div>
          </div>
          <div class="policy policy4 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="policy-inner">
              <span class="ico-policy"></span>
              <h2>safe shopping</h2>guarantee
            </div>
          </div> #}
        </div>
      </div>
    </div>
  </div>
{% endif %}