title = "Profile"
url = "/my-account/profile"
layout = "master"
is_hidden = 0

[session]
security = "user"
redirect = "home"

[accountOverview]
==
{% put styles %}
    <link href="{{ [
        'assets/css/account.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-account" class="main">
  <section>
    <div class="container">
      <div class="row">
        {% partial 'site/account-sidebar' %}

        <div class="col-xs-12 col-sm-8 col-md-7">
          {% component 'accountOverview' %}
        </div>
      </div>
    </div>
  </section>
</main>