title = "Addresses"
url = "/my-account/addresses"
layout = "master"
is_hidden = 0

[session]
security = "user"
redirect = "home"

[userAddress]
==
{% put styles %}
  <link href="{{ [
      'assets/css/account.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-account" class="main">
  <section>
    <div class="container">
      <div class="row">
        {% partial 'site/account-sidebar' %}

        <div class="col-xs-12 col-sm-8 col-md-9">
          {% component 'userAddress' %}
        </div>
      </div>
    </div>
  </section>
</main>