title = "Addresses"
url = "/my-account/addresses/edit/:addressId"
layout = "master"
is_hidden = 0

[session]
security = "user"
redirect = "home"

[editAddress]
==
{% put styles %}
  <link href="{{ [
      'assets/css/account.css',
  ]|theme }}" rel="stylesheet">
{% endput %}

<main id="page-account" class="main">
  <section>
    <div class="container">
      <div class="row">
        {% partial 'site/account-sidebar' %}

        <div class="col-xs-12 col-sm-8 col-md-9">
          {% component 'editAddress' %}
        </div>
      </div>
    </div>
  </section>
</main>


{% put scripts %}
  <script src="{{ 'assets/javascript/account.js'|theme }}"></script>
{% endput %}