title = "Forgot Password"
url = "/auth/forgot-password/:code?"
layout = "master"
is_hidden = 0

[authentication]

[sociallogin]

[forgotPassword]
paramCode = "code"
==
{% put styles %}
    <link href="{{ [
        'assets/css/auth.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<div id="page-auth">
  <section class="auth-methods">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
          {% component 'forgotPassword' %}
        </div>
      </div>
    </div>
  </section>
</div>