title = "Login"
url = "/auth/login"
layout = "master"
is_hidden = 0

[authentication]

[sociallogin]

[account]
paramCode = "code"
forceSecure = 0
==
{% put styles %}
    <link href="{{ [
        'assets/css/auth.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<div id="page-auth">
  <section class="auth-methods">
    <div class="container">
      <div class="row">
        {# <div class="col-xs-12 col-sm-6 col-md-6 left" data-match-height="auth-method"> #}
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          <h1>Login</h1>
          <form data-request="onSignin" data-request-data="redirect: '/'">
            <div class="form-group">
              <input type="email" class="form-control" id="login" name="login" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <a href="{{ url('auth/forgot-password') }}" class="forgot-password">Forgot Password?</a>

            <div class="auth-button">
              <button type="submit" class="btn btn-default btn-auth">Login</button>
              <p>Not a member yet? <a href="{{ url('auth/signup') }}">Sign up</a> now!</p>
            </div>
          </form>
        </div>
        {# <span class="or">or</span>
        <div class="col-xs-12 col-sm-6 col-md-6 right" data-match-height="auth-method">
          <div class="connect-fb">
            <h2>Connect with Facebook</h2>
            <p>Have a Facebook account? Connect with it now!</p>
            {% for name, link in social_login_links %}
              {% if name == "Facebook" %}
                <a href="{{ link }}" class="btn btn-connect btn-login-fb"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with {{ name }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div> #}
      </div>
    </div>
  </section>
</div>

{% put scripts %}
<script src="{{ [
    'assets/vendor/jquery-match-height/jquery.matchHeight-min.js',
]|theme }}"></script>
{% endput %}