title = "Sign up"
url = "/auth/signup"
layout = "master"
is_hidden = 0

[authentication]

[sociallogin]

[account]
paramCode = "code"
forceSecure = 0
==
{% put styles %}
    <link href="{{ [
        'assets/css/auth.css',
    ]|theme }}" rel="stylesheet">
{% endput %}

<div id="page-auth">
  <section class="auth-methods">
    <div class="container">
      <div class="row">
        {# <div class="col-xs-12 col-sm-6 col-md-6 left" data-match-height="auth-method"> #}
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          <h1>Sign up</h1>
          <form class="register-form" data-request="onRegister" data-request-data="redirect: '/'">
            <div class="form-group">
              <label for="full-name">Full Name<span class="required">*</span></label>
              <input type="text" class="form-control" id="full-name" name="name" placeholder="Enter your full name (eg. John Smith)" required>
            </div>
            <div class="form-group">
              <label for="email">Email<span class="required">*</span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email (this will be used for login)" required>
            </div>
            <div class="form-group">
              <label for="password">Password<span class="required">*</span></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
              <label for="contact-no">Contact No.<span class="required">*</span></label>
              <input type="text" class="form-control" id="contact-no" name="contact_no" placeholder="Enter your contact no. (eg. +60123456789)" required>
            </div>
            <div class="form-group">
              <label for="company-name">Company Name</label>
              <input type="text" class="form-control" id="company-name" name="company" placeholder="Enter your company name (Optional)">
            </div>

            <div class="auth-button">
              <button type="submit" class="btn btn-warning btn-auth">Register</button>
              <p>Already a member? <a href="{{ url('auth/login') }}">Log in</a> now!</p>
            </div>
          </form>
        </div>
        {# <span class="or">or</span>
        <div class="col-xs-12 col-sm-6 col-md-6 right" data-match-height="auth-method">
          <div class="connect-fb">
            <h2>Connect with Facebook</h2>
            <p>Have a Facebook account? Connect with it now!</p>
            {% for name, link in social_login_links %}
              {% if name == "Facebook" %}
                <a href="{{ link }}" class="btn btn-connect btn-login-fb"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with {{ name }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div> #}
      </div>
    </div>
  </section>
</div>

{% put scripts %}
<script src="{{ [
    'assets/vendor/jquery-match-height/jquery.matchHeight-min.js',
]|theme }}"></script>
{% endput %}