subject = "Welcome to IG Premium!"
description = "Welcome email"
==

Dear {{ name }},

Thank you for registering with us! This email confirms your successful registration at IGPremium.com.my. 

You can now start shopping at igpremium.com.my, where you find the largest and cheapest collection of premium corporate gifts and souvenirs!

Thanks for choosing IG Premium!


Best Regards,
IG Premium

For Customer Service, Call (+60) 6-3377 733 / 23 (M-F 9:00am-6:00pm)
Email: support@igpremium.com.my
Web: www.igpremium.com.my


Disclaimer:
Any person receiving this email and any attachment(s) contained, shall treat the information as confidential and not misuse, copy, disclose, distribute or retain the information in any way that amounts to a breach of confidentiality. If you are not the intended recipient, please delete all copies of this email from your computer system.


Copyright &copy; 2017 IG Premium Sdn Bhd. All rights reserved.

This is an automated email, please do not reply. Replies to this message are routed to an unmonitored mailbox.
==
<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">

      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="center" valign="top">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <img src="{{ message.embed('themes/demo/assets/images/logo.png') }}" width="150" height="" style="margin:0; padding:0; border:none; display:block;" border="0" alt="" /> 
                </td>
              </tr>
              <tr>
                <td height="10" style="font-size:10px; line-height:10px; border-bottom: 1px solid #f2f2f2;">&nbsp;</td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
              </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <p style="font-size: 15px; margin-bottom: 15px;">Dear <strong>{{ name }}</strong>,</p>

                  <p style="font-size: 15px; margin-bottom: 15px;">Thank you for registering with us! This email confirms your successful registration at <a href="https://www.igpremium.com.my" target="_blank" style="color:#66cccc; text-decoration:underline;">IGPremium.com.my</a>. </p>

                  <p style="font-size: 15px; margin-bottom: 15px;">You can now start shopping at <a href="https://www.igpremium.com.my" target="_blank" style="color:#66cccc; text-decoration:underline;">igpremium.com.my</a>, where you find the largest and cheapest collection of premium corporate gifts and souvenirs!</p>

                  <p style="font-size: 15px; margin-bottom: 15px;">Thanks for choosing IG Premium!</p>

                  <p style="font-size: 15px; line-height: 1.4; margin-bottom: 15px;">
                  <br>Best Regards,
                  <br><strong><span style="color: #24303e; font-style: italic; font-size: 18px;">IG Premium</strong></p>

                  <p style="font-size: 13px; line-height: 1.3;">
                  For Customer Service, Call (+60) 6-3377 733 / 23 (M-F 9:00am-6:00pm)
                  <br>Email: <a href="mailto:support@igpremium.com.my" target="_blank" style="color:#66cccc; text-decoration:underline;">support@igpremium.com.my</a>
                  <br>Web: <a href="https://www.igpremium.com.my" target="_blank" style="color:#66cccc; text-decoration:underline;">www.igpremium.com.my</a></p>

                  <p style="font-size: 12px; line-height: 1.2; margin-bottom: 15px;">
                  <br>Disclaimer:
                  <br>Any person receiving this email and any attachment(s) contained, shall treat the information as confidential and not misuse, copy, disclose, distribute or retain the information in any way that amounts to a breach of confidentiality. If you are not the intended recipient, please delete all copies of this email from your computer system.</p>
                </td>
              </tr>
              <tr>
                <td height="10" style="font-size:10px; line-height:10px; border-bottom: 1px solid #f2f2f2;">&nbsp;</td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
              </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <p style="color: #999; font-size: 13px; text-align: center; margin-bottom: 10px;">Copyright &copy; 2017 IG Premium Sdn Bhd. All rights reserved.</p>
                  <p style="color: #999; font-size: 12px; line-height: 1; text-align: center;">This is an automated email, please do not reply. Replies to this message are routed to an unmonitored mailbox.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
  </tr>
</table>